<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

{% capture data %}
 {
   "type": "{{ section.settings.type }}",
   "autoplay": {{ section.settings.autoplay }},
   "pagination": {{ section.settings.show_dots }},
   "pauseOnHover": {{ section.settings.pause }},
   "interval": {{ section.settings.interval }}
 }
{% endcapture %}

{%- if section.blocks.size > 0 -%}
<div class="splide" data-splide='{{ data }}'>
	<div class="splide__track">
		<ul class="splide__list">
            {%- for block in section.blocks -%}
			<li class="splide__slide">
                <div class="{% if block.settings.image == blank %}bc-slide-placeholde placeholde{% else %}media{% endif %}"
                    {% if block.settings.image != blank %}style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}>
                    {%- if block.settings.image != blank -%}
                        <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                            {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                            {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                            {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                            {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                            {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
                            src="{{ block.settings.image | img_url: '533x' }}"
                            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                            class="bc-slide-image {% if block.settings.m_image != blank %}bc-slide-image-deskot{% endif %}"
                        />
                        {%- if block.settings.m_image != blank -%}
                        <img srcset="{%- if block.settings.m_image.width >= 165 -%}{{ block.settings.m_image | img_url: '165x' }} 165w,{%- endif -%}
                            {%- if block.settings.m_image.width >= 360 -%}{{ block.settings.m_image | img_url: '360x' }} 360w,{%- endif -%}
                            {%- if block.settings.m_image.width >= 535 -%}{{ block.settings.m_image | img_url: '535x' }} 535w,{%- endif -%}
                            {%- if block.settings.m_image.width >= 720 -%}{{ block.settings.m_image | img_url: '720x' }} 720w,{%- endif -%}
                            {%- if block.settings.m_image.width >= 940 -%}{{ block.settings.m_image | img_url: '940x' }} 940w,{%- endif -%}
                            {%- if block.settings.m_image.width >= 1070 -%}{{ block.settings.m_image | img_url: '1070x' }} 1070w{%- endif -%}"
                            src="{{ block.settings.m_image | img_url: '533x' }}"
                            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ block.settings.m_image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.m_image.width }}"
                            height="{{ block.settings.m_image.height }}"
                            class="bc-slide-image bc-slide-image-mobile"
                        />
                        {%- endif -%}
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                </div>
            </li>
            {%- endfor -%}
		</ul>
	</div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "slider",
  "settings": [
    {
      "type": "select",
      "id": "type",
      "label": "Type",
      "options": [
        {
          "label": "Slide",
          "value": "slide"
        },
        {
          "label": "Loop",
          "value": "loop"
        },
        {
          "label": "Fade",
          "value": "fade"
        }
      ],
      "default": "loop"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "text",
      "id": "interval",
      "label": "Autoplay interval in milliseconds",
      "default": "1000"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show Dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "pause",
      "label": "Pause on Hover",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "m_image",
          "label": "Mobile Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}