<link rel="stylesheet" href="/<%=srcId%>/main-image-with-two-products.css">
<link rel="stylesheet" href="/<%=srcId%>/component-product-card-style-1.css">
<link rel="stylesheet" href="/<%=srcId%>/component-price-style-1.css">
<link rel="stylesheet" href="/<%=srcId%>/component-variants.css">

<div class="bc-iwtp bc-<%=settings.section_style%>-bt">
  <div class="page-width page-width-<%=settings.section_style%>">
    <div class="bc-iwtp__content bc-iwtp__content-<%= section.settings.image_position %>">
      <div class="bc-iwtp__image-wrapper"
        <% if(section.settings.enable_anim){ %> data-aos="<%=section.settings.anim%>"<% } %>>
        <% if(section.settings.image){ %>
          <div <% if(section.settings.m_image){ %>class="small-hide"<% } %> class="bc-<%= settings.section_style %>-bt">
            <%- include('../snippets/resimg', {image: section.settings.image}) %>
          </div>
        <% } else { %>
          <div <% if(section.settings.m_image){ %>class="small-hide"<% } %> class="bc-<%= settings.section_style %>-bt">
            <%- include('../snippets/resimg', {classwrapper: '', classimg: '', image: 'image-with-two-products.jpg'}) %>
          </div>
        <% } %>
        <% if(section.settings.m_image){ %>
          <div class="medium-hide large-up-hide">
            <%- include('../snippets/resimg', {image: section.settings.m_image}) %>
          </div>
        <% } %>
        <% if(section.settings.title || section.settings.text){ %>
        <div class="bc-iwtp__info <%= section.settings.align %>" <% if(section.settings.color){ %>style="color:<%= section.settings.color %>"<% } %>>
          <% if(section.settings.title){ %>
            <h2 class="bc-iwtp__info-title"><%= section.settings.title %></h2>
            <%# include('../snippets/style', {sufix: '.bc-iwtp__info-title', id: section.id, style: section.settings}) %>
          <% } %>
          <% if(section.settings.text){ %>
            <div class="bc-iwtp__info-text"><%- section.settings.text -%></div>
          <% } %>
        </div>
        <% } %>
      </div>
      <% if(section.blocks.length){ %>
      <div class="bc-iwtp__products-wrapper">
        <% section.blocks.forEach((block, index) => { %>
          <% if(block.type == 'product' && collection){ %>
            <style>
              .product-item-<%=index%>.py-c-dark .card-wrapper *:not(.card-quick-add):not(.card-view-product){
                color: var(--py-color-dark);
                  }
              .product-item-<%=index%>.py-c-average .card-wrapper *:not(.card-quick-add):not(.card-view-product){
                color: var(--py-color-avarge);
                  }
              .product-item-<%=index%>.py-c-light .card-wrapper *:not(.card-quick-add):not(.card-view-product){
                color: var(--py-color-light);
                  }
              .product-item-<%=index%> .card-wrapper{
                padding-bottom:15px;
                height:100%;
              } 
              .product-item-<%=index%>  .py-center .price,
              .product-item-<%=index%>  .py-center .card-color-wrapper,
              .product-item-<%=index%>  .py-center ul.variant-options,
              .product-item-<%=index%>  .py-center .card-button-wrapper{
                justify-content: center;
              }  
  
              <% if(block.settings.custom_font_style){ %>
              .product-item-<%=index%>  .card-wrapper .card-information__text{
                font-size: <%=block.settings.title_fontsize%>;
                font-weight: <%=block.settings.title_fontweight%>;
                font-stretch:<%=block.settings.title_fontstretch%>;
                font-style:<%=block.settings.title_fontstyle%>;
                line-height:<%=block.settings.title_lineheight%>;
                letter-spacing:<%=block.settings.title_letterspacing%>
              }
              @media(max-width:749px){
                .product-item-<%=index%>  .card-wrapper .card-information__text{
                  font-size: <%=block.settings.title_fontsize_m%>
                }
              }
              .product-item-<%=index%>  .card-wrapper .price *{
                font-size: <%=block.settings.info_fontsize%>;
                font-weight: <%=block.settings.info_fontweight%>;
                font-stretch:<%=block.settings.info_fontstretch%>;
                font-style:<%=block.settings.info_fontstyle%>;
                line-height:<%=block.settings.info_lineheight%>;
                letter-spacing:<%=block.settings.info_letterspacing%>
              }
              @media(max-width:749px){
                .product-item-<%=index%>  .card-wrapper .price *{
                  font-size: <%=block.settings.info_fontsize_m%>
                }
              }              
              <% } %>
            </style>
            <% var productH = collection.products[index] %>
            <div class="product-item-<%=index%> py-card-<%=block.settings.card_style%> py-<%=block.settings.card_color%> <% if(index && settings.section_style === 'border'){ %>bc-br-bt<% } %>" <% if(block.settings.enable_anim){ %> data-aos="<%=block.settings.anim%>"<% } %>>
              <%- include('../snippets/product-card', {
                  product_card_product: product,
                  media_size: block.settings.image_ratio,
                  media_gallery:block.settings.image_gallery,
                  tag_field:block.settings.tag_field,                                   
                  show_vendor: block.settings.show_vendor,
                  show_colors: block.settings.show_colors,
                  show_view_product: block.settings.show_view_product,
                  show_quick_add: block.settings.show_quick_add,
                  show_variants_on_hover: block.settings.show_variants_on_hover,
                  card_bg_color: block.settings.card_bg_color,
                  card_radius: block.settings.card_radius,
                  info_align: block.settings.info_align
                }) %>
            </div>
          <% } %>
        <% }) %>
      </div>
      <% } %>
    </div>
  </div>
</div>
