<% comment){ %>theme-check-disable UndefinedObject<% endcomment){ %>
<% var pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true){ %>

<% if(pick_up_availabilities.length > 0){ %>
  <pickup-availability-preview class="pickup-availability-preview">
    <div class="pickup-availability-info">
      <% for availability in pick_up_availabilities){ %>      
      <% if(availability.available){ %>
      <div class="pickup-location-item">
        <p class="location_title"><%= availability.location.name %></p>        
        <button id="ShowPickupAvailabilityDrawer" class="pickup-availability-button link link--text " aria-haspopup="dialog">
          View Store
        </button>
      </div>
      <% } %>      
      <% }) %>
    </div>
  </pickup-availability-preview>

  <pickup-availability-drawer tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="PickupAvailabilityHeading">
    <div class="pickup-availability-header">
      <h2 class="h3 pickup-availability-drawer-title" id="PickupAvailabilityHeading"><%= product_variant.product.title %></h2>
      <button class="pickup-availability-drawer-button" type="button" aria-label="<%=accessibility.close%>"><%- include('../snippets/icon-close'){ %></button>
    </div>

    <% if(!product_variant.product.has_only_default_variant){ %>
      <p class="pickup-availability-variant">
        <% for product_option in product_variant.product.options_with_values){ %>
          <%= product_option.name %>:&nbsp;
          <% for value in product_option.values){ %>
            <% if(product_option.selected_value === value){ %>
              <span><%= value %></span>
            <% } %>
          <% }) %>
          <% if(!forloop.last){ %>,&nbsp;<% endunless forloop.last){ %>
        <% }) %>
      </p>
    <% } %>

    <ul class="pickup-availability-list list-unstyled" role="list" data-store-availability-drawer-content>
      <% for availability in pick_up_availabilities){ %>
        <li class="pickup-availability-list__item">
          <h3 class="h4"><%= availability.location.name %></h3>
          <p class="pickup-availability-preview caption-large">
            <% if(availability.available){ %>
              <%- include('../snippets/icon-tick'){ %> <%=products.product.pickup_availability.pick_up_available%>, <%= availability.pick_up_time.toLowerCase() %>
            <% } %>
          </p>

          <% var address = availability.location.address){ %>
          <address class="pickup-availability-address">
            <%= address | format_address %>

            <% if(address.phone.length > 0){ %>
              <p><%= address.phone %></p>
            <% } %>
          </address>
        </li>
      <% }) %>
    </ul>
  </pickup-availability-drawer>
<% } %>
