<% if(section.settings.title || section.blocks.length){ %>
<link rel="stylesheet" href="/assets/collection-two-column.css">

<div class="collection-two-column bc-<%=settings.section_style%>-bt">
  <div class="page-width page-width-<%=settings.section_style%>">
    <% if(section.settings.title){ %>
    <div class="collection-two-column-heading">
      <h2 class="collection-two-column__title">
        <%= section.settings.title %>
      </h2>
      <%# include('style', {sufix: '.collection-two-column__title', id: section.id, style: section.settings}) %>
    </div>
    <% } %>
    <ul class="collection-two-column-list">
      <% section.blocks.forEach((block, index) => { %>
      <li class="collection-two-column-list__item"
      <% if(block.settings?.enable_anim){ %> data-aos="<%=block.settings?.anim%>"<% } %>>
        <div class="collection-two-column_image__wrap bc-<%=settings.section_style%>-bt">
          <% if(block.settings?.button_link){ %>
            <a href="<%= block.settings?.button_link %>">
              <span class="visually-hidden">Collection Image</span>
              <% } %>
              <% if(block.settings?.image){ %>
                <%- include('../snippets/resimg', {image: block.settings?.image}) %>
              <% } else { %>
                <%- include('../snippets/resimg', {classwrapper: '', classimg: '', image: 'collection-two-column-' + index + '.jpg'}) %>
              <% } %>
              <% if(block.settings?.button_link){ %>
            </a>
          <% } %>
        </div>
        <a class="button bc-coll-two-col-<%=settings.section_style%>-style"<% if(!block.settings?.button_link){ %> aria-disabled="true" role="link"<% } else { %> href="<%= block.settings?.button_link %>"<% } %>>
          <%= block.settings?.button_label ? block.settings?.button_label : "Button label" %>
        </a>
        <%# include('style', sufix: '.button-cus', id: block.id, style: block.settings %>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<% } %>
  