<link rel="stylesheet" href="/assets/section-main-page.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/component-rte.css" media="print" onload="this.media='all'">

<link rel="stylesheet" href="/assets/customer.css">

<style>  
  .page-container{
    background-color:<%=section.settings.page_bg_color%>;
    padding:5px;
    text-align:<%=section.settings.page_align%>;
  }
  .page-container .customer *{
    color:<%=section.settings.page_color%>;
  }
  .page-container .customer .logout-link{
    border:<%=section.settings.logout_border_width%>px solid <%=section.settings.logout_br_color%>;
    border-radius:<%=section.settings.logout_border_radius%>px;
    background-color:<%=section.settings.logout_bg_color%>;
    color:<%=section.settings.logout_color%>;
  }
  .page-container .customer .cu_address{
    border:<%=section.settings.address_border_width%>px solid <%=section.settings.address_br_color%>;
    border-radius:<%=section.settings.address_border_radius%>px;
    background-color:<%=section.settings.address_bg_color%>;
    color:<%=section.settings.address_color%>;
    margin-top: 2rem;
    display: inline-block;
  }
  
  @media(max-width:799px){
    .page-container .customer table.order-history{
      background-color:<%=section.settings.table_border_color%>;
      border-collapse: collapse;
    }
    .page-container .customer table.order-history thead{
      display:none;
    }
    .page-container .customer table.order-history tbody{    
      display: flex;
      flex-wrap:wrap;
      column-gap:2%;
    }
    .page-container .customer table.order-history tr{
      display:block;
      width:49%;
      background-color:<%=section.settings.card_bg_color%>;
      border-radius:<%=section.settings.card_border_radius%>px;
      padding: 2rem;
      text-align:left;
      margin-bottom:2%;
    }
    .page-container .customer table.order-history td{
      padding:1rem 0;
    }
    .page-container .customer table.order-history th,
    .page-container .customer table.order-history td,
    .page-container .customer table.order-history td *{
      display: block;
      color:<%=section.settings.card_color%>;
      font-size:14px;
    }
    .page-container .customer table.order-history td.columnorder a{
      font-size:18px;
    }
    .page-container .customer table.order-history td.columnpayment{
      display:inline-block;
      margin: 10px 1%;    
      text-align: center;
      color:<%=section.settings.card_pay_color%>;
      background-color:<%=section.settings.card_pay_bg_color%>;
      border-radius:<%=section.settings.card_pay_border_radius%>px;
      padding:3px 15px;
      text-transform: uppercase;
      margin-left:0px;
    }
    .page-container .customer table.order-history td.columnfulfillment{
      display:inline-block;
      margin: 10px 1%;      
      text-align: center;
      color:<%=section.settings.card_ful_color%>;
      background-color:<%=section.settings.card_ful_bg_color%>;
      border-radius:<%=section.settings.card_pay_border_radius%>px;
      padding:3px 15px;
      text-transform: uppercase;
    }
    .page-container .customer table.order-history td.columntotal:before{
      content:'TOTAL';
      display:block;
      padding-bottom:10px;
      margin-top:15px;
    }
  }
  @media(max-width:749px){
    .page-container .customer table.order-history tr{      
      width:90%;      
      margin-left:5%;
    }
  }
  @media(min-width:800px){
    .page-container.order-history-cards .customer table.order-history{
      background-color:<%=section.settings.table_border_color%>;
      border-collapse: collapse;
    }
    .page-container.order-history-cards .customer table.order-history thead{
      display:none;
    }
    .page-container.order-history-cards .customer table.order-history tbody{    
      display: flex;
      flex-wrap:wrap;
      column-gap:2%;
    }
    .page-container.order-history-cards .customer table.order-history tr{
      display:block;
      width:32%;
      background-color:<%=section.settings.card_bg_color%>;
      border-radius:<%=section.settings.card_border_radius%>px;
      padding: 2rem;
      text-align:left;
      margin-bottom:2%;
    }
    .page-container.order-history-cards .customer table.order-history td{
      padding:1rem 0;
    }
    .page-container.order-history-cards .customer table.order-history th,
    .page-container.order-history-cards .customer table.order-history td,
    .page-container.order-history-cards .customer table.order-history td *{
      display: block;
      color:<%=section.settings.card_color%>;
      font-size:14px;
    }
    .page-container.order-history-cards .customer table.order-history td.columnorder a{
      font-size:18px;
    }
    .page-container.order-history-cards .customer table.order-history td.columnpayment{
      display:inline-block;
      margin: 10px 1%;      
      text-align: center;
      color:<%=section.settings.card_pay_color%>;
      background-color:<%=section.settings.card_pay_bg_color%>;
      border-radius:<%=section.settings.card_pay_border_radius%>px;
      padding:3px 15px;
      text-transform: uppercase;
    }
    .page-container.order-history-cards .customer table.order-history td.columnfulfillment{
      display:inline-block;
      margin: 10px 1%;      
      text-align: center;
      color:<%=section.settings.card_ful_color%>;
      background-color:<%=section.settings.card_ful_bg_color%>;
      border-radius:<%=section.settings.card_pay_border_radius%>px;
      padding:3px 15px;
      text-transform: uppercase;
    }
    .page-container.order-history-cards .customer table.order-history td.columntotal:before{
      content:'TOTAL';
      display:block;
      padding-bottom:10px;
    }
  }
  @media(min-width:800px){
    .page-container.order-history-table .customer table.order-history{
      background-color:<%=section.settings.table_border_color%>;
      border-collapse: separate;      
    }
    .page-container.order-history-table .customer table.order-history thead{
      background-color:<%=section.settings.table_header_bg_color%>;     
    }
    .page-container.order-history-table .customer table.order-history tbody{
      background-color:<%=section.settings.table_body_bg_color%>;      
    }    
    .page-container.order-history-table .customer table.order-history td,
    .page-container.order-history-table .customer table.order-history td *{
      padding: 0.8rem 2rem;
      text-align:<%=section.settings.page_align%>;
      color:<%=section.settings.table_header_color%>;
    }
    .page-container.order-history-table .customer table.order-history th{
      padding: 0.8rem 2rem;
      text-align:<%=section.settings.page_align%>;
      color:<%=section.settings.table_header_color%>;
    }
    
  }
  
</style>
<div class="page-container order-history-<%=section.settings.order_history_desktop%>">
  
<div class="customer account">
  <div class="title">
    <h1>title</h1>
    <a class="logout-link py-pd-x-m py-pd-y-s" href="#">
<!--       <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
      </svg> -->
      Log Out
    </a>
  </div>

  <div >
    <div class="order-info-content py-pd-y-xl">
      <h2>title</h2>

      <%# paginate customer.orders by 20 %>
        <% if(customer.orders.length > 0){ %>
          <table role="table" class="order-history">
            <caption class="visually-hidden">title</caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">order number</th>
                <th id="ColumnDate" scope="col" role="columnheader">date</th>
                <th id="ColumnPayment" scope="col" role="columnheader">payment status</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">fulfillment status</th>
                <th id="ColumnTotal" scope="col" role="columnheader">total</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <% customer.orders.forEach((order, index)=>{ %>
                <tr role="row">
                  <td
                    class="columnorder"
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="order_number"
                  >
                    <a href="<%= order.customer_url %>" aria-label="order number link">
                      <%= order.name %>
                    </a>
                  </td>
                  <td class="columndate" headers="RowOrder ColumnDate" role="cell" data-label="date">
                    <%= order.created_at %>
                  </td>
                  <td class="columnpayment" headers="RowOrder ColumnPayment" role="cell" data-label="payment_status">
                    <%= order.financial_status_label %>
                  </td>
                  <td class="columnfulfillment" headers="RowOrder ColumnFulfillment" role="cell" data-label="fulfillment_status">
                    <%= order.fulfillment_status_label %>
                  </td>
                  <td class="columntotal" headers="RowOrder ColumnTotal" role="cell" data-label="total">
                    <%= order.total_price %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } else { %>
          <p>none</p>      
        <% } %>

        <% if(paginate.pages > 1){ %>
          <% if(paginate.parts.length > 0){ %>
              <nav class="pagination" role="navigation" aria-label="label">
                <ul role="list">
                <% if(paginate.previous){ %>
                  <li>
                    <a href="<%= paginate.previous.url %>" aria-label="previous">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                <% } %>

                <% paginate.parts.forEach((part, index)=>{ %>
                  <li>
                    <% if(part.is_link){ %>
                      <a href="<%= part.url %>" aria-label="page"><%= part.title %></a>
                    <% } else { %>
                      <% if(part.title === paginate.current_page){ %>
                        <span aria-current="page" aria-label="page"><%= part.title %></span>
                      <% } else { %>
                        <span><%= part.title %></span>
                      <% } %>
                    <% } %>
                  </li>
                <% }) %>

                <% if(paginate.next){ %>
                  <li>
                    <a href="<%= paginate.next.url %>" aria-label="next" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                <% } %>
                </ul>
              </nav>
          <% } %>
        <% } %>
      <%# endpaginate %>
    </div>

    <div class="account-details-content">
      <h2>details</h2>

      <%= customer.default_address.address1 %>

      <a class="cu_address py-pd-x-m py-pd-y-s" href="#">
        view_addresses (<%= customer.addresses_count %>)
      </a>
    </div>

  </div>
</div>
</div>