<link rel="stylesheet" href="/assets/main-image-with-two-products.css">
<link rel="stylesheet" href="/assets/component-product-card-style-1.css">
<link rel="stylesheet" href="/assets/component-price-style-1.css">
<link rel="stylesheet" href="/assets/component-variants.css">

<div class="bc-iwtp bc-<%=settings.section_style%>-bt">
  <div class="page-width page-width-<%=settings.section_style%>">
    <div class="bc-iwtp__content bc-iwtp__content-<%= section.settings.image_position %>">
      <div class="bc-iwtp__image-wrapper"
        <% if(section.settings.enable_anim){ %> data-aos="<%=section.settings.anim%>"<% } %>>
        <% if(section.settings.image){ %>
          <div <% if(section.settings.m_image){ %>class="small-hide"<% } %> class="bc-<%= settings.section_style %>-bt">
            <%- include('../snippets/resimg', {image: section.settings.image}) %>
          </div>
        <% } else { %>
          <div <% if(section.settings.m_image){ %>class="small-hide"<% } %> class="bc-<%= settings.section_style %>-bt">
            <%- include('../snippets/resimg', {classwrapper: '', classimg: '', image: 'image-with-two-products.jpg'}) %>
          </div>
        <% } %>
        <% if(section.settings.m_image){ %>
          <div class="medium-hide large-up-hide">
            <%- include('../snippets/resimg', {image: section.settings.m_image}) %>
          </div>
        <% } %>
        <% if(section.settings.title || section.settings.text){ %>
        <div class="bc-iwtp__info <%= section.settings.align %>" <% if(section.settings.color){ %>style="color:<%= section.settings.color %>"<% } %>>
          <% if(section.settings.title){ %>
            <h2 class="bc-iwtp__info-title"><%= section.settings.title %></h2>
            <%# include('../snippets/style', {sufix: '.bc-iwtp__info-title', id: section.id, style: section.settings}) %>
          <% } %>
          <% if(section.settings.text){ %>
            <div class="bc-iwtp__info-text"><%- section.settings.text -%></div>
          <% } %>
        </div>
        <% } %>
      </div>
      <% if(section.blocks.length){ %>
      <div class="bc-iwtp__products-wrapper">
        <% section.blocks.forEach((block, index) => { %>
          <% if(block.type == 'product' && collection){ %>
            <% var productH = collection.products[index] %>
            <div <% if(index === 0 && settings.section_style == 'border'){ %>class="bc-br-bt"<% } %><% if(block.settings?.enable_anim){ %> data-aos="<%=block.settings?.anim%>"<% } %>>
              <%- include('../snippets/product-card',
                {
                  show_secondary_image: true,
                  add_image_padding: false,
                  product_card_product: productH,
                  media_size: block?.settings?.image_ratio,
                  media_gallery:block?.settings?.image_gallery,
                  tag_field:block?.settings?.tag_field,                                   
                  show_vendor: block?.settings?.show_vendor,
                  show_colors: block?.settings?.show_colors,
                  show_view_product: block?.settings?.show_view_product,
                  show_quick_add: block?.settings?.show_quick_add,
                  show_variants_on_hover: block?.settings?.show_variants_on_hover,
                  card_bg_color: block?.settings?.card_bg_color,
                  card_radius: block?.settings?.card_radius,
                  info_align: block?.settings?.info_align
                })
              %>
            </div>
          <% } %>
        <% }) %>
      </div>
      <% } %>
    </div>
  </div>
</div>
