<link rel="stylesheet" href="/assets/section-partners.css">

<partenrs-list class="partners bc-<%=settings.section_style%>-bt">
  <div class="page-width page-width-<%=settings.section_style%>">
    <div class="partners-heading small-hide bc-<%=settings.section_style%>-bt">
      <% section.blocks.forEach((block, index) => { %>
        <% if(block.settings?.title){ %>
        <h2 class="partners__title <% if(index === 0){ %>active<% } %>" data-index="<%= index %>">
          <%= block.settings?.title %>
        </h2>
        <% } else { %>
          <h2 class="partners__title <% if(index === 0){ %>active<% } %>" data-index="<%= index %>">
            "PARTNERS HEADING <%= index %>."
          </h2>
        <% } %>
        <%# include('style', {sufix: 'partners__title', id: block.id, style: block.settings}) %>
      <% }) %>
    </div>
    <ul class="partners-list bc-scroll-hide bc-<%=settings.section_style%>-bt">
      <% section.blocks.forEach((block, index) =>{ %>
      <li class="partners-list__item">
        <div class="partners-list__item-link" data-index="<%= index %>">
          <% if(block.settings?.image){ %>
            <% if(index === 0){ %>
              <%- include('../snippets/resimg', {classwrapper: '', image: block.settings?.image, classimg: 'partners-list__item-img active'}) %>
            <% } else { %>
              <%- include('../snippets/resimg', {classwrapper: '', image: block.settings?.image, classimg: 'partners-list__item-img'}) %>
            <% } %>
          <% } else { %>
            <% if(index === 0){ %>
              <%- include('../snippets/resimg', {classwrapper: '', image: 'partner-' + index + '.png', classimg: 'partners-list__item-img active'}) %>
            <% } else { %>
              <%- include('../snippets/resimg', {classwrapper: '', image: 'partner-' + index + '.png', classimg: 'partners-list__item-img'}) %>
            <% } %>
          <% } %>
        </div>
      </li>
      <% }) %>
    </ul>
    <div class="center bc-partner-<%= settings.section_style %>-style">
      <% if(section.settings.button_label){ %>
      <a id="bc__button-<%= section.id %>" class="button"<% if(!section.settings.button_link){ %> aria-disabled="true" role="link"<% } else { %> href="<%= section.settings.button_link %>"<% } %>>
        <%= section.settings.button_label %>
      </a>
      <%# include('style', {sufix: '#bc__button', id: section.id, style: section.settings}) %>
      <% } %>
    </div>
  </div>
</partenrs-list>

<script>

  class partenrsList extends HTMLElement {
    
    constructor(){
      super();
      this.partenrsImages = this.querySelectorAll('.partners-list__item-link');
      this.partenrsImages.length && this.partenrsImages.forEach(image => {
        image.addEventListener('click', this.buttonHandle.bind(this));
      });
    };

    buttonHandle(event){
      if(!event) return;
      let el    = event.target;
      let index = el.getAttribute('data-index');
      let img   = el.querySelector('.partners-list__item-img');

      document.querySelector('.partners__title.active').classList.remove('active');
      document.querySelector('.partners-list__item-img.active').classList.remove('active');
      document.querySelector('.partners__title[data-index="' + index + '"]').classList.add('active');
      img.classList.add('active');
    }

  }

  customElements.define('partenrs-list', partenrsList);

</script>