<link rel="stylesheet" href="/assets/component-badge.css">
<link rel="stylesheet" href="/assets/component-card-style-1.css">
<link rel="stylesheet" href="/assets/component-price-style-1.css">
<link rel="stylesheet" href="/assets/section-product-recommendations-style-1.css">
<link rel="stylesheet" href="/assets/component-variants.css">


<product-recommendations class="product-recommendations page-width" data-url="/recommendations/products?section_id=recommendations&product_id=<%= product?.id %>&limit=8">
  <% if(collection.products_count > 0){ %>
    <h2 class="product-recommendations__heading"><%= section.settings.heading %></h2>
    <ul class="grid grid--2-col grid--3-col-tablet  product-list-1 <% if(collection.products_count > 3){ %> grid--4-col-desktop grid--quarter-max<% } %> bc-scroll-hide"  style="margin-left:-<%=section.settings.item_space%>px;" role="list">
      <style>
        product-recommendations{
          background-color:<%=section.settings.section_bg_color%>;
        }
        .product-recommendations__heading{
          color:<%=section.settings.title_color%>;
        }
        .py-c-dark .card-wrapper *{
          color: var(--py-color-dark);
        }
        .py-c-average .card-wrapper *{
          color: var(--py-color-avarge);
        }
        .py-c-light .card-wrapper *{
          color: var(--py-color-light);
        }
        .card-wrapper{
          padding-bottom:15px;
          height:100%;
        } 
        .product-list-1 .py-center .price,
        .product-list-1 .py-center .card-color-wrapper,
        .product-list-1 .py-center ul.variant-options,
        .product-list-1 .py-center .card-button-wrapper{
          justify-content: center;
        }
        .card-information__wrapper .card-button-wrapper a{
          border:<%=section.settings.card_btn_border_width%>px solid <%=section.settings.card_btn_br_color%>;
          border-radius:<%=section.settings.card_btn_border_radius%>px;
          background-color:<%=section.settings.card_btn_bg_color%>;
          color:<%=section.settings.card_btn_color%>;                
        }
        .card-information__wrapper .card-button-wrapper a:hover{
          background-color:<%=section.settings.card_btn_hover_bg_color%>;
          color:<%=section.settings.card_btn_hover_color%>;
          border-color:<%=section.settings.card_btn_hover_br_color%>;
        }
        <% if(section.settings.custom_font_style){ %>

          .product-list-1 .card-wrapper .card-information__text{
            font-size: <%=section.settings.title_fontsize%>;
            font-weight: <%=section.settings.title_fontweight%>;
            font-stretch:<%=section.settings.title_fontstretch%>;
            font-style:<%=section.settings.title_fontstyle%>;
            line-height:<%=section.settings.title_lineheight%>;
            letter-spacing:<%=section.settings.title_letterspacing%>
          }
          @media(max-width:749px){
            .product-list-1 .card-wrapper .card-information__text{
                font-size: <%=section.settings.title_fontsize_m%>
            }
          }
          .product-list-1 .card-wrapper .price *{
            font-size: <%=section.settings.info_fontsize%>;
            font-weight: <%=section.settings.info_fontweight%>;
            font-stretch:<%=section.settings.info_fontstretch%>;
            font-style:<%=section.settings.info_fontstyle%>;
            line-height:<%=section.settings.info_lineheight%>;
            letter-spacing:<%=section.settings.info_letterspacing%>
          }
          @media(max-width:749px){
            .product-list-1 .card-wrapper .price *{
                font-size: <%=section.settings.info_fontsize_m%>
            }
          }              
        <% } %>
      </style>
      <% var count = 1 %>
      <% collection.products.forEach((recommendation,index)=>{ %>
        <% if(count <= 4){ %>
          <% if(recommendation.tags !== 'rec_hide'){ %>
            <% count = count + 1 %>
            <li class="grid__item py-<%=section.settings.card_color%>" style="padding-bottom:<%=section.settings.item_space%>px;padding-left:<%=section.settings.item_space%>px">
              <%- include('../snippets/product-card',{
                show_secondary_image: true,
                add_image_padding: false,
                product_card_product: recommendation,
                media_size: section.settings.image_ratio,
                media_gallery:section.settings.image_gallery,
                tag_field:section.settings.tag_field,                                   
                show_vendor: section.settings.show_vendor,
                show_colors: section.settings.show_colors,
                show_view_product: section.settings.show_view_product,
                show_quick_add: section.settings.show_quick_add,
                show_variants_on_hover: section.settings.show_variants_on_hover,
                card_bg_color: section.settings.card_bg_color,
                card_radius: section.settings.card_radius,
                info_align: section.settings.info_align})
              %>
            </li>
          <% } %>
        <% } %>
      <% }) %>
    </ul>
  <% } %>
</product-recommendations>

<!-- <script>
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');
            if (recommendations && collection?.innerHTML.trim().length) {
              this.innerHTML = collection?.innerHTML;
            }
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
</script> -->