<link rel="stylesheet" href="/assets/section-slider-with-text.css">

<div class="bc-slider-with-text">
  <div class="page-width">
    <div class="bc-slider-with-text__wrapper" <% if(section.settings.bg_color){ %>style="background: <%= section.settings.bg_color %>;"<% } %>>
      <% if(section.blocks.length){ %>
        <slider-component class="bc-slider-with-text__slider-wrapper">
          <ul class="list-unstyled slider slider--desktop" role="list">
            <% section.blocks.forEach((block,index)=>{ %>
              <% if(block.settings?.image){ %>
                <li class="slider__slide">
                  <%- include('../snippets/resimg', {image: block.settings?.image}) %>
                </li>
              <% } else { %>
            	<li class="slider__slide">
                  <img src="/images/slider-with-text-<%= index%>.jpg"/>
            	</li>
              <% } %>
            <% }) %>
          </ul>
          <div class="slider-buttons slider-buttons-desktop slider-buttons--overlay no-js-hidden">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="previous slide"><%- include('../snippets/icon-caret') %></button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">of</span>
              <span class="slider-counter--total"><%= section.blocks.length %></span>
            </div>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="next slide"><%- include('../snippets/icon-caret') %></button>
          </div>
        </slider-component>
      <% } %>
      <div class="bc-slider-with-text__text-wrapper" <% if(section.settings.color){ %>style="color: <%= section.settings.color %>;"<% } %>>
        <div class="bc-slider-with-text__text-content">
          <% if(section.settings.heading){ %>
          <h2 class="bc-slider-with-text__text-heading">
            <%= section.settings.heading %>
          </h2>
          <% } %>
          <div class="bc-flex">
            <div class="right">
              <% for(let i=1; i<=3; i++){ %>
                <%
                  var labelHandle = 't_l_' + i ;
                  var label = section.settings[labelHandle]; 
                %>
              	<% if(label){ %>
                  <span class="bc-slider-with-text__text-label">
                  <%= label %>
                  </span>
              	<% } %>
              <% } %>
            </div>
            <div style="text-align:left;">
              <% for(let i=1; i<=3; i++){ %>
                <% 
                  var valueHandle = 't_' + i;
                  var value = section.settings[valueHandle]; 
                %>
              	<% if(value){ %>
                  <span class="bc-slider-with-text__text-value">
                  <%= value %>
                  </span>
              	<% } %>
              <% } %>
            </div>
          </div>
          <% if(section.settings.title){ %>
          <h3 class="bc-slider-with-text__text-title">
            <%= section.settings.title %>
          </h3>
          <% } %>
          <% if(section.settings.text){ %>
          <div class="bc-slider-with-text__text-text">
            <%- section.settings.text -%>
          </div>
          <% } %>
        </div>
      </div>
      <% if(section.settings.icon){ %>
      <img src="<%= section.settings.icon %>" 
           loading="lazy" 
           width="<%= section.settings.icon.width %>"
           height="<%= section.settings.icon.height %>" 
           class="bc-slider-with-text__icon"/>
      <% } %>
    </div>
  </div>
</div>