<div class="py__settings-item">
    <div class="py__settings-item-header">
        <label><%= data.label %></label>
        <% if(data.info){ %>
            <div class="py__tooltip">
                <%- include('../icons', {type: 'info'}) %>
                <p class="py__tooltiptext">
                    <%= data.info %>
                </p>
            </div>
        <% } %>
    </div>
    <div class="py__comp-checkbox">
        <input type="hidden" name="<%= global !== "section" ? global + "_" + data.id : data.id %>" value="<%=value%>">
        <input type="checkbox" class="is__checkbox" <% if(value){ %>checked<% } %>/>
    </div>
</div>