<div class="py__settings-item">
    <div class="py__settings-item-header">
        <label><%= data.label %></label>
        <% if(data.info){ %>
            <div class="py__tooltip">
                <%- include('../icons', {type: 'info'}) %>
                <p class="py__tooltiptext">
                    <%= data.info %>
                </p>
            </div>
        <% } %>
    </div>
    <div class="py__comp-color component-is-color">
        <input type="text" class="is__color" value="<%= value %>"/>
        <label for="<%= typeIs ? typeIs + '_' + data.id : data.id %>" class="py__label-for-color" <% if(value){ %>style="background:<%= value %>;"<% } %>>
            <input type="color" id="<%= typeIs ? typeIs + '_' + data.id : data.id %>" name="<%= global !== "section" ? global + "_" + data.id : data.id %>" <% if(value){ %>value="<%= value %>"<% } %>/>
            <%- include('../icons', {type: 'color'}) %>
        </label>
    </div>
</div>