<div class="py__settings-item">
    <div class="py__settings-item-header">
        <label><%= data.label %></label>
        <% if(data.info){ %>
            <div class="py__tooltip">
                <%- include('../icons', {type: 'info'}) %>
                <p class="py__tooltiptext">
                    <%= data.info %>
                </p>
            </div>
        <% } %>
    </div>
    <div class="py__comp-font">
        <select type="select" name="<%= global !== "section" ? global + "_" + data.id : data.id %>">
            <% fonts.items.forEach(font => { %>
                <option value="<%=font.family%>" <% if(font.family === value){ %>selected<% } %>>
                    <%= font.family %>
                </option>
            <% }) %>
        </select>
    </div>
</div>