<div class="py__settings-item">
    <div class="py__settings-item-header">
        <label><%= data.label %></label>
        <% if(data.info){ %>
            <div class="py__tooltip">
                <%- include('../icons', {type: 'info'}) %>
                <p class="py__tooltiptext">
                    <%= data.info %>
                </p>
            </div>
        <% } %>
    </div>
    <div class="py__comp-range">
        <input type="range" name="<% if(global){ %>settings_<%= data.id %><% } else { %><%= data.id %><% } %>" value="<%=data.default%>" min="<%= data.min %>" max="<%= data.max %>" step="<%= data.step %>">
    </div>
</div>