<div class="py__settings-item">
    <div class="py__settings-item-header">
        <label><%= data.label %></label>
        <% if(data.info){ %>
            <div class="py__tooltip">
                <%- include('../icons', {type: 'info'}) %>
                <p class="py__tooltiptext">
                    <%= data.info %>
                </p>
            </div>
        <% } %>
    </div>
    <div class="py__comp-select">
        <select name="<%= global !== "section" ? global + "_" + data.id : data.id %>" type="select">
            <% data.options.forEach(option => { %>
                <option 
                    value="<%= option.value %>" 
                    <% if(data?.id?.includes('color')){ %>
                        data-value="<%= settingData[data?.id?.includes('bg') ? 'py_bg_color_' + option?.label?.toLowerCase()?.replace(' ', '_')?.replace('average', 'average') : 'py_color_' + option?.label?.toLowerCase()?.replace(' ', '_')?.replace('average', 'average')] %>"
                    <% } %> 
                    <% if(value === option.value){ %>selected<% } %>>
                        <%= option.label %>
                    </option>
            <% }) %>
        </select>
    </div>
    <% let newLabel = data.label.toLowerCase().trim() %>
    <% if(newLabel?.includes('color') || newLabel?.includes('background')){ %>
        <a href="/get/<%=id%>?global=Global%20Styles" class="py__get-button" data-hide="Hide <%= newLabel %> settings" data-show="Show <%= newLabel %> settings">
            Show <%= newLabel %> settings
        </a>
        <div class="py__get-result-wrapper"></div>
    <% } else if(newLabel === 'container' || newLabel === 'container (width)' || newLabel === 'padding' || newLabel === 'container padding vertical' || newLabel === 'container padding horizontal' || newLabel === 'margin' || newLabel === 'container margin vertical' || newLabel === 'container margin horizontal' || newLabel === 'border' || newLabel === 'font size' || newLabel === 'size'){ %>
        <a href="/get/<%= id %>?global=Spacing%20Values" class="py__get-button" data-hide="Hide <%= newLabel %> settings" data-show="Show <%= newLabel %> settings">
            Show <%= newLabel %> settings
        </a>
        <div class="py__get-result-wrapper"></div>
    <% } %>
</div>