<!DOCTYPE html>
<html>
    <head>
        <title><%= make.title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <%- include('make/header-random', {id: id, show: true }) %>
        <div class="py__make">
            <div class="py__make-preview">
                <div class="py__preview-random-content" <% if(themeIDS){ %>data-ids="<%=themeIDS%>"<% } %>>
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-desktop">
                        <iframe src="/view/<%= user ? 'users/' + user._id + '/themes/' + id : id%>?page=<%=page%>" data-theme-id="<%=id%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-tablet">
                        <iframe src="/view/<%= user ? 'users/' + user._id + '/themes/' + id : id%>?page=<%=page%>" data-theme-id="<%=id%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-mobile">
                        <iframe src="/view/<%= user ? 'users/' + user._id + '/themes/' + id : id%>?page=<%=page%>" data-theme-id="<%=id%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="py__make-settings py__make-random-settings">
            <form class="py__settings-form" method="post" action="/save/<%= (user && !isAdmin) ? 'users/' + user._id + '/themes/' + id : id %>" aria-multiline="true">
                <% if(settings){ %> 
                    <% settings.forEach(comp => { %>
                        <% if(comp.name === 'Global Styles'){ %>
                            <% if(comp.settings){ %>
                                <div class="py__random-settings-wrap py__settings-section-item">
                                <% comp.settings.forEach((item, index) => { %>
                                    <% if(index > 9 && item.id){ %>
                                        <input type="hidden" name="<%=item.id%>" value="<%=item.default%>"/>
                                    <% } %>
                                    <% if(index > 9) return; %>
                                    <% if(item.type === 'header'){ %>
                                        <div class="py__random-item-wrapper">
                                            <div class="py__random-item-name">
                                                <span><%= item.content %></span>
                                            </div>
                                            <div class="py__random-item-content">
                                    <% } %>
                                        <% if(item.type === "color"){ %>
                                            <div class="py__random-comp py__random_comp-color component-is-color">
                                                <label for="settings-<%=item.id%>" class="py__label-for-color" <% if(item.default){ %>style="background:<%=item.default%>;"<% } %>>
                                                    <input type="color" id="settings-<%=item.id%>" name="<%=item.id%>" <% if(item.default){ %>value="<%=item.default%>"<% } %>/>
                                                </label>
                                                <span><%=item.label%></span>
                                            </div>
                                        <% } %>
                                    <% if(index === 5 || index === 9){ %>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }) %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <% if(comp.settings){ %>
                                <div class="py__random-settings-wrap py__settings-section-item">
                                    <% comp.settings.forEach((item, index) => { %>
                                        <% if(item.type === "textarea" && item.label === "Custom Font"){ %>
                                            <div class="py__random-comp py__random-comp-select">
                                                <label for="settings-<%=item.id%>"><%=item.label%></label>
                                                <select name="<%=item.id %>" id="settings-<%=item.id%>"type="select">
                                                    <% fonts?.items?.forEach(font => { %>
                                                        <option value="<%=font.family%>" <% if(font.family === item?.default){ %>selected<% } %>>
                                                            <%= font.family %>
                                                        </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                            <% } %>
                        <% } %>
                    <% }) %>
                <% } %>
                <% if(sections.length){ %>
                    <% sections.forEach((section,index)=>{ %>
                        <% if(section?.settings && section?.blocks?.length){ %>
                        <div class="py__random-section-item py__closest">
                            <% if(section.settings){ %>
                                <div class="py__random-section-content py__settings-section-item" data-file-name="<%=section.file_name%>" data-template-name="<%=section.template_name%>">
                                    <% section.settings.forEach((item,index)=>{ %>
                                        <% if(item.type === "select" && item?.id?.includes('style') || item?.id?.includes('position')){ %>
                                            <div class="py__random-comp py__random-comp-select">
                                                <label for="section-<%=item.id%>"><%=item.label%></label>
                                                <select name="<%=item.id %>" id="section-<%=item.id%>"type="select">
                                                    <% item.options.forEach(option => { %>
                                                        <option value="<%= option.value %>" <% if(item.default === option.value){ %>selected<% } %>><%= option.label %></option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        <% } else if(item.id){ %>
                                            <input type="hidden" name="<%=item.id%>" value="<%=item.default%>"/>
                                        <% } %>
                                    <% }) %>
                                </div>
                            <% } %>
                            <% if(section.blocks.length){ %>
                                <% section.blocks.forEach((block,index)=>{ %>
                                    <% if(block.settings){ %>
                                        <div class="py__random-block-wrap py__settings-block-item" data-type="<%=block.type%>">
                                            <% block.settings.forEach((item,index)=>{ %>
                                                <% if(item.type === "select" && item?.id?.includes('style') || item?.id?.includes('position')){ %>
                                                    <div class="py__random-comp py__random-comp-select">
                                                        <label for="<%= "block_" + item.id %>"><%=item.label%></label>
                                                        <select name="block_<%=item.id%>" type="select">
                                                            <% item.options.forEach(option => { %>
                                                                <option value="<%=option.value%>" <% if(item.default === option.value){ %>selected<% } %>><%=option.label%></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                <% } else if(item.id){ %>
                                                    <input type="hidden" name="block_<%=item.id%>" value="<%=item.default%>"/>
                                                <% } %>
                                            <% }) %>
                                        </div>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </div>
                        <% } %>
                    <% }) %>
                <% } %>
            </form>
            <div class="py__random-settings-button-wrap">
                <a href="/signup" class="py__button py__button-black py__signup-button" data-id="<%=id%>">
                    Save Customizations
                </a>
            </div>
        </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascripts/make.js"></script>
        <div class="py__loading-wrap">
            <div class="py__loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>
</html>
