<!DOCTYPE html>
<html>
    <head>
        <title><%= make.title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <%- include('make/header-random', {id: id, show: true }) %>
        <div class="py__make">
            <div class="py__make-preview">
                <div class="py__preview-random-content">
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-desktop">
                        <iframe src="/view/<%=id%>?page=<%=page_handle%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-tablet">
                        <iframe src="/view/<%=id%>?page=<%=page_handle%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-mobile">
                        <iframe src="/view/<%=id%>?page=<%=page_handle%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="py__make-settings py__make-random-settings">
            <form class="py__settings-form" method="post" action="/save/<%= (user && !isAdmin) ? 'users/' + user._id + '/themes/' + id : id %>" aria-multiline="true">
                <% if(settings && settingsSchema){ %> 
                    <% settingsSchema?.forEach(comp => { %>
                        <% if(comp?.name === 'Global Styles'){ %>
                            <% if(comp?.settings){ %>
                                <div class="py__random-settings-wrap py__settings-section-item">
                                <% comp?.settings?.forEach((item, index) => { %>
                                    <% if(index > 11 && item.id){ %>
                                        <input type="hidden" name="<%=item.id%>" value="<%=settings[item.id]%>"/>
                                    <% } %>
                                    <% if(index > 11) return; %>
                                    <% if(item.type === 'header'){ %>
                                        <div class="py__random-item-wrapper">
                                            <div class="py__random-item-name">
                                                <span><%= item.content %></span>
                                            </div>
                                            <div class="py__random-item-content">
                                    <% } %>
                                        <% if(item.type === "color"){ %>
                                            <div class="py__random-comp py__random_comp-color component-is-color">
                                                <label for="settings-<%=item.id%>" class="py__label-for-color" <% if(settings[item.id]){ %>style="background:<%=settings[item.id]%>;"<% } %>>
                                                    <input type="color" class="<%= item?.id?.includes('bg') ? "py__ai-bg-color" : "py__ai-color" %>" id="settings-<%=item.id%>" name="<%=item.id%>" <% if(settings[item.id]){ %>value="<%=settings[item.id]%>"<% } %>/>
                                                </label>
                                                <span><%=item.label%></span>
                                            </div>
                                        <% } %>
                                    <% if(index === 5 || index === 11){ %>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }) %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <% if(comp.settings){ %>
                                <div class="py__random-settings-wrap py__settings-section-item">
                                    <% comp.settings.forEach((item, index) => { %>
                                        <% if(item.type === "textarea" && item.label === "Custom Font"){ %>
                                            <%# if(item?.id?.includes('heading') || item?.id?.includes('title') || item?.id?.includes('sub_title') || item?.id?.includes('body')){ %>
                                                <div class="py__random-comp py__random-comp-select">
                                                    <label for="settings-<%=item.id%>"><%=item.label%></label>
                                                    <select name="<%=item.id %>" id="settings-<%=item.id%>"type="select">
                                                        <% fonts?.items?.forEach(font => { %>
                                                            <option value="<%=font.family%>" <% if(font.family === settings[item?.id]){ %>selected<% } %>>
                                                                <%= font.family %>
                                                            </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            <%# } %>
                                        <% } %>
                                    <% }) %>
                                </div>
                            <% } %>
                        <% } %>
                    <% }) %>
                <% } %>


                <% let staticTopSections = [];
                    staticTopSections.push(settings?.sections['announcement-bar']); 
                    staticTopSections.push(settings?.sections['header']);
                %>
                <% staticTopSections?.forEach((staticSectionItem,index)=>{ %>
                    <% let sectionSchemaItem = sectionsSchema.filter(sectionItem => sectionItem?.file_name === staticSectionItem?.type) %>
                    <h2><%=sectionSchemaItem[0].name%></h2>
                    <div class="py__random-section-item py__closest">
                        <%- include('./make/random-settings', {
                            orderItem: false,
                            sectionItem: staticSectionItem,
                            sectionSchemaItem: sectionSchemaItem
                        }) %>
                    </div>
                <% }) %>

                <% if(sections && sectionsSchema){ %>
                    <% sections?.order?.forEach((orderItem,index)=>{ %>
                        <% let sectionItem = sections?.sections[orderItem] %>
                        <% let sectionSchemaItem = sectionsSchema?.filter(sectionSchemaItem => sectionSchemaItem.file_name === sectionItem.type) %>
                        <% if(sectionItem?.settings || sectionItem?.block_order?.length){ %>
                        <h2><%=sectionSchemaItem[0].name%></h2>
                        <div class="py__random-section-item py__closest">
                            <%- include('./make/random-settings', {
                                orderItem: orderItem,
                                sectionItem: sectionItem,
                                sectionSchemaItem: sectionSchemaItem
                            }) %>
                        </div>
                        <% } %>
                    <% }) %>
                <% } %>

                <% let sectionFooter = settings?.sections['footer'] %>
                <% let sectionSchemaFooter = sectionsSchema.filter(sectionItem => sectionItem?.file_name === sectionFooter?.type) %>
                <h2><%=sectionSchemaFooter[0].name%></h2>
                <div class="py__random-section-item py__closest">
                    <%- include('./make/random-settings', {
                        orderItem: false,
                        sectionItem: sectionFooter,
                        sectionSchemaItem: sectionSchemaFooter
                    }) %>
                </div>
            </form>
        </div>
        <div class="py__remix-popup active">
            <div class="py__remix-popup__content">
                <h2 class="py__remix-popup__heading">Welcome To Make UI</h2>
                <div class="py__remix-popup__content-wrap">
                    <div class="py__filed-wrap">
                        <label>Your Bussines Name</label>
                        <input type="text" class="py__filed" placeholder="Name" name="bussines_name"/>
                        <div class="py__radio-wrap">
                            <h6 class="py__radio-group__heading">Generate New Logo</h6>
                            <ul class="radio-list">
                                <li>
                                  <input type="radio" name="use_ai_logo" id="radio_screen_1" value="yes"/>
                                  <label for="radio_screen_1">YES</label>
                                </li>
                                <li>
                                  <input type="radio" name="use_ai_logo" id="radio_screen_2" value="no" checked/>
                                  <label for="radio_screen_2">NO</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py__filed-wrap">
                        <label>Your Product Type</label>
                        <input type="text" class="py__filed" placeholder="Type" name="type_product"/>
                        <div class="py__radio-wrap">
                            <h6 class="py__radio-group__heading">Generate New Images</h6>
                            <ul class="radio-list">
                                <li>
                                  <input type="radio" name="use_ai_image" id="radio_screen_3" value="yes"/>
                                  <label for="radio_screen_3">YES</label>
                                </li>
                                <li>
                                  <input type="radio" name="use_ai_image" id="radio_screen_4" value="no" checked/>
                                  <label for="radio_screen_4">NO</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py__filed-wrap">
                        <label>Your Theme Colors Description</label>
                        <input type="text" class="py__filed" placeholder="Description" name="color_desc"/>
                        <div class="py__radio-wrap">
                            <h6 class="py__radio-group__heading">Generate New Colors Ai</h6>
                            <ul class="radio-list">
                                <li>
                                  <input type="radio" name="use_ai_color" id="radio_screen_5" value="yes"/>
                                  <label for="radio_screen_5">YES</label>
                                </li>
                                <li>
                                  <input type="radio" name="use_ai_color" id="radio_screen_6" value="no" checked/>
                                  <label for="radio_screen_6">NO</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="py__button-wrap">
                        <button class="py__button py__button-blue py__button-bussines" type="button">GO</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascripts/make.js"></script>
        <div class="py__loading-wrap">
            <div class="py__loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>
</html>
