<!DOCTYPE html>
<html>
    <head>
        <title><%= make.title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <%- include('make/header-random', {id: id, show: true }) %>
        <div class="py__make">
            <div class="py__make-preview">
                <div class="py__preview-random-content">
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-desktop">
                        <iframe src="/view/<%=id%>?page=<%=page_handle%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-tablet">
                        <iframe src="/view/<%=id%>?page=<%=page_handle%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                    <div class="py__preview-iframe py__preview-random-iframe py__preview-iframe-mobile">
                        <iframe src="/view/<%=id%>?page=<%=page_handle%>" class="py__view-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-modals"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="py__make-settings py__make-random-settings">
            <form class="py__settings-form" method="post" action="/save/<%= (user && !isAdmin) ? 'users/' + user._id + '/themes/' + id : id %>" aria-multiline="true">
                <% if(settings && settingsSchema){ %> 
                    <% settingsSchema?.forEach(comp => { %>
                        <% if(comp?.name === 'Global Styles'){ %>
                            <% if(comp?.settings){ %>
                                <div class="py__random-settings-wrap py__settings-section-item">
                                <% comp?.settings?.forEach((item, index) => { %>
                                    <% if(index > 11 && item.id){ %>
                                        <input type="hidden" name="<%=item.id%>" value="<%=settings[item.id]%>"/>
                                    <% } %>
                                    <% if(index > 11) return; %>
                                    <% if(item.type === 'header'){ %>
                                        <div class="py__random-item-wrapper">
                                            <div class="py__random-item-name">
                                                <span><%= item.content %></span>
                                            </div>
                                            <div class="py__random-item-content">
                                    <% } %>
                                        <% if(item.type === "color"){ %>
                                            <div class="py__random-comp py__random_comp-color component-is-color">
                                                <label for="settings-<%=item.id%>" class="py__label-for-color" <% if(settings[item.id]){ %>style="background:<%=settings[item.id]%>;"<% } %>>
                                                    <input type="color" class="<%= item?.id?.includes('bg') ? "py__ai-bg-color" : "py__ai-color" %>" id="settings-<%=item.id%>" name="<%=item.id%>" <% if(settings[item.id]){ %>value="<%=settings[item.id]%>"<% } %>/>
                                                </label>
                                                <span><%=item.label%></span>
                                            </div>
                                        <% } %>
                                    <% if(index === 5 || index === 11){ %>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }) %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <% if(comp.settings){ %>
                                <div class="py__random-settings-wrap py__settings-section-item">
                                    <% comp.settings.forEach((item, index) => { %>
                                        <% if(item.type === "textarea" && item.label === "Custom Font"){ %>
                                            <%# if(item?.id?.includes('heading') || item?.id?.includes('title') || item?.id?.includes('sub_title') || item?.id?.includes('body')){ %>
                                                <div class="py__random-comp py__random-comp-select">
                                                    <label for="settings-<%=item.id%>"><%=item.label%></label>
                                                    <select name="<%=item.id %>" id="settings-<%=item.id%>"type="select">
                                                        <% fonts?.items?.forEach(font => { %>
                                                            <option value="<%=font.family%>" <% if(font.family === settings[item?.id]){ %>selected<% } %>>
                                                                <%= font.family %>
                                                            </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            <%# } %>
                                        <% } %>
                                    <% }) %>
                                </div>
                            <% } %>
                        <% } %>
                    <% }) %>
                <% } %>

                <div class="py__random-settings-popup">
                    <div class="py__random-settings-popup-content">
                        <div class="py__random-settings-popup-header">
                            <h2 class="py__random-settings-popup-heading">All Settings</h2>
                            <button type="button" class="py__random-settings-popup-close-btn">Close</button>
                        </div>
                        <% let staticTopSections = [];
                            staticTopSections.push(settings?.sections['announcement-bar']); 
                            staticTopSections.push(settings?.sections['header']);
                        %>
                        <% staticTopSections?.forEach((staticSectionItem,index)=>{ %>
                            <% let sectionSchemaItem = sectionsSchema.filter(sectionItem => sectionItem?.file_name === staticSectionItem?.type) %>
                            <h2><%=sectionSchemaItem[0].name%></h2>
                            <div class="py__random-section-item py__closest">
                                <%- include('./make/random-settings', {
                                    orderItem: false,
                                    sectionItem: staticSectionItem,
                                    sectionSchemaItem: sectionSchemaItem
                                }) %>
                            </div>
                        <% }) %>

                        <% if(sections && sectionsSchema){ %>
                            <% sections?.order?.forEach((orderItem,index)=>{ %>
                                <% let sectionItem = sections?.sections[orderItem] %>
                                <% let sectionSchemaItem = sectionsSchema?.filter(sectionSchemaItem => sectionSchemaItem.file_name === sectionItem.type) %>
                                <% if(sectionItem?.settings || sectionItem?.block_order?.length){ %>
                                <h2><%=sectionSchemaItem[0].name%></h2>
                                <div class="py__random-section-item py__closest">
                                    <%- include('./make/random-settings', {
                                        orderItem: orderItem,
                                        sectionItem: sectionItem,
                                        sectionSchemaItem: sectionSchemaItem
                                    }) %>
                                </div>
                                <% } %>
                            <% }) %>
                        <% } %>

                        <% let sectionFooter = settings?.sections['footer'] %>
                        <% let sectionSchemaFooter = sectionsSchema.filter(sectionItem => sectionItem?.file_name === sectionFooter?.type) %>
                        <h2><%=sectionSchemaFooter[0].name%></h2>
                        <div class="py__random-section-item py__closest">
                            <%- include('./make/random-settings', {
                                orderItem: false,
                                sectionItem: sectionFooter,
                                sectionSchemaItem: sectionSchemaFooter
                            }) %>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="py__random-bottom-bar-wrap">
            <div class="py__random-bottom-bar-items">
                <div class="py__random-bottom-bar-item py__random-bottom-bar-left-item">
                    <button type="button" class="py__button py__button-blue py__button-random">
                        <span class="py__button-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
                            <path d="M15.8867 0.5L21.1367 5L15.8867 9.5L21.1367 14L15.8867 18.5V15.5H13.1467L10.3267 12.68L12.4467 10.56L14.3867 12.5H15.8867V9.5V6.5H14.3867L5.38672 15.5H0.886719V12.5H4.14672L13.1467 3.5H15.8867V0.5ZM0.886719 3.5H5.38672L8.20672 6.32L6.08672 8.44L4.14672 6.5H0.886719V3.5Z" fill="white"/>
                            </svg>
                        </span>
                        <span class="py__button-label">Remix Style</span>
                    </button>
                    <div class="py__checkbox-wrapper">
                        <input type="checkbox" name="other_themes" id="other_themes"/>
                        <label for="other_themes">Show me other themes</label>
                    </div>
                </div>
                <div class="py__random-bottom-bar-item">
                    <a href="#" class="py__button py__button-blue py__show-settings">
                        Show Settings
                    </a>
                </div>
            </div>
        </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" integrity="sha512-zInFF17qBFVvvvFpIfeBzo7Tj7+rQxLeTJDmbxjBz5/zIr89YVbTNelNhdTT+/DCrxoVzBeUPVFJsczKbB7sew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascripts/make.js"></script>
        <div class="py__loading-wrap">
            <div class="py__loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>
</html>
