<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="stylesheet" href="/<%=srcId%>/base-style.css">
    <link rel="stylesheet" href="/stylesheets/view.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <script src="/<%=srcId%>/global.js" defer="defer"></script>
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <% if(settings.enable_global_anim){ %>
        <link rel="preload" href="https://unpkg.com/aos@2.3.1/dist/aos.css" as="style">
    <% } %>
    <% if(component){ %>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <% } %>
    <link rel="stylesheet" href="/<%=srcId%>/component-list-menu.css">
    <link rel="stylesheet" href="/<%=srcId%>/component-search-style-1.css">
    <link rel="stylesheet" href="/<%=srcId%>/component-menu-drawer.css">
    <link rel="stylesheet" href="/<%=srcId%>/component-cart-notification-style-1.css">
    <link rel="stylesheet" href="/<%=srcId%>/component-header-style-1.css">
</head>
    <body class="index">
        <% let fontsNames = settings.heading_font_custom + '|' + settings.title_font_custom + '|' + settings.sub_title_font_custom + '|' + settings.body_font_custom + '|' + settings.button_font_custom + '|' + settings.nav_font_custom + '|' + settings.field_font_custom  %>
        <% if(fontsNames){ %>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=<%= fontsNames %>">
        <% } %>
        <% if(settings){ %>
            <%- include(srcId + '/snippets/css-selectors', {settings:settings}) %>
        <% } %>

        <% if(component){ %>
            <% if(component==='Cart' ){ %>
                <%- include(srcId + '/snippets/cart-drawer', {settings: settings}) %>
            <% } else if(component==='Global Styles' ){ %>
                <%- include('make/brand', {settings: settings}) %>
            <% } else if(component==='Typography Settings' ){ %>
                <%- include('make/fonts', {settings: settings}) %>
            <% } %>
        <% } %>
        <% if(sections && sections.length){ %>
            <% sections.forEach(item=> { %>
                <%- include(srcId + '/sections/' + item.file_name, {
                    menu: menu, 
                    blogs: blog,
                    blog: blog,
                    article: article,
                    product: product,
                    settings: settings, 
                    section: item,
                    localization: false,
                    collection: collection,
                    collections: collections,
                    form: false,
                    page: false,
                    customer: customer, 
                    paginate: false,
                    all_country_option_tags: false,
                    routes: false,
                    search: false,
                    shop: false,
                    request: false,
                    gift_card: false,
                }) %>
            <% }) %>
        <% } %>

    <script src="https://cdn.shopify.com/s/javascripts/currencies.js" defer="defer"></script>
    <script src="/<%=srcId%>/slider.js" defer="defer"></script>
    <script src="https://cdn.rawgit.com/blowsie/Pure-JavaScript-HTML5-Parser/master/htmlparser.js"></script>
    <!-- <script src="/<%=srcId%>/variants.js" defer="defer"></script> -->
    <% if(settings.enable_global_anim){ %>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            let data = {
                disable: "<%=settings.anim_mobile%>",
                delay: "<%=settings.anim_delay%>",
                duration: "<%=settings.anim_duration%>",
                easing: "<%=settings.anim_easing%>",
                once: "<%=settings.anim_once%>",
                anchorPlacement: "<%=settings.anim_anchor%>",
            };
            AOS.init(data);
        </script>
        <% } %>
    </body>
</html>