<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search-' | append: settings.header_style | append: '.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification-' | append: settings.cart_style | append: '.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-header-style-1.css' | asset_url }}" media="print" onload="this.media='all'">


<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search-' | append: settings.header_style | append: '.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification-' | append: settings.cart_style | append: '.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .header-wrapper,.header__submenu,
  .search-modal.modal__content,.menu-drawer,.menu-drawer__submenu{
    background: {{section.settings.py_header_bg_color_1}};
  }
  .bc-mega-menu-image__title,.bc-mega-menu__title{
    color:{{section.settings.py_header_color}};
  }
  .menu-drawer__menu-item--active,
  .menu-drawer__menu-item:focus,
  .menu-drawer__close-button:focus,
  .menu-drawer__menu-item:hover,
  .menu-drawer__close-button:hover {
    color:{{section.settings.py_header_link_hov_color_1}};
    background-color: var(--color-foreground-4);
  }
  .header__heading *,
  .top-left-nav-item,
  .header__icons *,
  .header-wrapper a,
  .list-menu__item,
  .header-wrapper .link--text{
    color:{{section.settings.py_header_link_color_1}};
  }
  .header__heading *:hover,
  .top-left-nav-item:hover,
  .header__icons>*:hover *,
  .header-wrapper a:hover,
  .list-menu__item:hover{
    color:{{section.settings.py_header_link_hov_color_1}};
  }
  .header--top-left .header__inline-menu .list-menu__item,
  .header--top-left-with-nav .header__inline-menu .list-menu__item{
    color:{{section.settings.py_header_link_color_2}};
  }
  .header--top-left .header__inline-menu .list-menu__item:hover,
  .header--top-left-with-nav .header__inline-menu .list-menu__item:hover{
    color:{{section.settings.py_header_link_hov_color_2}};
  }
  .header--top-left .header__submenu,
  .header--top-left-with-nav .header__submenu{
    background: {{section.settings.py_header_bg_color_2}};
  }
  .header-search-container .header__icon--search form .search__input.field__input{
    border-radius: 30px;
    background: {{section.settings.py_search_bg_color}};
    box-shadow: 0 0 0 0.1rem #ededed;
    border-bottom: 0px;
  }
  .search__button svg{
    height: 1.8rem;
    width: 1.8rem;
  }
  .header-search-container .header__icon--search form .search__input.field__input,
  .header-search-container .header__icon--search form .field__label,
  .header-search-container .header__icon--search form .search__button svg{
    color:{{section.settings.py_search_color}};
  }
  .header-search-container .header__icon--search form .search__input.field__input:hover{
    background: {{section.settings.py_search_hover_bg_color}};
  }
  .header-search-container .header__icon--search form:hover .search__input.field__input,
  .header-search-container .header__icon--search form:hover .field__label,
  .header-search-container .header__icon--search form:hover .search__button svg{
    color:{{section.settings.py_search_hover_color}};
  }
  .header--top-left .header__inline-menu{
    padding-top: 5px;
  }
  @media(min-width:990px){
    .header--top-left-with-nav{
      padding:0px;      
    } 
    .header--top-left{
      padding:0px;
      padding-top:var(--py-{{section.settings.page_y_pd}});
    } 
    .header--top-left .header__heading,
    .header--top-left-with-nav .header__heading{
      padding-left:var(--py-{{section.settings.page_x_pd}});
    }
    .header--top-left .header__icons,
    .header--top-left-with-nav .header__icons{
      padding-right:var(--py-{{section.settings.page_x_pd}});
    }
    .header--top-left .header__inline-menu,
    .header--top-left-with-nav .header__inline-menu{ 
      background: {{section.settings.py_header_bg_color_2}};
      padding-left: var(--py-{{section.settings.page_x_pd}});
      padding-right: var(--py-{{section.settings.page_x_pd}});      
    }
    .header--top-left .header__inline-menu{
      margin-top:8px;
    }
    .top-left-nav-tabs{
      display:flex;
    }
    .top-left-nav-item{
      padding:var(--py-{{section.settings.page_y_pd}}) 20px;
      cursor: pointer;
      font-weight: 600;
    }
    .top-left-nav-item.active{
      background:{{section.settings.py_header_bg_color_2}};
      color:{{section.settings.py_header_link_color_2}};
    }
  }
  @media (max-width:989px){
    .header-top-left-nav-container,
    .header-search-container{
      display:none;
    }
  }
  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  body.index .header-position-fixed{
    position:absolute;
    width:100%;
  }
  body.index .header-position-fixed,
  body.index .header-position-fixed .header__inline-menu{
    background-color:transparent !important;
  }
  body.index .header-position-fixed .header-search-container{
    visibility: hidden;
  }
  #loopcheckout{
    background-color:{{settings.ck_btn_bg}};
    color:{{settings.ck_btn_color}};
  }
  #loopcheckout:hover{
    background-color:{{settings.ck_btn_hover_bg}};
    color:{{settings.ck_btn_hover_color}};
  }
  .bc-cart__item .bc-cart__title{
    font-size:{{settings.item_title_font_size}};
  }
  .bc-cart__item .bc-cart__variant-title{
    font-size:{{settings.item_title_font_size}};
  }
  .bc-cart__item .bc-cart__price-wrapper{
    font-size:{{settings.item_price_font_size}};
  }
  .bc-cart__item .bc-cart__properties-wrapper{
    font-size:{{settings.item_content_font_size}};
  }
  {% if settings.button_radius %}
  .bc-cart__buttons-wrapper .button{
    border-radius: {{settings.button_radius}}px;  
  }
  {% endif %}
  {% if settings.item_bg %}
  .bc-cart__item{
    padding:10px;
    background-color:{{settings.item_bg}};
    {% if settings.item_radius %}
    border-radius: {{settings.item_radius}}px; 
    {% endif %}
  }
  {% endif %}  
  {% if settings.item_radius %}
  .bc-cart__item .bc-cart__image-wrapper img{
    border-radius: {{settings.item_radius}}px;
  } 
  {% endif %}
  {% if settings.enable_dynamic_pay %}
  #loopcheckoutdynamic{
    margin-top: 15px;
    background: #5b32f6;
  }
  #loopcheckoutdynamic:hover{
    box-shadow: 0 0 10px black;
  }
  #loopcheckoutdynamic img{
    width: 74px;
  }
  {% endif %}
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.59 12.41 8.11 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z" fill="currentColor"/>
  </symbol>
  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper py-{{section.settings.br}} header-position-{{section.settings.header_position}}">
    <header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %} py-{{section.settings.page_width}} py-{{section.settings.page_y_pd}} py-{{section.settings.page_x_pd}}">
    {%- if section.settings.menu != blank -%}
      <header-drawer>
        <details class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link link--text focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                 <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details>
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title }}
                                </button>
                                {%- if section.blocks.size > 0 -%}
                                    {% assign no_mega = true %}
                                    {%- for block in section.blocks -%}
                                    {%- liquid 
                                        assign name = block.settings.name | strip | downcase
                                        assign title = link.title | strip | downcase 
                                    -%}
                                    {%- if block.type == 'mega_menu' and name == title -%}
                                    {% assign no_mega = false %}
                                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                      <li>
                                        <details>
                                            <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset mega_title">
                                            {{ link.title }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                            </summary>
                                            <div id="childlink-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                    {% render 'icon-arrow' %}
                                                    {{ link.title }}
                                                </button>
                                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                {%- for childlink in link.links -%}
                                                    <li>
                                                    {%- if childlink.links == blank -%}
                                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                        {{ childlink.title }}
                                                        </a>
                                                    {%- else -%}
                                                        <details>
                                                        <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                            {{ childlink.title }}
                                                            {% render 'icon-arrow' %}
                                                            {% render 'icon-caret' %}
                                                        </summary>
                                                        <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                            {% render 'icon-arrow' %}
                                                            {{ childlink.title }}
                                                            </button>
                                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                            {%- for grandchildlink in childlink.links -%}
                                                                <li>
                                                                <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                    {{ grandchildlink.title }}
                                                                </a>
                                                                </li>
                                                            {%- endfor -%}
                                                            </ul>
                                                        </div>
                                                        </details>
                                                    {%- endif -%}
                                                    </li>
                                                {%- endfor -%}
                                                </ul>
                                            </div>
                                        </details>
                                      </li>
                                    </ul>
                                    {%- endif -%}                                        
                                    {%- endfor -%}
                                {%- endif -%}  
                                {%- if no_mega-%}
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                  <li>
                                    {%- if childlink.links == blank -%}
                                    <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                      {{ childlink.title }}
                                    </a>
                                    {%- else -%}
                                    <details>
                                      <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                        {{ childlink.title }}
                                        {% render 'icon-arrow' %}
                                        {% render 'icon-caret' %}
                                      </summary>
                                      <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                        <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                          {% render 'icon-arrow' %}
                                          {{ childlink.title }}
                                        </button>
                                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                          {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {{ grandchildlink.title }}
                                            </a>
                                          </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                    {%- endif -%}
                                  </li>
                                  {%- endfor -%}
                                </ul>
                                {%- endif -%}
                                {%- if section.blocks.size > 0 -%}
                                    {%- for block in section.blocks -%}
                                    {%- liquid 
                                        assign name = block.settings.name | strip | downcase
                                        assign title = link.title | strip | downcase 
                                    -%}
                                    {%- if block.type == 'mega_menu' and name == title -%}
                                        {%- for i in (1..4) -%}
                                        {%- liquid 
                                            assign menuHandle = 'menu_' | append: i 
                                            assign imageHandle = 'image_' | append: i
                                            assign titleHandel = 'title_' | append: i
                                            assign urlHandle = 'link_' | append: i
                                            assign menu = block.settings[menuHandle]
                                            assign image = block.settings[imageHandle]
                                            assign title = block.settings[titleHandel]
                                            assign url = block.settings[urlHandle] 
                                        -%}
                                        {%- if menu != blank -%}
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">                                                
                                                <li>
                                                    <details>
                                                    <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset mega_title">
                                                    {{ menu.title }}
                                                    {% render 'icon-arrow' %}
                                                    {% render 'icon-caret' %}
                                                    </summary>
                                                    <div id="childlink-{{ menu.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                                        <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                            {% render 'icon-arrow' %}
                                                            {{ menu.title }}
                                                        </button>
                                                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                        {%- for link in menu.links -%}
                                                            <li>
                                                            <a href="{{ link.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                                                {{ link.title }}
                                                            </a>
                                                            </li>
                                                        {%- endfor -%}
                                                        </ul>
                                                    </div>
                                                    </details>
                                                </li>
                                            </ul>
                                        {%- endif -%}
                                        
                                        {%- endfor -%}
                                    <div class="bc-mega-menu-image-col {{block.settings.img_col_position}}">
                                        {%- for i in (1..4) -%}
                                        {%- liquid 
                                            assign menuHandle = 'menu_' | append: i 
                                            assign imageHandle = 'image_' | append: i
                                            assign titleHandel = 'title_' | append: i
                                            assign urlHandle = 'link_' | append: i
                                            assign menu = block.settings[menuHandle]
                                            assign image = block.settings[imageHandle]
                                            assign title = block.settings[titleHandel]
                                            assign url = block.settings[urlHandle] 
                                        -%}
                                        {%- if image != blank -%}
                                            <div class="bc-mega-menu-image">
                                            {%- if url != blank -%}
                                                <a href="{{ url }}">
                                            {%- endif -%}
                                                {%- render 'resimg', image: image -%}
                                                {%- if title != blank -%}
                                                <h3 class="bc-mega-menu-image__title">{{ title }}{% render 'icon-arrow' %}</h3>
                                                {%- endif -%}
                                            {%- if url != blank -%}
                                                </a>
                                            {%- endif -%}
                                            </div>
                                        {%- endif -%}
                                        
                                        {%- endfor -%}
                                    </div>
                                    {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                    {% if section.settings.menu-2 != blank %}
                    {% if section.settings.logo_position == 'middle-center' or section.settings.logo_position == 'top-left-with-nav' %}
                    {%- for link in section.settings.menu-2.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details>
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title }}
                                </button>
                                {%- if section.blocks.size > 0 -%}
                                    {% assign no_mega = true %}
                                    {%- for block in section.blocks -%}
                                    {%- liquid 
                                        assign name = block.settings.name | strip | downcase
                                        assign title = link.title | strip | downcase 
                                    -%}
                                    {%- if block.type == 'mega_menu' and name == title -%}
                                    {% assign no_mega = false %}
                                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                      <li>
                                        <details>
                                            <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ link.title }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                            </summary>
                                            <div id="childlink-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                    {% render 'icon-arrow' %}
                                                    {{ link.title }}
                                                </button>
                                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                {%- for childlink in link.links -%}
                                                    <li>
                                                    {%- if childlink.links == blank -%}
                                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                        {{ childlink.title }}
                                                        </a>
                                                    {%- else -%}
                                                        <details>
                                                        <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                            {{ childlink.title }}
                                                            {% render 'icon-arrow' %}
                                                            {% render 'icon-caret' %}
                                                        </summary>
                                                        <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                            {% render 'icon-arrow' %}
                                                            {{ childlink.title }}
                                                            </button>
                                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                            {%- for grandchildlink in childlink.links -%}
                                                                <li>
                                                                <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                    {{ grandchildlink.title }}
                                                                </a>
                                                                </li>
                                                            {%- endfor -%}
                                                            </ul>
                                                        </div>
                                                        </details>
                                                    {%- endif -%}
                                                    </li>
                                                {%- endfor -%}
                                                </ul>
                                            </div>
                                        </details>
                                      </li>
                                    </ul>
                                    {%- endif -%}                                        
                                    {%- endfor -%}
                                {%- endif -%}  
                                {%- if no_mega-%}
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                  <li>
                                    {%- if childlink.links == blank -%}
                                    <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                      {{ childlink.title }}
                                    </a>
                                    {%- else -%}
                                    <details>
                                      <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                        {{ childlink.title }}
                                        {% render 'icon-arrow' %}
                                        {% render 'icon-caret' %}
                                      </summary>
                                      <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                        <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                          {% render 'icon-arrow' %}
                                          {{ childlink.title }}
                                        </button>
                                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                          {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                              {{ grandchildlink.title }}
                                            </a>
                                          </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                    {%- endif -%}
                                  </li>
                                  {%- endfor -%}
                                </ul>
                                {%- endif -%}
                                {%- if section.blocks.size > 0 -%}
                                    {%- for block in section.blocks -%}
                                    {%- liquid 
                                        assign name = block.settings.name | strip | downcase
                                        assign title = link.title | strip | downcase 
                                    -%}
                                    {%- if block.type == 'mega_menu' and name == title -%}
                                        {%- for i in (1..4) -%}
                                        {%- liquid 
                                            assign menuHandle = 'menu_' | append: i 
                                            assign imageHandle = 'image_' | append: i
                                            assign titleHandel = 'title_' | append: i
                                            assign urlHandle = 'link_' | append: i
                                            assign menu = block.settings[menuHandle]
                                            assign image = block.settings[imageHandle]
                                            assign title = block.settings[titleHandel]
                                            assign url = block.settings[urlHandle] 
                                        -%}
                                        {%- if menu != blank -%}
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">                                                
                                                <li>
                                                    <details>
                                                    <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                    {{ menu.title }}
                                                    {% render 'icon-arrow' %}
                                                    {% render 'icon-caret' %}
                                                    </summary>
                                                    <div id="childlink-{{ menu.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                                        <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                            {% render 'icon-arrow' %}
                                                            {{ menu.title }}
                                                        </button>
                                                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                        {%- for link in menu.links -%}
                                                            <li>
                                                            <a href="{{ link.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                                                {{ link.title }}
                                                            </a>
                                                            </li>
                                                        {%- endfor -%}
                                                        </ul>
                                                    </div>
                                                    </details>
                                                </li>
                                            </ul>
                                        {%- endif -%}
                                        
                                        {%- endfor -%}
                                    <div class="bc-mega-menu-image-col {{block.settings.img_col_position}}">
                                        {%- for i in (1..4) -%}
                                        {%- liquid 
                                            assign menuHandle = 'menu_' | append: i 
                                            assign imageHandle = 'image_' | append: i
                                            assign titleHandel = 'title_' | append: i
                                            assign urlHandle = 'link_' | append: i
                                            assign menu = block.settings[menuHandle]
                                            assign image = block.settings[imageHandle]
                                            assign title = block.settings[titleHandel]
                                            assign url = block.settings[urlHandle] 
                                        -%}
                                        {%- if image != blank -%}
                                            <div class="bc-mega-menu-image">
                                            {%- if url != blank -%}
                                                <a href="{{ url }}">
                                            {%- endif -%}
                                                {%- render 'resimg', image: image -%}
                                                {%- if title != blank -%}
                                                <h3 class="bc-mega-menu-image__title">{{ title }}{% render 'icon-arrow' %}</h3>
                                                {%- endif -%}
                                            {%- if url != blank -%}
                                                </a>
                                            {%- endif -%}
                                            </div>
                                        {%- endif -%}
                                        
                                        {%- endfor -%}
                                    </div>
                                    {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                    {% endif %}{% endif %}
                  </ul>
                 </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link link--text focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'middle-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="search-modal__content" tabindex="-1">
              <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form" {% if section.settings.search_hide_tags %} data-hide-tags = "{{section.settings.search_hide_tags}}" {%endif%}>
                <div class="field">
                  <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                  <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                  <input type="hidden" name="type" value="product">
                  <input type="hidden" name="options[fields]" value="title,product_type,variants.title">
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                </div>
              </form>
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}

    <h1 class="header__heading">               
         <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
               <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                    src="{{ section.settings.logo | img_url: image_size }}"
                    loading="lazy"
                    class="header__heading-logo"
                    width="{{ section.settings.logo.width }}"
                    height="{{ section.settings.logo.height }}"
                    alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                >
             {%- else -%}
             <span class="h2">Logo</span>
               {%- endif -%}
          </a>                
     </h1>
              
     {%- if section.settings.menu != blank -%}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline active" role="list" {%- if section.settings.logo_position == 'top-left-with-nav'-%}data-index="1"{%- endif -%}>
          {%- for link in section.settings.menu.links -%}
            <li>
              {%- if link.links != blank -%}
                <details-disclosure>
                  <details>
                    <summary data-href="{{ link.url }}" class="header__menu-item list-menu__item link focus-inset">
                      <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title }}</span>
                      {% render 'icon-caret' %}
                    </summary>
                    <div class="header__submenu list-menu--disclosure caption-large motion-reduce" tabindex="-1">
                      <ul class="list-menu">
                        <h3 class="bc-mega-menu__title">{{ link.title }}</h3>
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title }}
                              </a>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                      <ul class="list-menu">
                        {%- for childlink in link.links -%}
                          {%- if childlink.links != blank -%}
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                  {{ grandchildlink.title }}
                                </a>
                              </li>
                            {%- endfor -%}
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                      {%- if section.blocks.size > 0 -%}
                        {%- for block in section.blocks -%}
                          {%- liquid 
                            assign name = block.settings.name | strip | downcase
                            assign title = link.title | strip | downcase 
                          -%}
                          {%- if block.type == 'mega_menu' and name == title -%}
                            {%- for i in (1..4) -%}
                              {%- liquid 
                                assign menuHandle = 'menu_' | append: i 
                                assign imageHandle = 'image_' | append: i
                                assign titleHandel = 'title_' | append: i
                                assign urlHandle = 'link_' | append: i
                                assign menu = block.settings[menuHandle]
                                assign image = block.settings[imageHandle]
                                assign title = block.settings[titleHandel]
                                assign url = block.settings[urlHandle] 
                              -%}
                              {%- if menu != blank -%}
                                <ul class="list-menu">
                                  <h3 class="bc-mega-menu__title">{{ menu.title }}</h3>
                                  {%- for link in menu.links -%}
                                    <li>
                                      <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                        {{ link.title }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                              
                            {%- endfor -%}
                          <div class="bc-mega-menu-image-col {{block.settings.img_col_position}}">
                            {%- for i in (1..4) -%}
                              {%- liquid 
                                assign menuHandle = 'menu_' | append: i 
                                assign imageHandle = 'image_' | append: i
                                assign titleHandel = 'title_' | append: i
                                assign urlHandle = 'link_' | append: i
                                assign menu = block.settings[menuHandle]
                                assign image = block.settings[imageHandle]
                                assign title = block.settings[titleHandel]
                                assign url = block.settings[urlHandle] 
                              -%}
                              {%- if image != blank -%}
                                <div class="bc-mega-menu-image">
                                  {%- if url != blank -%}
                                    <a href="{{ url }}">
                                  {%- endif -%}
                                    {%- render 'resimg', image: image -%}
                                    {%- if title != blank -%}
                                    <h3 class="bc-mega-menu-image__title">{{ title }}{% render 'icon-arrow' %}</h3>
                                    {%- endif -%}
                                  {%- if url != blank -%}
                                    </a>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                              
                            {%- endfor -%}
                          </div>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  </details>
                </details-disclosure>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title }}</span>
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
        {%- if section.settings.logo_position == 'top-left-with-nav' and section.settings.menu-2 != blank-%} 
            <ul class="list-menu list-menu--inline hidden" role="list" {%- if section.settings.logo_position == 'top-left-with-nav'-%}data-index="2"{%- endif -%}>
            {%- for link in section.settings.menu-2.links -%}
              <li>
                {%- if link.links != blank -%}
                  <details-disclosure>
                    <details>
                      <summary data-href="{{ link.url }}" class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div class="header__submenu list-menu--disclosure caption-large motion-reduce" tabindex="-1">
                        <ul class="list-menu">
                          {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                                <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {{ childlink.title }}
                                </a>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                        <ul class="list-menu">
                          {%- for childlink in link.links -%}
                            {%- if childlink.links != blank -%}
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                    {{ grandchildlink.title }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                        {%- if section.blocks.size > 0 -%}
                          {%- for block in section.blocks -%}
                            {%- liquid 
                              assign name = block.settings.name | strip | downcase
                              assign title = link.title | strip | downcase 
                            -%}
                            {%- if block.type == 'mega_menu' and name == title -%}
                              {%- for i in (1..4) -%}
                                {%- liquid 
                                  assign menuHandle = 'menu_' | append: i 
                                  assign imageHandle = 'image_' | append: i
                                  assign titleHandel = 'title_' | append: i
                                  assign urlHandle = 'link_' | append: i
                                  assign menu = block.settings[menuHandle]
                                  assign image = block.settings[imageHandle]
                                  assign title = block.settings[titleHandel]
                                  assign url = block.settings[urlHandle] 
                                -%}
                                {%- if menu != blank -%}
                                  <ul class="list-menu">
                                    <h3 class="bc-mega-menu__title">{{ menu.title }}</h3>
                                    {%- for link in menu.links -%}
                                      <li>
                                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                          {{ link.title }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}

                              {%- endfor -%}
                            <div class="bc-mega-menu-image-col {{block.settings.img_col_position}}">
                              {%- for i in (1..4) -%}
                                {%- liquid 
                                  assign menuHandle = 'menu_' | append: i 
                                  assign imageHandle = 'image_' | append: i
                                  assign titleHandel = 'title_' | append: i
                                  assign urlHandle = 'link_' | append: i
                                  assign menu = block.settings[menuHandle]
                                  assign image = block.settings[imageHandle]
                                  assign title = block.settings[titleHandel]
                                  assign url = block.settings[urlHandle] 
                                -%}
                                {%- if image != blank -%}
                                  <div class="bc-mega-menu-image">
                                    {%- if url != blank -%}
                                      <a href="{{ url }}">
                                    {%- endif -%}
                                      {%- render 'resimg', image: image -%}
                                      {%- if title != blank -%}
                                      <h3 class="bc-mega-menu-image__title">{{ title }}{% render 'icon-arrow' %}</h3>
                                      {%- endif -%}
                                    {%- if url != blank -%}
                                      </a>
                                    {%- endif -%}
                                  </div>
                                {%- endif -%}

                              {%- endfor -%}
                            </div>
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endif -%}
                      </div>
                    </details>
                  </details-disclosure>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}     
      </nav>
     {%- endif -%}
    {%- if section.settings.logo_position == 'top-left-with-nav'-%}
        <div class="header-top-left-nav-container">
          <div class="top-left-nav-tabs">
            <div class="top-left-nav-item active" data-index="1">Main Menu 1</div>
            <div class="top-left-nav-item" data-index="2">Main Menu 2</div>
          </div>
        </div>
    {% endif %}
    {%- if section.settings.logo_position == 'top-left' or section.settings.logo_position == 'top-left-with-nav'-%}
        <div class="header-search-container">
          <details-modal class="header__search">
            <details>
              <summary class="header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form" {% if section.settings.search_hide_tags %} data-hide-tags = "{{section.settings.search_hide_tags}}" {%endif%}>
                  <div class="field">
                    <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                    <label class="field__label" for="Search-In-Modal">Search</label>
                    <input type="hidden" name="type" value="product">
                    <input type="hidden" name="options[fields]" value="title,product_type,variants.title">
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button focus-inset" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>                
                </form>            
              </summary>
              <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                <div class="search-modal__content" tabindex="-1">             

                  <div class="bc-search-result-wrapper">
                    <div class="bc-cart__not-products">Sorry no results found</div>
                    <div class="bc-search-result-inner-wrapper"></div>
                    {%- if section.settings.search_menu != blank -%}
                    <ul class="list-menu bc-search-menu">
                      <h3 class="bc-search-menu__title">{{  section.settings.search_menu.title }}</h3>
                      {%- for link in  section.settings.search_menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                          {{ link.title }}
                        </a>
                      </li>
                      {%- endfor -%}
                    </ul>
                    {%- endif -%}
                  </div>
                  <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                    <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-close">
                    </svg>
                  </button>
                </div>
              </div>
            </details>
          </details-modal>
        </div>
    {% endif %}
    <div class="header__icons">      
      {%- if section.settings.menu-2 != blank and section.settings.logo_position == 'middle-center' -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu-2.links -%}
              <li>
                {%- if link.links != blank -%}
                  <details-disclosure>
                    <details>
                      <summary data-href="{{ link.url }}" class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div class="header__submenu list-menu--disclosure caption-large motion-reduce" tabindex="-1">
                        <ul class="list-menu">
                          {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                                <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {{ childlink.title }}
                                </a>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                        <ul class="list-menu">
                          {%- for childlink in link.links -%}
                            {%- if childlink.links != blank -%}
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                    {{ grandchildlink.title }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                        {%- if section.blocks.size > 0 -%}
                          {%- for block in section.blocks -%}
                            {%- liquid 
                              assign name = block.settings.name | strip | downcase
                              assign title = link.title | strip | downcase 
                            -%}
                            {%- if block.type == 'mega_menu' and name == title -%}
                              {%- for i in (1..4) -%}
                                {%- liquid 
                                  assign menuHandle = 'menu_' | append: i 
                                  assign imageHandle = 'image_' | append: i
                                  assign titleHandel = 'title_' | append: i
                                  assign urlHandle = 'link_' | append: i
                                  assign menu = block.settings[menuHandle]
                                  assign image = block.settings[imageHandle]
                                  assign title = block.settings[titleHandel]
                                  assign url = block.settings[urlHandle] 
                                -%}
                                {%- if menu != blank -%}
                                  <ul class="list-menu">
                                    <h3 class="bc-mega-menu__title">{{ menu.title }}</h3>
                                    {%- for link in menu.links -%}
                                      <li>
                                        <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                          {{ link.title }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                {%- endif -%}

                              {%- endfor -%}
                            <div class="bc-mega-menu-image-col {{block.settings.img_col_position}}">
                              {%- for i in (1..4) -%}
                                {%- liquid 
                                  assign menuHandle = 'menu_' | append: i 
                                  assign imageHandle = 'image_' | append: i
                                  assign titleHandel = 'title_' | append: i
                                  assign urlHandle = 'link_' | append: i
                                  assign menu = block.settings[menuHandle]
                                  assign image = block.settings[imageHandle]
                                  assign title = block.settings[titleHandel]
                                  assign url = block.settings[urlHandle] 
                                -%}
                                {%- if image != blank -%}
                                  <div class="bc-mega-menu-image">
                                    {%- if url != blank -%}
                                      <a href="{{ url }}">
                                    {%- endif -%}
                                      {%- render 'resimg', image: image -%}
                                      {%- if title != blank -%}
                                      <h3 class="bc-mega-menu-image__title">{{ title }}{% render 'icon-arrow' %}</h3>
                                      {%- endif -%}
                                    {%- if url != blank -%}
                                      </a>
                                    {%- endif -%}
                                  </div>
                                {%- endif -%}

                              {%- endfor -%}
                            </div>
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endif -%}
                      </div>
                    </details>
                  </details-disclosure>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link link--text focus-inset">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}
      
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="search-modal__content" tabindex="-1">
              <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form" {% if section.settings.search_hide_tags %} data-hide-tags = "{{section.settings.search_hide_tags}}" {%endif%}>
                <div class="field">
                  <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                  <label class="field__label" for="Search-In-Modal">Find what you're looking for</label>
                  <input type="hidden" name="type" value="product">
                  <input type="hidden" name="options[fields]" value="title,product_type,variants.title">
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button focus-inset" aria-label="{{ 'general.search.search' | t }}">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                </div>
                <div class="bc-search__input-bottom-label">Search any products and/or materials</div>
                <div class="bc-search-result-wrapper">
                  <div class="bc-cart__not-products">Sorry no results found</div>
                  <div class="bc-search-result-inner-wrapper"></div>
                  {%- if section.settings.search_menu != blank -%}
                    <ul class="list-menu bc-search-menu">
                      <h3 class="bc-search-menu__title">{{  section.settings.search_menu.title }}</h3>
                      {%- for link in  section.settings.search_menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if link.current %} list-menu__item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              </form>
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      {% if shop.enabled_currencies.size > 1 %}
        {% form 'currency', class: "currency-selector" %}
        <div class="currency-selector__input-wrapper select-group font--accent">
          <select name="currency" id="CurrencySelector" class="currency-selector__dropdown" aria-describedby="a11y-refresh-page-message" data-currency-selector>
            {% for currency in shop.enabled_currencies %}
            {%- if currency.iso_code != 'EUR' -%}
            <option value="{{currency.iso_code}}"{% if currency == cart.currency %} selected="true"{% endif %}>{{currency.iso_code}}</option>
            {%- endif -%}
            {% endfor %}
          </select>
        </div>
        {% endform %}
      {% endif %}
       
       <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble">
        {% render 'icon-cart' %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          <div class="cart-count-bubble">
            <span aria-hidden="true" id="cart-count">{{ cart.item_count }}</span>
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        
      </a>
      {% if settings.cart_style == 'style-3' %}
         {%- render 'cart-notification-3' -%}
      {% endif %}       

    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

</div>        
<div id="shopify-section-cart-template" class="shopify-section">
  {% if settings.cart_style == 'style-4' %}
          {%- render 'cart-notification-4' -%}      
        {% elsif settings.cart_style == 'style-3' %}
          
        {% elsif settings.cart_style == 'style-2' %}
          {%- render 'cart-notification-2',
              cart_layout: settings.cart_layout,
              enable_dynamic_pay: settings.enable_dynamic_pay,
          -%}
        {% else %}
          {%- render 'cart-notification',
            checkoutbtn_position: settings.checkoutbtn_position,
            enable_dynamic_pay: settings.enable_dynamic_pay,
          -%}
        {% endif%}
          </div>  </div>      
{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.announcementBar = document.getElementById('shopify-section-announcement-bar');
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.collFilters = document.querySelector('.coll-filters');
      this.proInfo = document.querySelector('.product__info-container--sticky');
      this.filterDrawer = document.querySelector('.coll-filter-drawer');
      this.filterDrawerForm = document.querySelector('.coll-filter-drawer__form');
      this.deleyTop = this.collFilters && this.announcementBar ? this.announcementBar.offsetHeight + this.header.offsetHeight : this.header.offsetHeight;
      this.deleyTop = this.header.offsetHeight;  
      this.collFilters && this.collFilters !== null ? this.collFilters.style.top = this.deleyTop + 'px' : null;
      this.proInfo && this.proInfo !== null ? this.proInfo.style.top = 20 + this.deleyTop + 'px' : null;
      this.filterDrawer && this.filterDrawer !== null && this.announcementBar && this.announcementBar !== null ? this.filterDrawer.style.top = this.announcementBar.offsetHeight + 'px' : null;
      this.filterDrawerForm && this.filterDrawerForm !== null && this.announcementBar && this.announcementBar !== 'null' ? this.filterDrawerForm.style.height = 'calc(100vh - ' + (169 + this.announcementBar.offsetHeight) + 'px)' : null; 

      this.onScrollHandler = this.onScroll.bind(this);

      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.reveal.bind(this));
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);

  /*document.querySelector('[data-currency-selector]').addEventListener('change', function(e){
    this.closest('form').submit();
  });*/

{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}
<script>    
    var parentMenu = document.querySelectorAll('nav> ul.list-menu details-disclosure>details>summary');
    var i;

    for (i = 0; i < parentMenu.length; i++) {
      if(parentMenu[i].getAttribute('data-href')!=null)
      parentMenu[i].addEventListener("click", function() {
        window.location.href = this.getAttribute('data-href');
      });
    }
 
</script>
{%- if section.settings.logo_position == 'top-left-with-nav'-%}
<script>
  document.querySelectorAll('.top-left-nav-item').forEach((item)=>{
    item.addEventListener('click', function(){
      if(item.className.indexOf('active')<0){
        let data_index = this.getAttribute('data-index');
        this.classList.remove('hidden');
        document.querySelector('.top-left-nav-item.active').classList.remove('active');
        document.querySelector("nav.header__inline-menu ul.list-menu.list-menu--inline.active").classList.add('hidden');
        document.querySelector("nav.header__inline-menu ul.list-menu.list-menu--inline.active").classList.remove('active');
        document.querySelector("nav.header__inline-menu ul.list-menu.list-menu--inline[data-index='"+data_index+"']").classList.remove('hidden');
        document.querySelector("nav.header__inline-menu ul.list-menu.list-menu--inline[data-index='"+data_index+"']").classList.add('active');
        this.classList.add('active');
        return true;
      }
      else{
        return false;
      }
    })
    
  })
</script>
{%- endif -%}
{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Custom logo width"
    },
    {
      "type": "select",
      "id": "header_position",
      "options": [
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "static",
          "label": "Static"
        }
      ],
      "default": "static",
      "label": "Header Position"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-left-center-nav",
          "label": "Middle Left with Nav Center"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-left-with-nav",
          "label": "Top Left with Nav"
        }
      ],
      "default": "top-left-with-nav",
      "label": "Logo position on large screen"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Second Menu",
      "info": "This will work for Center Logo position"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "Enable sticky header",
      "info": "Header shows on the screen as customers scroll up."
    },
    {
      "type": "text",
      "id": "search_hide_tags",
      "label": "Tags for hide on Search",
      "info": "Please contain tags that you want to hide from search result. Use '|' to seperate tags. EX: BOTTOMS|C_COVERAGES_CHEEKY|hide"
    },
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "Menu Search"
    },
    {
      "type": "header",
      "content": "Custom Styles"
    },
    {
      "type": "color",
      "id": "py_header_bg_color_1",
      "label": "Main Background",
      "default": "#5c9dff"
    },
    {
      "type": "color",
      "id": "py_header_bg_color_2",
      "label": "Bottom Background",
      "default": "#ff9494"
    },
    {
      "type": "color",
      "id": "py_header_color",
      "label": "Header Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "py_header_link_color_1",
      "label": "Main Link",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "py_header_link_hov_color_1",
      "label": "Main Hover Link",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "py_header_link_color_2",
      "label": "Bottom Link",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "py_header_link_hov_color_2",
      "label": "Bottom Hover Link",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "py_search_bg_color",
      "label": "Search Background",
      "default": "#efefef"
    },
    {
      "type": "color",
      "id": "py_search_color",
      "label": "Search Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "py_search_hover_bg_color",
      "label": "Search Focus Background",
      "default": "#efefef"
    },
    {
      "type": "color",
      "id": "py_search_hover_color",
      "label": "Search Focus Text",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Container (Width)",
      "options": [
        {
          "label": "Unset",
          "value": "width-un"
        },
        {
          "label": "Large",
          "value": "width-l"
        },
        {
          "label": "Medium",
          "value": "width-m"
        },
        {
          "label": "Small",
          "value": "width-s"
        }
      ],
      "default": "width-un"
    },
    {
      "type": "select",
      "id": "page_x_pd",
      "label": "Container Padding Horizontal",
      "options": [
        {
          "label": "Unset",
          "value": "pd-x-un"
        },
        {
          "label": "None",
          "value": "pd-x-n"
        },
        {
          "label": "XL",
          "value": "pd-x-xl"
        },
        {
          "label": "L",
          "value": "pd-x-l"
        },
        {
          "label": "M",
          "value": "pd-x-m"
        },
        {
          "label": "S",
          "value": "pd-x-s"
        },
        {
          "label": "XS",
          "value": "pd-x-xs"
        }
      ],
      "default": "pd-x-m"
    },
    {
      "type": "select",
      "id": "page_y_pd",
      "label": "Container Padding Vertical",
      "options": [
        {
          "label": "Unset",
          "value": "pd-y-un"
        },
        {
          "label": "None",
          "value": "pd-y-n"
        },
        {
          "label": "XL",
          "value": "pd-y-xl"
        },
        {
          "label": "L",
          "value": "pd-y-l"
        },
        {
          "label": "M",
          "value": "pd-y-m"
        },
        {
          "label": "S",
          "value": "pd-y-s"
        },
        {
          "label": "XS",
          "value": "pd-y-xs"
        }
      ],
      "default": "pd-y-m"
    },
    {
      "type": "select",
      "id": "br",
      "label": "Border",
      "options": [
        {
          "label": "None",
          "value": "br-none"
        },
        {
          "label": "Horizontal and Vertical",
          "value": "br"
        },
        {
          "label": "Horizontal",
          "value": "br-x"
        },
        {
          "label": "Vertical",
          "value": "br-y"
        }
      ],
      "default": "br-none"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega Menu",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name (Menu) for adding Mega Menu"
        },
        {
          "type": "link_list",
          "id": "menu_1",
          "label": "Menu One"
        },
        {
          "type": "link_list",
          "id": "menu_2",
          "label": "Menu Two"
        },
        {
          "type": "link_list",
          "id": "menu_3",
          "label": "Menu Three"
        },
        {
          "type": "link_list",
          "id": "menu_4",
          "label": "Menu Four"
        },
        {
          "type": "header",
          "content": "Image with Link One"
        },
        {
          "type": "select",
          "id": "img_col_position",
          "label": "Image Column Position",
          "options": [
            {
              "label": "First",
              "value": "first"
            },
            {
              "label": "Last",
              "value": "last"
            }
          ],
          "default": "last"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image with Link Two"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image with Link Three"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image with Link Four"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_4",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}