{{ 'main-image-with-two-products.css' | asset_url | stylesheet_tag }}
<link rel="preload" href="{{ 'component-card-style-1.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-price-style-1.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-variants.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>{{ 'component-card-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-variants.css' | asset_url | stylesheet_tag }}</noscript>

<div class="bc-iwtp bc-{{settings.section_style}}-bt">
  <div class="page-width page-width-{{settings.section_style}}">
    <div class="bc-iwtp__content bc-iwtp__content-{{ section.settings.image_position }}">
      <div class="bc-iwtp__image-wrapper"
        {% if section.settings.enable_anim %} data-aos="{{section.settings.anim}}"{% endif %}>
        {%- if section.settings.image != blank -%}
          <div {% if section.settings.m_image != blank %}class="small-hide"{% endif %} class="bc-{{ settings.section_style }}-bt">
            {% render 'resimg', image: section.settings.image %}
          </div>
        {% else %}
          <div {% if section.settings.m_image != blank %}class="small-hide"{% endif %} class="bc-{{ settings.section_style }}-bt py-bg-c-light">
             {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {%- endif -%}
        {%- if section.settings.m_image != blank -%}
          <div class="medium-hide large-up-hide">
            {% render 'resimg', image: section.settings.m_image %}
          </div>
        {%- endif -%}
        {%- if section.settings.title != blank or section.settings.text != blank -%}
        <div class="bc-iwtp__info {{ section.settings.align }}" {% if section.settings.color != blank %}style="color:{{ section.settings.color }}"{% endif %}>
          {%- if section.settings.title != blank -%}
            <h2 class="bc-iwtp__info-title bc-iwtp__info-title-{{ section.id }}">{{ section.settings.title }}</h2>
            {%- render 'style', sufix: '.bc-iwtp__info-title', id: section.id, style: section.settings -%}
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="bc-iwtp__info-text">{{ section.settings.text }}</div>
          {%- endif -%}
        </div>
        {%- endif -%}
      </div>
      {%- if section.blocks.size > 0 -%}
      <div class="bc-iwtp__products-wrapper">
        {%- for block in section.blocks -%}
          {%- if block.type == 'product' and block.settings.product != blank -%}
            {%- assign productH = all_products[block.settings.product] -%}
            <div {% if forloop.first and settings.section_style == 'border' %}class="bc-br-bt"{% endif %}{% if block.settings.enable_anim %} data-aos="{{block.settings.anim}}"{% endif %}>
              {% render 'product-card', 
                product_card_product: productH, 
                media_size: block.settings.image_ratio,
                show_secondary_image: true
              %}
            </div>
          {% else %}
          <div {% if forloop.first and settings.section_style == 'border' %}class="bc-br-bt"{% endif %}{% if block.settings.enable_anim %} data-aos="{{block.settings.anim}}"{% endif %}>
             {% render 'product-card-placeholder',index: forloop.index %}
          </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      {%- endif -%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "image with two products",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "m_image",
      "label": "Mobile Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "label": "Image Position",
      "default": "right"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Content",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Your Heading Here"
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "text",
      "id": "weight",
      "label": "Font Weight"
    },
    {
      "type": "text",
      "id": "size",
      "label": "Font Size"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "text",
      "id": "m_weight",
      "label": "Font Weight"
    },
    {
      "type": "text",
      "id": "m_size",
      "label": "Font Size"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Your content and iformation text here!</p>"
    },
    {
      "type": "select",
      "id": "align",
      "label": "Content Aligment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "checkbox",
      "id": "enable_anim",
      "label": "Enable Animation",
      "default": false
    },
    {
      "type": "select",
      "id": "anim",
      "label": "Animation Type",
      "options": [
        {
          "value": "fade-up",
          "label": "Fade In Up"
        },
        {
          "value": "fade-down",
          "label": "Fade In Down"
        },
        {
          "value": "fade-right",
          "label": "Fade In Right"
        },
        {
          "value": "fade-left",
          "label": "Fade In Left"
        },
        {
          "value": "flip-up",
          "label": "Flip In Up"
        },
        {
          "value": "flip-down",
          "label": "Flip In Down"
        },
        {
          "value": "flip-left",
          "label": "Flip In Left"
        },
        {
          "value": "flip-right",
          "label": "Flip In Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        }
      ],
      "default": "zoom-in"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 2,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt to image"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "square",
              "label": "Square"
            }
          ],
          "default": "square",
          "label": "Image ratio"
        },
        {
          "type": "header",
          "content": "Animation"
        },
        {
          "type": "checkbox",
          "id": "enable_anim",
          "label": "Enable Animation",
          "default": false
        },
        {
          "type": "select",
          "id": "anim",
          "label": "Animation Type",
          "options": [
            {
              "value": "fade-up",
              "label": "Fade In Up"
            },
            {
              "value": "fade-down",
              "label": "Fade In Down"
            },
            {
              "value": "fade-right",
              "label": "Fade In Right"
            },
            {
              "value": "fade-left",
              "label": "Fade In Left"
            },
            {
              "value": "flip-up",
              "label": "Flip In Up"
            },
            {
              "value": "flip-down",
              "label": "Flip In Down"
            },
            {
              "value": "flip-left",
              "label": "Flip In Left"
            },
            {
              "value": "flip-right",
              "label": "Flip In Right"
            },
            {
              "value": "zoom-in",
              "label": "Zoom In"
            },
            {
              "value": "zoom-out",
              "label": "Zoom Out"
            }
          ],
          "default": "zoom-in"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Imagw with two products"
    }
  ]
}
{% endschema %}