{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner hero_banner bc-{{settings.section_style}}-bt" {% if section.settings.url != blank %}data-href="{{ section.settings.url }}" style="cursor: pointer;"{% endif %}>
  
      {%- if section.settings.image != blank -%}
        <div class="media{% if section.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} small-hide{% endif %}" style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;">
          <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 2800 -%}{{ section.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
            src="{{ section.settings.image | img_url: '750x' }}"
            {% if section.settings.show_lazy %}loading="lazy"{% endif %}
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            {% if section.settings.enable_anim %} data-aos="{{section.settings.anim}}"{% endif %}
          >
        </div>
      {%- elsif section.settings.image_2 == blank -%}
        <div class="media placeholder">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
      {%- if section.settings.image_2 != blank -%}
        {%- render 'resimg', image: section.settings.image_2, classwrapper: 'large-up-hide medium-hide'  -%}
      {%- endif -%}
      <div class="banner__content banner__content-{{ section.id }} page-width">
        {%- render 'style', sufix: '.banner__content', id: section.id, style: section.settings -%}
        <div class="banner__box">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <h2 class="banner__heading h1 color-white" id="banner__heading-{{ block.id }}">
                  {{ block.settings.heading }}
                </h2>
                {%- render 'style', sufix: '#banner__heading', id: block.id, style: block.settings -%}
              {%- when 'text' -%}
                <div class="banner__text color-white" id="banner__text-{{ block.id }}">
                  {{ block.settings.text }}
                </div>
                {%- render 'style', sufix: '#banner__text', id: block.id, style: block.settings -%}
              {%- when 'buttons' -%}
                <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank and block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}">
                  {%- if block.settings.button_label_1 != blank -%}
                    <a id="bunner__button-{{ block.id }}" href="{{ block.settings.button_link_1 }}" class="button button--primary"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>
                      {{ block.settings.button_label_1 }}
                    </a>
                    {%- render 'style', sufix: '#bunner__button', id: block.id, style: block.settings -%}
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
     
</div>
<script>
  if(document.getElementsByClassName('hero_banner').length>0){
    var HSL = document.getElementsByClassName("hero_banner");
    var i;

    for (i = 0; i < HSL.length; i++) {
      if(HSL[i].getAttribute('data-href')!=null)
      HSL[i].addEventListener("click", function() {
        window.location.href = this.getAttribute('data-href');
      });
    }
  }
</script>
{% schema %}
{
  "name": "image banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Dsktop Image"
    },
    {
      "type": "checkbox",
      "id": "show_lazy",
      "label": "lazy Load",
      "default": true,
      "info": "For your site speed score, please disable lazy loading when the image is loaded first on the screen."
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Mobile Image"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Override"
    },
    {
      "type": "checkbox",
      "id": "show_override",
      "label": "Show Override",
      "default": false
    },
    {
      "type": "color",
      "id": "ov_bg_color",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "ov_bg_image",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "ov_opacity",
      "label": "Opacity"
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "select",
      "id": "pv",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "default": "center",
      "label": "Vertical Position"
    },
    {
      "type": "select",
      "id": "ph",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Horizontal Position"
    },
    {
      "type": "select",
      "id": "align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Aligment"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Width"
    },
    {
      "type": "text",
      "id": "height",
      "label": "Height"
    },
    {
      "type": "textarea",
      "id": "c_css",
      "label": "Custom CSS"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "select",
      "id": "m_pv",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "default": "center",
      "label": "Vertical Position"
    },
    {
      "type": "select",
      "id": "m_ph",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Horizontal Position"
    },
    {
      "type": "select",
      "id": "m_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Aligment"
    },
    {
      "type": "text",
      "id": "m_padding",
      "label": "Padding"
    },
    {
      "type": "text",
      "id": "m_margin",
      "label": "Margin"
    },
    {
      "type": "text",
      "id": "m_width",
      "label": "Width"
    },
    {
      "type": "text",
      "id": "m_height",
      "label": "Height"
    },
    {
      "type": "textarea",
      "id": "m_c_css",
      "label": "Custom CSS"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "checkbox",
      "id": "enable_anim",
      "label": "Enable Animation",
      "default": false
    },
    {
      "type": "select",
      "id": "anim",
      "label": "Animation Type",
      "options": [
        {
          "value": "fade-up",
          "label": "Fade In Up"
        },
        {
          "value": "fade-down",
          "label": "Fade In Down"
        },
        {
          "value": "fade-right",
          "label": "Fade In Right"
        },
        {
          "value": "fade-left",
          "label": "Fade In Left"
        },
        {
          "value": "flip-up",
          "label": "Flip In Up"
        },
        {
          "value": "flip-down",
          "label": "Flip In Down"
        },
        {
          "value": "flip-left",
          "label": "Flip In Left"
        },
        {
          "value": "flip-right",
          "label": "Flip In Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        }
      ],
      "default": "zoom-out"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "select",
          "id": "align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color"
        },
        {
          "type": "text",
          "id": "weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "select",
          "id": "m_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "color",
          "id": "m_color",
          "label": "Text Color"
        },
        {
          "type": "text",
          "id": "m_weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "m_size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "m_width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "m_height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "m_c_css",
          "label": "Custom CSS"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "select",
          "id": "align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color"
        },
        {
          "type": "text",
          "id": "weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "select",
          "id": "m_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "color",
          "id": "m_color",
          "label": "Text Color"
        },
        {
          "type": "text",
          "id": "m_weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "m_size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "m_width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "m_height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "m_c_css",
          "label": "Custom CSS"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "First button label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "First button link"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "color",
          "id": "bg",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "border",
          "label": "border Color"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color"
        },
        {
          "type": "text",
          "id": "b_width",
          "label": "Border Width"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "color",
          "id": "m_bg",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "m_border",
          "label": "border Color"
        },
        {
          "type": "color",
          "id": "m_color",
          "label": "Text Color"
        },
        {
          "type": "text",
          "id": "m_b_width",
          "label": "Border Width"
        },
        {
          "type": "text",
          "id": "m_size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "m_weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "m_width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "m_height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "m_c_css",
          "label": "Custom CSS"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "hero banner",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "<div class=\"grid grid--1-col grid--3-col-desktop\">  <div class=\"grid__item\">Fashion</div>  <div class=\"grid__item\">Lifestyle</div>  <div class=\"grid__item\">Food</div> </div>",
            "align": "center",
            "color": "#FFFFFF"
          }
        },
        {
          "type": "text"
        },
        {
          "type": "buttons",
          "settings": {
            "button_label_1": "Shop Now"
          }
        }
      ]
    }
  ]
}
{% endschema %}