{% if section.settings.collection_style == "style-1" %}
{{ 'template-collection-style-1.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-card-style-1.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-price-style-1.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-badge.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-variants.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-card-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-variants.css' | asset_url | stylesheet_tag }}</noscript>

{% elsif section.settings.collection_style == "style-2" %}

{{ 'template-collection-grid-' | append:  section.settings.collection_style | append: '.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-collection-card-' | append: section.settings.collection_style | append: '.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-price-style-1.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-badge.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-variants.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-collection-card-' | append: section.settings.collection_style | append: '.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-variants.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{% endif %}

<style>
.py-c-dark .card-wrapper *{
  color: var(--py-color-dark);
}
.py-c-average .card-wrapper *{
  color: var(--py-color-avarge);
}
.py-c-light .card-wrapper *{
  color: var(--py-color-light);
}
 
{% if section.settings.custom_font_style %}

  .card-wrapper .card-information__text{
    font-size: {{section.settings.title_fontsize}};
    font-weight: {{section.settings.title_fontweight}};
    font-stretch:{{section.settings.title_fontstretch}};
    font-style:{{section.settings.title_fontstyle}};
    line-height:{{section.settings.title_lineheight}};
    letter-spacing:{{section.settings.title_letterspacing}}
  }
  @media(max-width:749px){
    .card-wrapper .card-information__text{
        font-size: {{section.settings.title_fontsize_m}}
    }
  }
  .card-wrapper .price *{
    font-size: {{section.settings.info_fontsize}};
    font-weight: {{section.settings.info_fontweight}};
    font-stretch:{{section.settings.info_fontstretch}};
    font-style:{{section.settings.info_fontstyle}};
    line-height:{{section.settings.info_lineheight}};
    letter-spacing:{{section.settings.info_letterspacing}}
  }
  @media(max-width:749px){
    .card-wrapper .price *{
        font-size: {{section.settings.info_fontsize_m}}
    }
  }

{% endif %}
</style>

{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}



<div class="bc-collection-page-main filter-{{section.settings.filter_style}} py-{{section.settings.color}} py-{{section.settings.bg_color}} py-{{section.settings.page_y_pd}} py-{{section.settings.page_x_pd}} py-{{section.settings.page_y_mg}}">
  
  {%- if section.settings.filter_style == 'style-1' -%}
    {%- render 'collection-filters-style-1' -%}
  {%- elsif section.settings.filter_style == 'style-2' -%}
    {%- render 'collection-filters-style-2', heading: section.settings.filter_heading, btnLabel: section.settings.filter_btn_label -%}
  {%- elsif section.settings.filter_style == 'style-3' -%}
    {%- render 'collection-filters-style-3' -%}
  {%- endif -%}
  {% if section.settings.collection_style == "style-1" %}
  <div id="CollectionProductGrid" class="bc-collection-page-products py-{{section.settings.page_width}}">
    {%- paginate collection.products by section.settings.products_per_page -%}
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty" id="main-collection-product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

          <p class="collection-product-count light">
            {{ 'sections.collection_template.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
          </p>

          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div class="collection">
          <div class="loading-overlay">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

          <p class="collection-product-count light">
            {{ 'sections.collection_template.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
          </p>

          <ul id="main-collection-product-grid" data-id="{{ section.id }}" class="
            grid grid--2-col
            {% if collection.products_count < 4 %} grid--{{ collection.products_count }}-col-tablet{% else %}
              {% if collection.products_count == 4 %} grid--4-col-desktop{% else %} grid--one-third-max grid--2-col-tablet grid--4-col-desktop grid--quarter-max{% endif %}
            {% endif %}">
            {%- for product in collection.products -%}
              <li class="grid__item" style="padding-left:{{section.settings.item_space}}px;padding-bottom:{{section.settings.item_space}}px">
                {% render 'product-card',
                  product_card_product: product,
                  media_size: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  add_image_padding: section.settings.add_image_padding,
                  show_vendor: section.settings.show_vendor,
                  show_colors: section.settings.show_colors
                %}
              </li>
            {%- endfor -%}
          </ul>

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '', class: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>

  {% elsif section.settings.collection_style == "style-2" %}

  <div id="CollectionProductGrid" class="bc-collection-page-products py-{{section.settings.page_width}}">
    {%- paginate collection.products by section.settings.products_per_page -%}
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty" id="main-collection-product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

          <p class="collection-product-count light">
            {{ 'sections.collection_template.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
          </p>

          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div class="collection ">
          <div class="loading-overlay">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

          <p class="collection-product-count light">
            {{ 'sections.collection_template.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
          </p>

          <ul id="main-collection-product-grid" data-id="{{ section.id }}" class="grid grid--2-col grid--3-col-tablet grid--4-col-desktop">
            {%- for product in collection.products -%}
              <li class="grid__item" style="padding-bottom:{{section.settings.item_space}}px">
                {% render 'product-card-style-2',
                  product_card_product: product,
                  media_size: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  add_image_padding: section.settings.add_image_padding,
                  show_vendor: section.settings.show_vendor,
                  show_colors: section.settings.show_colors
                %}
              </li>
            {%- endfor -%}
          </ul>

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '', class: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>



  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'collection-card-style-2.js' | asset_url }}" defer="defer"></script>
  {% endif %}
</div>
{% schema %}
{
  "name": "main collection product grid",
  "class": "collection-grid-section",
  "settings": [
    {
      "type": "select",
      "id": "collection_style",
      "options": [
        {
          "value": "style-1",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        }
      ],
      "default": "style-1",
      "label": "Grid Style"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 48,
      "step": 4,
      "default": 16,
      "label": "Products per page"
    },
    {
      "type": "header",
      "content": "Custom Styles"
    },
    {
      "type": "range",
      "id": "item_space",
      "min": 0,
      "max": 40,
      "step": 5,
      "default": 10,
      "label": "Item Space"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background Color",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Unset",
          "value": "unset"
        },
        {
          "label": "Background Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Background Average",
          "value": "bg-c-average"
        },
        {
          "label": "Background Light",
          "value": "bg-c-light"
        }
      ],
      "default": "bg-c-dark"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Container (Width)",
      "options": [
        {
          "label": "Unset",
          "value": "width-un"
        },
        {
          "label": "Width Large",
          "value": "width-l"
        },
        {
          "label": "Width Medium",
          "value": "width-m"
        },
        {
          "label": "Width Small",
          "value": "width-s"
        }
      ],
      "default": "width-un"
    },
    {
      "type": "select",
      "id": "page_x_mg",
      "label": "Container Margin Hotizontal",
      "options": [
        {
          "label": "Unset",
          "value": "mg-x-un"
        },
        {
          "label": "None",
          "value": "mg-x-n"
        },
        {
          "label": "Margin H XL",
          "value": "mg-x-xl"
        },
        {
          "label": "Margin H L",
          "value": "mg-x-l"
        },
        {
          "label": "Margin H M",
          "value": "mg-x-m"
        },
        {
          "label": "Margin H S",
          "value": "mg-x-s"
        },
        {
          "label": "Margin H XS",
          "value": "mg-x-xs"
        }
      ],
      "default": "mg-x-un"
    },
    {
      "type": "select",
      "id": "page_y_mg",
      "label": "Container Margin Vertical",
      "options": [
        {
          "label": "Unset",
          "value": "mg-y-un"
        },
        {
          "label": "None",
          "value": "mg-y-n"
        },
        {
          "label": "Margin V XL",
          "value": "mg-y-xl"
        },
        {
          "label": "Margin V L",
          "value": "mg-y-l"
        },
        {
          "label": "Margin V M",
          "value": "mg-y-m"
        },
        {
          "label": "Margin V S",
          "value": "mg-y-s"
        },
        {
          "label": "Margin V XS",
          "value": "mg-y-xs"
        }
      ],
      "default": "mg-y-un"
    },
    {
      "type": "select",
      "id": "page_x_pd",
      "label": "Container Padding Horizontal",
      "options": [
        {
          "label": "Unset",
          "value": "pd-x-un"
        },
        {
          "label": "None",
          "value": "pd-x-n"
        },
        {
          "label": "Padding H XL",
          "value": "pd-x-xl"
        },
        {
          "label": "Padding H L",
          "value": "pd-x-l"
        },
        {
          "label": "Padding H M",
          "value": "pd-x-m"
        },
        {
          "label": "Padding H S",
          "value": "pd-x-s"
        },
        {
          "label": "Padding H XS",
          "value": "pd-x-xs"
        }
      ],
      "default": "pd-x-unset"
    },
    {
      "type": "select",
      "id": "page_y_pd",
      "label": "Container Padding Vertical",
      "options": [
        {
          "label": "Unset",
          "value": "pd-y-un"
        },
        {
          "label": "None",
          "value": "pd-y-n"
        },
        {
          "label": "Padding V XL",
          "value": "pd-y-xl"
        },
        {
          "label": "Padding V L",
          "value": "pd-y-l"
        },
        {
          "label": "Padding V M",
          "value": "pd-y-m"
        },
        {
          "label": "Padding V S",
          "value": "pd-y-s"
        },
        {
          "label": "Padding V XS",
          "value": "pd-y-xs"
        }
      ],
      "default": "pd-y-xs"
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "Add image padding"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_colors",
      "default": false,
      "label": "Show Colors"
    },
    {
      "type": "header",
      "content": "Filtering and sorting"
    },
    {
      "type": "select",
      "id": "filter_style",
      "label": "Filter Style",
      "options": [
        {
          "label": "Style 1",
          "value": "style-1"
        },
        {
          "label": "Style 2",
          "value": "style-2"
        },
        {
          "label": "Style 3",
          "value": "style-3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": false,
      "label": "Enable filtering",
      "info": "[Customize filters](/admin/menus)"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": false,
      "label": "Enable sorting"
    },
    {
      "type": "text",
      "id": "filter_heading",
      "label": "Heading",
      "default": "FILTERS"
    },
    {
      "type": "text",
      "id": "filter_btn_label",
      "label": "Button Label",
      "default": "SEE RESULTS"
    },
    {
      "type": "header",
      "content": "Card Product Title Font Style"
    },
    {
      "type": "checkbox",
      "id": "custom_font_style",
      "default": true,
      "label": "Use Custom Style"
    },
    {
      "type": "text",
      "id": "title_fontsize",
      "label": "Font size Desktop",
      "info": "Ex: 20px ",
      "default": null
    },
    {
      "type": "text",
      "id": "title_fontsize_m",
      "label": "Font size Mobile",
      "default": null
    },
    {
      "type": "text",
      "id": "title_fontweight",
      "label": "Font-weight",
      "default": null
    },
    {
      "type": "text",
      "id": "title_fontstretch",
      "label": "Font-stretch",
      "info": "Ex: 40%",
      "default": null
    },
    {
      "type": "select",
      "id": "title_fontstyle",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "italic",
          "label": "italic"
        }
      ],
      "default": "normal",
      "label": "Font-style"
    },
    {
      "type": "text",
      "id": "title_lineheight",
      "label": "Lineheight",
      "default": null
    },
    {
      "type": "text",
      "id": "title_letterspacing",
      "label": "Letter-spacing",
      "info": "Ex: 0.5px",
      "default": null
    },
    {
      "type": "header",
      "content": "Card Product info Font Style"
    },
    {
      "type": "text",
      "id": "info_fontsize",
      "label": "Font size Desktop",
      "info": "Ex: 20px ",
      "default": null
    },
    {
      "type": "text",
      "id": "info_fontsize_m",
      "label": "Font size Mobile",
      "default": null
    },
    {
      "type": "text",
      "id": "info_fontweight",
      "label": "Font-weight",
      "default": null
    },
    {
      "type": "text",
      "id": "info_fontstretch",
      "label": "Font-stretch",
      "info": "Ex: 40%",
      "default": null
    },
    {
      "type": "select",
      "id": "info_fontstyle",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "italic",
          "label": "italic"
        }
      ],
      "default": "normal",
      "label": "Font-style"
    },
    {
      "type": "text",
      "id": "info_lineheight",
      "label": "Lineheight",
      "default": null
    },
    {
      "type": "text",
      "id": "info_letterspacing",
      "label": "Letter-spacing",
      "info": "Ex: 0.5px",
      "default": null
    }
  ],
  "blocks": [
    {
      "type": "filter",
      "name": "Filter",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Filter Name"
        },
        {
          "type": "text",
          "id": "tag_prefix",
          "label": "Tag Prefix",
          "info": "ex. 'C_COV_'"
        },
        {
          "type": "textarea",
          "id": "tags",
          "label": "Tag Values",
          "info": "Delimit tags with a pipe ('|') ex. RED|DARK BLUE|YELLOW|..."
        }
      ]
    }
  ]
}
{% endschema %}