{{ 'template-collection-style-1.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card-style-1.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price-style-1.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search-style-1.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-variants.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search-style-1.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-variants.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .template-search__search {
    margin: 0 auto;
    max-width: 29.5rem;
  }

  .template-search__search .search {
    margin-top: 3rem;
  }

  .template-search__results {
    margin-top: 6rem;
  }

  .template-search--empty {
    padding-bottom: 18rem;
  }

  @media screen and (min-width: 750px) {
    .template-search__search {
      max-width: 47.8rem;
    }
  }

  .search__button .icon {
    height: 1.8rem;
  }
</style>

<div class="template-search {% unless search.performed and search.results.size > 0 %} template-search--empty{% endunless %}">
  <div class="page-width center">
    {%- if search.performed -%}
      <h1 class="h2">{{ 'templates.search.title' | t }}</h1>
    {%- else -%}
      <h1 class="h2">{{ 'general.search.search' | t }}</h1>
    {%- endif -%}
    <div class="template-search__search">
      <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <div class="field">
          <input
            class="search__input field__input"
            id="Search-In-Template"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            {% if search.performed %}autofocus{% endif %}
            placeholder="{{ 'general.search.search' | t }}"
          >
          <label class="field__label" for="Search-In-Template" aria-hidden="true">{{ 'general.search.search' | t }}</label>
          <input type="hidden" name="type" value="product,page,article">
          <input type="hidden" name="options[fields]" value="title,product_type,variants.title">
          <input name="options[prefix]" type="hidden" value="last">
          <button type="submit" class="search__button field__button focus-inset" aria-label="{{ 'general.search.search' | t }}">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search">
            </svg>
          </button>
        </div>
      </form>
    </div>
    {%- if search.performed -%}
      <p role="status" >
        {%- if search.results_count == 0 -%}
          {{ 'templates.search.no_results' | t: terms: search.terms }}
        {%- else -%}
        <span><span class="result_number"></span> results found for “{{  search.terms }}”</span>        
        {%- endif -%}
      </p>
    {%- endif -%}
  </div>
  {%- if search.performed and search.results.size > 0 -%}
    {% paginate search.results by 100 %}
      <div class="template-search__results page-width">
        <ul class="grid grid--4-col-desktop grid--3-col-tablet grid--2-col grid--one-third-max grid--quarter-max negative-margin" role="list">
          {%- for item in search.results -%}
            {%- case item.object_type -%}
              {%- when 'product' -%}                
                <li aria-tags="{{item.tags}}" class="search-result-items grid__item {% unless item.object_type == 'product' %} grid__item--small{% endunless %}">
                    {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}
                    {% render 'product-card',
                      product_card_product: item,
                      media_size: section.settings.image_ratio,
                      show_secondary_image: section.settings.show_secondary_image,
                      enable_image_padding: section.settings.enable_image_padding,
                      show_vendor: section.settings.show_vendor,
                      show_colors: true
                    %}
                    
                    {%- when 'article' -%}
                      <a href="{{ item.url }}" class="card-wrapper">
                        <div class="card card--search card--soft{% unless item.image %} card--text-only{% endunless %}">
                          <div class="card__inner">
                            {%- if item.image -%}
                              <div class="media media--cropped">
                                <img
                                  srcset="{%- if item.image.src.width >= 165 -%}{{ item.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                      {%- if item.image.src.width >= 360 -%}{{ item.image.src | img_url: '360x' }} 268w,{%- endif -%}
                                      {%- if item.image.src.width >= 533 -%}{{ item.image.src | img_url: '533x' }} 357w,{%- endif -%}
                                      {%- if item.image.src.width >= 720 -%}{{ item.image.src | img_url: '720x' }} 536w,{%- endif -%}
                                      {%- if item.image.src.width >= 940 -%}{{ item.image.src | img_url: '940x' }} 714w{%- endif -%}"
                                  src="{{ item.image.src | img_url: '533x' }}"
                                  loading="lazy"
                                  sizes="(min-width: 1200px) 268px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                  width="{{ item.image.src.width }}"
                                  height="{{ item.image.src.height }}"
                                  alt="{{ item.image.src.alt | escape }}"
                              >
                              </div>
                            {%- endif -%}
                            <div class="card__content">
                              <h2 class="card__heading h3">{{ item.title | truncate: 50 | escape }}</h2>
                              <div class="card-article-info caption-with-letter-spacing h5">
                                {%- if section.settings.article_show_date -%}
                                  <span class="circle-divider">{{ item.published_at | time_tag: format: 'month_year' }}</span>
                                {%- endif -%}
                                {%- if section.settings.article_show_author -%}
                                  <span>{{ item.author }}</span>
                                {%- endif -%}
                              </div>
                            </div>
                            <div class="card__badge">
                              <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    {%- when 'page' -%}
                      <a href="{{ item.url }}" class="card-wrapper">
                        <div class="card card--search card--soft card--text-only">
                          <div class="card__inner">
                            <div class="card__content"><h2 class="card__heading h3">{{ item.title | truncate: 50 | escape }}</h2></div>
                            <div class="card__badge">
                              <span class="badge color-background-1">{{ 'templates.search.page' | t }}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                  
                </li>
            {%- endcase -%}
          {%- endfor -%}
        </ul>
        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, class: 'pagination-wrapper-small' %}
        {%- endif -%}
      </div>
    {% endpaginate %}
  {%- endif -%}
</div>
<script>
  if(document.querySelector('.search-modal__content .search-modal__form').hasAttribute('data-hide-tags')){
      hide_tags = document.querySelector('.search-modal__content .search-modal__form').getAttribute('data-hide-tags').split('|');  
      list_items =document.querySelectorAll('.search-result-items');
      for (i = 0; i < list_items.length; i++) {
        for(j = 0; j < hide_tags.length; j++ ){
          if(list_items[i].getAttribute('aria-tags').indexOf(hide_tags[j])>=0){
            list_items[i].classList.add("hide");
            break;
          }
        }
      }

    }document.querySelector('.result_number').innerText = document.querySelectorAll('.search-result-items:not(.hide)').length
    
</script>
<style>
  .search-result-items.hide{
    display:none;
  }
</style>
{% schema %}
{
  "name": "main search",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_image_padding",
      "default": false,
      "label": "Add image padding"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "header",
      "content": "Blog card"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "Show author"
    }
  ]
}
{% endschema %}