{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product-a.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion-style-1.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price-style-1.css' | asset_url | stylesheet_tag }}
{{ 'component-variants.css' | asset_url | stylesheet_tag }}
{% comment %} {{ 'component-rte.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{% assign sizeCharts = product.metafields.sizecharts  %}
{% assign colortitle = product.metafields.color.color_name.value | downcase %}
{% assign colorvalue = product.metafields.color.color_value.value %}
{% assign colorimage = product.metafields.color.color_image.value  %}
<style>
  
  .bc-colors__icon[data-color="{{ colortitle }}"] {
    background-color: {{ colorvalue }};
  {% if colorimage %}
    background-color: transparent;
    background-image: url('{{ colorimage | img_url: '50x' }}');
    background-size: cover;
  {% endif %}
  }
</style>

{% if section.settings.custom_font_style %}
<style>
  .product__info-container .product__title{
    font-size: {{section.settings.title_fontsize}};
    font-weight: {{section.settings.title_fontweight}};
    font-stretch:{{section.settings.title_fontstretch}};
    font-style:{{section.settings.title_fontstyle}};
    line-height:{{section.settings.title_lineheight}};
    letter-spacing:{{section.settings.title_letterspacing}}
  }
  @media(max-width:749px){
    .product__info-container .product__title{
        font-size: {{section.settings.title_fontsize_m}}
    }
  }
  .product__info-container .bc-product-price-wrapper *{
    font-size: {{section.settings.price_fontsize}};
    font-weight: {{section.settings.price_fontweight}};
    font-stretch:{{section.settings.price_fontstretch}};
    font-style:{{section.settings.price_fontstyle}};
    line-height:{{section.settings.price_lineheight}};
    letter-spacing:{{section.settings.price_letterspacing}}
  }
  @media(max-width:749px){
    .product__info-container .bc-product-price-wrapper *{
        font-size: {{section.settings.price_fontsize_m}}
    }
  }
  .product__info-container .bc-colors__heading,
  .product__info-container fieldset.product-form__input .form__label{
    font-size: {{section.settings.option_fontsize}};
    font-weight: {{section.settings.option_fontweight}};
    font-stretch:{{section.settings.option_fontstretch}};
    font-style:{{section.settings.option_fontstyle}};
    line-height:{{section.settings.option_lineheight}};
    letter-spacing:{{section.settings.option_letterspacing}}
  }
  @media(max-width:749px){
    .product__info-container .bc-colors__heading,
    .product__info-container fieldset.product-form__input .form__label{
        font-size: {{section.settings.option_fontsize_m}}
    }
  }
  .product__info-container fieldset label,
  .product__info-container .accordion__content p{
    font-size: {{section.settings.info_fontsize}};
    font-weight: {{section.settings.info_fontweight}};
    font-stretch:{{section.settings.info_fontstretch}};
    font-style:{{section.settings.info_fontstyle}};
    line-height:{{section.settings.info_lineheight}};
    letter-spacing:{{section.settings.info_letterspacing}}
  }
  @media(max-width:749px){
    .product__info-container fieldset label,
    .product__info-container .accordion__content p{
        font-size: {{section.settings.info_fontsize_m}}
    }
  }
</style>
{% endif %}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section >
  <div class="product grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    <div class="grid__item product__media-wrapper">
      <slider-component class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %} alt-{{media.alt}}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}  alt-{{media.alt}}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons slider-buttons--overlay no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ product.media.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div>
    <div class="product__info-wrapper grid__item">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {% render 'component-badge', meta: product.metafields.selling, vertical: false %}
        
        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}">
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="product__title">
              {{ product.title | escape }}
            </h1>

            {%- if sizeCharts.cm_content != blank or sizeCharts.inches_content != blank -%}
              {%- if section.blocks.size == 4 -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-sizecharts">
                <button id="ProductPopup-sizecharts" class="product-popup-modal__button link bc-size-chart-button" type="button" aria-haspopup="dialog">VIEW SIZING CHART</button>
              </modal-opener>
              {%- endif -%}
            {%- endif -%}

          {%- when 'type' -%}
            <h5 class="product__type">
              {{ product.type | escape }}
            </h5>
            
          {%- when 'price' -%}
            <div class="no-js-hidden bc-product-price-wrapper" id="price-{{ section.id }}">
              {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
            </div>
            {{ form | payment_terms }}
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'collapsible_tab' -%}
            {%- assign headingLow = block.settings.heading | downcase | strip -%}
            <div class="product__accordion accordion {{headingLow | replace: ' ', '-'}}" {% if block.settings.bg_color != blank %}style="background-color:{{ block.settings.bg_color }};"{% endif %}>
              <details>
                <summary {% if block.settings.color != blank %}style="color:{{ block.settings.color }};"{% endif %}>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content" {% if block.settings.color != blank %}style="color:{{ block.settings.color }};"{% endif %}>
                  {%- if headingLow == 'details' and product.description != blank -%}
                    {{ product.description }}
                  {%- else -%}
                    {{ block.settings.content }}
                    {{ block.settings.page.content }}
                  {%- endif -%}
                </div>
              </details>
            </div>
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity">
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="product-form-{{ section.id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
          {%- when 'share' -%}
            <share-button class="share-button">
              <button class="share-button__button button button--tertiary hidden">
                {% render 'icon-share' %}
                {{ 'general.share.share' | t }}
              </button>
              <details>
                <summary class="share-button__button button button--tertiary">
                  {% render 'icon-share' %}
                  {{ 'general.share.share' | t }}
                </summary>
                <div class="share-button__fallback">
                  <div class="field">
                    <input type="text"
                          class="field__input"
                          id="url"
                          value="{{ shop.url | append: product.url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="button button--tertiary">
                    {% render 'icon-clipboard' %}
                    {{ 'general.share.copy_to_clipboard' | t }}
                  </button>
                  <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                    {{ 'general.share.success_message' | t }}
                  </span>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          {%- when 'variant_picker' -%}
        
            {% comment %}            
        	  {%- render 'component-colors', product: product, show_heading: true -%}            
            {% endcomment %}
        
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                  
                    {%- for option in product.options_with_values -%}
                        {%- liquid
                          assign optionName = option.name | downcase
                          assign color = false
                          if optionName contains 'color' or optionName contains 'colour'
                          assign color = true
                          endif -%}
                        {% if color %}
                        <style id="media-option-style">
                          .product__media-item.grid__item.alt-{{option.selected_value}}{
                            display:block;
                          }
                        </style>
                        {% endif %}
                        <fieldset class="js product-form__input " product-option = "{{optionName}}">
                          <legend class="form__label">{{ option.name }} <span class="selected-value">{{option.selected_value}}</span></legend>
                          {%- for value in option.values -%}
                            <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="product-form-{{ section.id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                            >
                            
                            <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                              {% unless color %}                                
                              {% if value == "ONESIZE" %}OS{% else %}{%- assign valueSize = value | size -%}{%- if valueSize < 5  -%}{{ value }}{%- else -%}{%- assign variantNameObject = value | split: ' ' -%}{%- for variantName in variantNameObject -%}{%- assign forVariantName = variantName | size -%}{%- if forVariantName < 4 -%}{{ variantName }}{%- else -%}{{ variantName | slice: 0 }}{%- endif -%}{%- endfor -%}{%- endif -%}{%- endif -%}
                              {% else %}
                                <span class="pd-colors__icon" data-color="{{ value | downcase }}"></span>
                              {% endunless %}  
                          </label>
                          {%- endfor -%}
                        </fieldset>
                    {%- endfor -%}
                  
                  <div id="preorderbunner"></div>
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                  <script id="product-variants-metafields" type="application/json">
                  [
                    {%- for variant in product.variants -%}
                          {
                          	"{{variant.id}}" : 
                            {%- if variant.metafields.order.size > 0 -%}
                              {%- for item in variant.metafields.order -%}
                                  {%- if forloop.first -%}
                                      {
                                  {%- endif -%}
                                          "{{item[0]}}" : "{{ item[1] }}"{%- unless forloop.last -%},{%- endunless -%}
                                  {%- if forloop.last -%}
                                      }
                                  {%- endif -%}
                              {%- endfor -%}
                            {%- else -%}
                            	""
                            {%- endif -%}
                          }{%- unless forloop.last -%},{%- endunless -%}
                    {%- endfor -%}
                  ]
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}
        
        {%- if sizeCharts.cm_content != blank or sizeCharts.inches_content != blank -%}
        <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-sizecharts">
          <button id="ProductPopup-sizecharts" class="product-popup-modal__button link bc-size-chart-button" type="button" aria-haspopup="dialog">VIEW SIZING CHART</button>
        </modal-opener>
        {%- endif -%}
          

            <noscript>
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'buy_buttons' -%}
           <div class="buy-button-area">
            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

            <pickup-availability class="product__pickup-availabilities no-js-hidden"
              {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}"
            >
              <template>
                <pickup-availability-preview class="pickup-availability-preview">
                  {% render 'icon-unavailable' %}
                  <div class="pickup-availability-info">
                    <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                    <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                  </div>
                </pickup-availability-preview>
              </template>
            </pickup-availability>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
        
            <product-form class="product-form">
              {%- form 'product', product, id: product_form_id, class: 'form product-form__flex', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {%- if product.metafields.gift.product_id != blank -%}
                <input type="hidden" name="gift_id" value="{{ product.metafields.gift.product_id }}">
                {%- endif -%}
                <div id="bc-order-id"></div>
              	<div class="product-form__buttons">
                  <button
                    type="submit"
                    name="add"
                    class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}{%comment%}button--secondary{%endcomment%} button--primar{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    {% if block.settings.bg_color != blank or block.settings.color != blank %}style="{% if block.settings.bg_color != blank %}background-color:{{ block.settings.bg_color }};box-shadow:0 0 0 .1rem {{ block.settings.bg_color }};{% endif %}{% if block.settings.color != blank %}color:{{ block.settings.color }};{% endif %}"{% endif %}
                  >
                    
                      <span class="product-form__submit-label">
                        {%- if product.selected_or_first_available_variant.available -%}
                          {%- if block.settings.btn != blank -%}
                            {{ block.settings.btn }}
                          {%- else -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- endif -%}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      </span>
                    
                  </button>
                  {%- if block.settings.show_dynamic_checkout -%}
                    {{ form | payment_button }}
                  {%- endif -%}
                </div>
              {%- endform -%}
             </product-form>
           </div>            

          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  {% comment %} <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- for media in product.media -%}
          {%- if media.media_type == 'image' -%}
            <img
              srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
                      {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
                      {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
                      {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
                      {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | img_url: '4096x' }} 4096w{%- endif -%}"
              sizes="(min-width: 750px) calc(100vw - 12rem), 100vw"
              src="{{ media.preview_image | img_url: '750x' }}"
              alt="{{ media.alt | escape }}"
              loading="lazy"
              width="1100"
              height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              data-media-id="{{ media.id }}"
            >
          {%- else -%}
            {%- if media.media_type == 'model' -%}
              <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
            {%- else -%}
              <deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
            {%- endif -%}

              <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                <span class="deferred-media__poster-button motion-reduce">
                  {%- if media.media_type == 'model' -%}
                    {%- render 'icon-3d-model' -%}
                  {%- else -%}
                    {%- render 'icon-play' -%}
                  {%- endif -%}
                </span>
                <img
                  srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                          {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
                  src="{{ media | img_url: '550x550' }}"
                  sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                  loading="lazy"
                  width="576"
                  height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                  alt="{{ media.preview_image.alt | escape }}"
                >
              </button>
              <template>
                {%- case media.media_type -%}
                {%- when 'external_video' -%}
                  {%- assign video_class = 'js-' | append: media.host -%}
                  {%- if media.host == 'youtube' -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- else -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- endif -%}
                {%- when 'video' -%}
                  {{ media | media_tag: image_size: "2048x", autoplay: true, loop: section.settings.enable_video_looping, controls: true, preload: "none", autoplay: true }}
                {%- when 'model' -%}
                  {{ media | media_tag: image_size: "2048x", toggleable: true }}
                {%- endcase -%}
              </template>

            {%- if media.media_type == 'model' -%}
                </product-model>
                <button
                  class="button button--full-width product__xr-button"
                  type="button"
                  aria-label="{{ 'products.product.xr_button_label' | t }}"
                  data-shopify-xr
                  data-shopify-model3d-id="{{ media.id }}"
                  data-shopify-title="title"
                  data-shopify-xr-hidden
                  >
                  {% render 'icon-3d-model' %}
                  {{ 'products.product.xr_button' | t }}
                </button>
              </div>
            {%- else -%}
              </deferred-media>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal> {% endcomment %}

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal">
      <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}
  
  {%- if sizeCharts.cm_content != blank or sizeCharts.inches_content != blank -%}
  <modal-dialog id="PopupModal-sizecharts" class="product-popup-modal">
    <div role="dialog" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
      <button id="ModalClose-sizecharts" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      <size-charts class="product-popup-modal__content-info">
        {%- if sizeCharts.cm_content != blank and sizeCharts.inches_content != blank -%}
        <div class="bc-size-charts-tabs">
          <h2 class="bc-size-charts-tabs-item active" data-index="cm">CM</h2>
          <h2 class="bc-size-charts-tabs-item" data-index="inches">Inches</h2>
        </div>
        {%- endif -%}
        {%- if sizeCharts.cm_content != blank -%}
        <div data-id="cm" class="bc-size-charts-content active">
          {%- assign image = sizeCharts.cm_content -%}
          <div class="media" {% if image != blank %}style="padding-bottom: 100%;"{% endif %}>
              <img srcset="{{ image | img_url: '165x' }} 165w,
                  {{ image | img_url: '360x' }} 360w,
                  {{ image | img_url: '535x' }} 535w,
                  {{ image | img_url: '720x' }} 720w,
                  {{ image | img_url: '940x' }} 940w,
                  {{ image | img_url: '1070x' }} 1070w"
                  src="{{ image | img_url: '720x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ image.alt | escape }}"
                  loading="lazy"
                  width="720"
                  height="720"
              />
          </div>  
        </div>
        {%- endif -%}
        {%- if sizeCharts.inches_content != blank -%}
        {%- assign image = sizeCharts.inches_content -%}
        <div data-id="inches" class="bc-size-charts-content {% if sizeCharts.cm_content == blank %}active{% endif %}">
          {%- assign image = sizeCharts.inches_content -%}
          <div class="media" {% if image != blank %}style="padding-bottom: 100%;"{% endif %}>
              <img srcset="{{ image | img_url: '165x' }} 165w,
                  {{ image | img_url: '360x' }} 360w,
                  {{ image | img_url: '535x' }} 535w,
                  {{ image | img_url: '720x' }} 720w,
                  {{ image | img_url: '940x' }} 940w,
                  {{ image | img_url: '1070x' }} 1070w"
                  src="{{ image | img_url: '720x' }}"
                  sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ image.alt | escape }}"
                  loading="lazy"
                  width="720"
                  height="720"
              />
          </div>
        </div>
        {%- endif -%}
      </size-charts>
    </div>
  </modal-dialog>
  {%- endif -%}
  <div style="display:none">
    <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-shippingcharts">
      <button id="ProductPopup-shippingcharts" class="product-popup-modal__button link bc-shipping-chart-button" type="button" aria-haspopup="dialog"></button>
    </modal-opener>    
  </div>
  <modal-dialog id="PopupModal-shippingcharts" class="product-popup-modal">
    <div role="dialog" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
      <button id="ModalClose-shippingcharts" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      <shipping-chart class="product-popup-modal__content-info">
        <div  class="bc-shipping-charts-content ">
          <div class="on-shippingrates-wrapper"><div class="mt5">
            <div class="grid ga3 pv2 bt bb b--light-gray" style="grid-template-columns: 1fr 1fr 2fr 1fr;">
            <div class="b"><span class="f7">COUNTRY</span></div>
            <div class="b"><span class="f7">COST</span></div>
            <div class="b"><span class="f7">DELIVERY TIME</span></div>
            <div class="b"><span class="f7">SPEND $100+</span></div>
            <div class=""><span class="f7">USA</span></div>
            <div class=""><span class="f7">FREE</span></div>
            <div class=""><span class="f7">4-6 BUSINESS DAYS</span></div>
            <div class=""><span class="f7">FREE</span></div>
            <div class=""><span class="f7">CANADA</span></div>
            <div class=""><span class="f7">FREE</span></div>
            <div class=""><span class="f7">CANADA: 4-6 BUSINESS DAYS ONTARIO: 3-4 BUSINESS DAYS</span></div>
            <div class=""><span class="f7">FREE</span></div>
            <div class=""><span class="f7">UK</span></div>
            <div class=""><span class="f7">$30</span></div>
            <div class=""><span class="f7">2-7 BUSINESS DAYS</span></div>
            <div class=""><span class="f7">FREE</span></div>
            <div class=""><span class="f7">AUSTRALIA</span></div>
            <div class=""><span class="f7">$30</span></div>
            <div class=""><span class="f7">2-7 BUSINESS DAYS</span></div>
            <div class=""><span class="f7">FREE</span></div>
            <div class=""><span class="f7">INTERNATIONAL</span></div>
            <div class=""><span class="f7">$30</span></div>
            <div class=""><span class="f7">2-7 BUSINESS DAYS</span></div>
            <div class=""><span class="f7">FREE</span></div>
            </div>
            <p class="mt4 f6">We ship to the following countries:</p>
            <div class="grid ga3" style="grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));">
            <div><span class="f7">AUSTRALIA</span></div>
            <div><span class="f7">AUSTRIA</span></div>
            <div><span class="f7">BELGIUM</span></div>
            <div><span class="f7">BRAZIL</span></div>
            <div><span class="f7">CANADA</span></div>
            <div><span class="f7">CROATIA</span></div>
            <div><span class="f7">DENMARK</span></div>
            <div><span class="f7">ESTONIA</span></div>
            <div><span class="f7">FINLAND</span></div>
            <div><span class="f7">FRANCE</span></div>
            <div><span class="f7">GERMANY</span></div>
            <div><span class="f7">GIBRALTAR</span></div>
            <div><span class="f7">GREECE</span></div>
            <div><span class="f7">HONG KONG</span></div>
            <div><span class="f7">HUNGARY</span></div>
            <div><span class="f7">IRELAND</span></div>
            <div><span class="f7">ISRAEL</span></div>
            <div><span class="f7">ITALY</span></div>
            <div><span class="f7">JAPAN</span></div>
            <div><span class="f7">KOREA</span></div>
            <div><span class="f7">LATVIA</span></div>
            <div><span class="f7">LITHUANIA</span></div>
            <div><span class="f7">LUXEMBOURG</span></div>
            <div><span class="f7">MALAYSIA</span></div>
            <div><span class="f7">MALTA</span></div>
            <div><span class="f7">NETHERLANDS</span></div>
            <div><span class="f7">NEW ZEALAND</span></div>
            <div><span class="f7">NORWAY</span></div>
            <div><span class="f7">POLAND</span></div>
            <div><span class="f7">PORTUGAL</span></div>
            <div><span class="f7">RUSSIA</span></div>
            <div><span class="f7">SINGAPORE</span></div>
            <div><span class="f7">SOUTH KOREA</span></div>
            <div><span class="f7">SPAIN</span></div>
            <div><span class="f7">SWEDEN</span></div>
            <div><span class="f7">SWITZERLAND</span></div>
            <div><span class="f7">UNITED KINGDOM</span></div>
            <div><span class="f7">UNITED STATES</span></div>
            </div>
            </div></div>
        </div>
      </shipping-chart>
    </div>
  </modal-dialog>
  {%- render 'instagram-feed' -%}
  {%- render 'tiktok-feed' -%}
  
</section>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}
<style>
  .on-shippingrates-wrapper .grid{
    grid-template-columns: 1fr 1fr 2fr 1fr;
    display: grid;
    line-height: 3;
    border-bottom: 1px solid gainsboro; 
    border-top: 1px solid gainsboro;
  }
  .on-shippingrates-wrapper .grid>div{
    padding:3px 8px;
  }
  .shipping-and-returns .accordion__content h3{
    cursor: pointer;
  }
</style>
<script>
  document.querySelectorAll('.metafield-multi_line_text_field').forEach(item => {
    let content  = item.innerText;
    item.innerHTML = content;
  });
  var shipping_chart = document.querySelectorAll('.shipping-and-returns .accordion__content h3');
  for(i=0;i<shipping_chart.length;i++){    
    if(shipping_chart[i].textContent.toLowerCase().includes('shipping chart')){
      
      shipping_chart[i].addEventListener("click", function() {
        document.getElementById('ProductPopup-shippingcharts').click();
      });
    } else if(shipping_chart[i].textContent.toLowerCase().includes('return policy')){
      shipping_chart[i].addEventListener("click", function() {
        window.location.href = '/pages/shipping';
      });
    }
  }
</script>
{% schema %}
{
  "name": "main product a",
  "tag": "section",
  "class": "js-product-section-main",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "uppercase",
              "label": "Uppercase"
            }
          ],
          "default": "body",
          "label": "Text style"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "type",
      "name": "Type",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ],
          "default": "button",
          "label": "Type"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button Label"
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image. [Learn more](https://help.shopify.com/en/manual/online-store/images/showing-social-media-thumbnail-images)."
        },
        {
          "type": "paragraph",
          "content": "A store title and description are included with the preview image. [Learn more](https://help.shopify.com/en/manual/promoting-marketing/seo/adding-keywords#set-a-title-and-description-for-your-online-store)."
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "background"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "Heading",
          "label": "Include a heading that explains the content."
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "check_mark",
          "label": "Icon"
        }
      ]
    },
    {
      "type": "popup",
      "name": "Pop-up",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "Link label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "Enable sticky product information on large screens"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "Enable video looping"
    },
    {
      "type": "header",
      "content": "Product Title Font Style"
    },
    {
      "type": "checkbox",
      "id": "custom_font_style",
      "default": false,
      "label": "Use Custom Style"
    },
    {
      "type": "text",
      "id": "title_fontsize",
      "label": "Font size Desktop",
      "info": "Ex: 20px "
    },
    {
      "type": "text",
      "id": "title_fontsize_m",
      "label": "Font size Mobile"
    },
    {
      "type": "text",
      "id": "title_fontweight",
      "label": "Font-weight"
    },
    {
      "type": "text",
      "id": "title_fontstretch",
      "label": "Font-stretch",
      "info": "Ex: 40%"
    },
    {
      "type": "select",
      "id": "title_fontstyle",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "italic",
          "label": "italic"
        }
      ],
      "default": "normal",
      "label": "Font-style"
    },
    {
      "type": "text",
      "id": "title_lineheight",
      "label": "Lineheight"
    },
    {
      "type": "text",
      "id": "title_letterspacing",
      "label": "Letter-spacing",
      "info": "Ex: 0.5px"
    },
    {
      "type": "header",
      "content": "Product price Font Style"
    },
    {
      "type": "text",
      "id": "price_fontsize",
      "label": "Font size Desktop",
      "info": "Ex: 20px "
    },
    {
      "type": "text",
      "id": "price_fontsize_m",
      "label": "Font size Mobile"
    },
    {
      "type": "text",
      "id": "price_fontweight",
      "label": "Font-weight"
    },
    {
      "type": "text",
      "id": "price_fontstretch",
      "label": "Font-stretch",
      "info": "Ex: 40%"
    },
    {
      "type": "select",
      "id": "price_fontstyle",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "italic",
          "label": "italic"
        }
      ],
      "default": "normal",
      "label": "Font-style"
    },
    {
      "type": "text",
      "id": "price_lineheight",
      "label": "Lineheight"
    },
    {
      "type": "text",
      "id": "price_letterspacing",
      "label": "Letter-spacing",
      "info": "Ex: 0.5px"
    },
    {
      "type": "header",
      "content": "Product Option Font Style"
    },
    {
      "type": "text",
      "id": "option_fontsize",
      "label": "Font size Desktop",
      "info": "Ex: 20px "
    },
    {
      "type": "text",
      "id": "option_fontsize_m",
      "label": "Font size Mobile"
    },
    {
      "type": "text",
      "id": "option_fontweight",
      "label": "Font-weight"
    },
    {
      "type": "text",
      "id": "option_fontstretch",
      "label": "Font-stretch",
      "info": "Ex: 40%"
    },
    {
      "type": "select",
      "id": "option_fontstyle",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "italic",
          "label": "italic"
        }
      ],
      "default": "normal",
      "label": "Font-style"
    },
    {
      "type": "text",
      "id": "option_lineheight",
      "label": "Lineheight"
    },
    {
      "type": "text",
      "id": "option_letterspacing",
      "label": "Letter-spacing",
      "info": "Ex: 0.5px"
    },
    {
      "type": "header",
      "content": "Product info Font Style"
    },
    {
      "type": "text",
      "id": "info_fontsize",
      "label": "Font size Desktop",
      "info": "Ex: 20px "
    },
    {
      "type": "text",
      "id": "info_fontsize_m",
      "label": "Font size Mobile"
    },
    {
      "type": "text",
      "id": "info_fontweight",
      "label": "Font-weight"
    },
    {
      "type": "text",
      "id": "info_fontstretch",
      "label": "Font-stretch",
      "info": "Ex: 40%"
    },
    {
      "type": "select",
      "id": "info_fontstyle",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "italic",
          "label": "italic"
        }
      ],
      "default": "normal",
      "label": "Font-style"
    },
    {
      "type": "text",
      "id": "info_lineheight",
      "label": "Lineheight"
    },
    {
      "type": "text",
      "id": "info_letterspacing",
      "label": "Letter-spacing",
      "info": "Ex: 0.5px"
    }
  ]
}
{% endschema %}