{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
<style>
  
  .bc-password-form .field__input{
    background-color:{{section.settings.input_bg_color}} !important;
    color:{{section.settings.input_color}} !important;
  }
  
  .bc-password-form input[type='password']::-webkit-input-placeholder { /* Edge */
    color:{{section.settings.input_color}};
    opacity:.6;
  }

  .bc-password-form input[type='password']:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:{{section.settings.input_color}};
    opacity:.6;
  } 

  .bc-password-form input[type='password']::placeholder {
    color:{{section.settings.input_color}};
    opacity:.6;
  }
  .bc-password-form .bc-submit {
    background-color: {{section.settings.btn_bg_color}};
    color:{{section.settings.btn_color}};
  }
</style>
<collection-password class="collection-hero collection-hero-password{% if section.settings.show_collection_image and collection.image or section.settings.show_collection_image and section.settings.image != blank %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner collection-hero__inner-{{ section.id }} page-width pw-banner" {%- if section.settings.banner_link -%} style="cursor: pointer;" aria-href=" {{ section.settings.banner_link }}" {% endif %}>
    {%- render 'style', sufix: '.collection-hero__inner', id: section.id, style: section.settings -%}
    <div class="collection-hero__text-wrapper">

      {%- if section.settings.countdown != blank -%}
        {% render 'component-countdown', countdown: section.settings.countdown %}
      {%- endif -%}

      {%- if section.settings.show_collection_title -%}
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      {%- endif -%}

      {%- if section.settings.password != blank -%}
      <form action="/password" method="GET" data-id="{{ section.settings.password | escape | md5 }}" class="bc-password-form">
        <div class="bc-password-wrapper">
            <input type="password" name="password" id="coll-password-field" class="field__input" placeholder="Password" required/>
            {%- if section.settings.error != blank -%}
                <span class="bc-error-message bc-hide" data-type="error">{{ section.settings.error }}</span>
            {%- endif -%}
        </div>
        {%- if section.settings.btn != blank -%}
        <div class="bc-button-wrapper">
            <button type="submit" name="submit" class="button bc-submit">{{ section.settings.btn }}</button>
        </div>
        {%- endif -%}
      </form>
      {%- endif -%}

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
      {%- if section.settings.btn_link -%}
        <div class="banner__buttons">
          <a id="bunner__button-button" href="{{section.settings.btn_link}}" class="button button--primary">{{section.settings.btn_label}}</a>
        <style type="text/css">
          #bunner__button-button {
            font-size: 2rem;color: #ffffff;font-weight: 300;border-color: #000000;box-shadow: 0 0 0 0.1rem #000000;border-width: 1px;background-color: #000000;width: 200px;}</style>
          </div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image or section.settings.show_collection_image and section.settings.image != blank -%}
      <div class="collection-hero__image-container media {% if section.settings.m_image != blank %}small-hide{% endif %}">
        {%- if section.settings.image != blank and collection.image == blank -%}
          <img srcset="{%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w{%- endif -%}
            {%- if section.settings.image.width >= 2800 -%}{{ section.settings.image | img_url: '2800x' }} 2800w,{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.image | img_url: '750x' }}"
            alt="{{ collection.title | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
          >
        {%- endif -%}
        {%- if collection.image -%}
          <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
            {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
            src="{{ collection.image | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
            alt="{{ collection.title | escape }}"
            loading="lazy"
            width="{{ collection.image.width }}"
            height="{{ collection.image.height }}"
          >
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section.settings.show_collection_image and collection.image or section.settings.show_collection_image and section.settings.m_image != blank -%}
      <div class="collection-hero__image-container media large-up-hide medium-hide">
        {%- if section.settings.m_image != blank and collection.image == blank -%}
          <img srcset="{%- if section.settings.m_image.width >= 750 -%}{{ section.settings.m_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.m_image.width >= 1100 -%}{{ section.settings.m_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.m_image.width >= 1500 -%}{{ section.settings.m_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.m_image.width >= 1780 -%}{{ section.settings.m_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.m_image.width >= 2000 -%}{{ section.settings.m_image | img_url: '2000x' }} 2000w{%- endif -%}
            {%- if section.settings.m_image.width >= 2800 -%}{{ section.settings.m_image | img_url: '2800x' }} 2800w,{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.m_image | img_url: '750x' }}"
            alt="{{ collection.title | escape }}"
            loading="lazy"
            width="{{ section.settings.m_image.width }}"
            height="{{ section.settings.m_image.height }}"
          >
        {%- endif -%}
        {%- if collection.image -%}
          <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
            {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
            src="{{ collection.image | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
            alt="{{ collection.title | escape }}"
            loading="lazy"
            width="{{ collection.image.width }}"
            height="{{ collection.image.height }}"
          >
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</collection-password>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" defer="defer"></script>
<script src="{{ 'collection-password.js' | asset_url }}" defer="defer"></script>
<script>
  if(document.getElementsByClassName('pw-banner').length>0){
    var HSL = document.getElementsByClassName("pw-banner");
    var i;

    for (i = 0; i < HSL.length; i++) {
      if(HSL[i].getAttribute('aria-href')!=null)
      HSL[i].addEventListener("click", function() {
        window.location.href = this.getAttribute('aria-href');
      });
    }
  }
</script>
{% schema %}
{
  "name": "main collection password banner",
  "class": "js-section-password",
  "settings": [
    {
      "type": "paragraph",
      "content": "To change collection descriptions or collection images, [edit your collections.](/admin/collections)"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "default": true,
      "label": "Show Collection Title"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "Show collection description"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "Show collection image",
      "info": "For best results, use an image with a 16:9 aspect ratio."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Default Image"
    },
    {
      "type": "image_picker",
      "id": "m_image",
      "label": "Banner Mobile Image"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner Link"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label",
      "default": "Shop Others"
    },
    {
      "type": "text",
      "id": "password",
      "label": "Password",
      "default": "dami437#"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Button Label",
      "default": "Enter"
    },
    {
      "type": "text",
      "id": "error",
      "label": "Error Message",
      "default": "Try Again Baby"
    },
    {
      "type": "text",
      "id": "countdown",
      "label": "Count Down Date",
      "default": "2021-12-31T00:00:00",
      "info": "Format 2021-12-31T00:00:00"
    },
    {
      "type": "header",
      "content": "Override"
    },
    {
      "type": "checkbox",
      "id": "show_override",
      "label": "Show Override",
      "default": false
    },
    {
      "type": "color",
      "id": "ov_bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Texts Color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "ov_bg_image",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "ov_opacity",
      "label": "Opacity"
    },
    {
      "type": "header",
      "content": "Input & Button style"
    },
    {
      "type": "color",
      "id": "input_bg_color",
      "label": "PW Input Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "input_color",
      "label": "PW Input Text Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "PW Button Background",
      "default": "#5c4842"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "PW Button Text Color",
      "default": "#fff"
    }
  ]
}
{% endschema %}