{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card-style-1.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}


{%- paginate blog.articles by 18 -%}

  <div class="main-blog page-width">
    <h1 class="title--primary">{{ blog.title | escape }}</h1>
    
    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          <article class="article-card">
            <div class="article-card__info" style="padding:5px 0px">
              <header class="article-card__header">
              <h2 class="article-card__title" style="margin-bottom:15px;">
                {{ article.title | truncate: 70 }}
              </h2>                
              </header>
              <div class="video">{{ article.content }}</div>
            </div>
  
          </article>
          
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "video blog",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Blog post card"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show featured image",
      "info": "For best results, use an image with a 2:3 aspect ratio."
    },
    {
      "type": "paragraph",
      "content": "To change excerpts, edit your [blog posts.](https://help.shopify.com/en/manual/online-store/blogs/writing-blogs#display-an-excerpt-from-a-blog-post)"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "Show date"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "Show author"
        }
      ]
    },
    {
      "type": "summary",
      "name": "Excerpt",
      "limit": 1
    },
    {
      "type": "link",
      "name": "Link",
      "limit": 1
    }
  ]
}
{% endschema %}