<style>
  .announcement-bar{
    background-color: {{section.settings.py_announcement_bg_color}};
  }
  .announcement-bar__message,.announcement-bar button.slider-button{
    color:{{section.settings.py_announcement_color}};
  }
  marquee .announcement-bar__message{
    margin: 0px 40px;
  }
  .announcement-bar__link{
    color:{{section.settings.py_announcement_link_color}};
  }
  .announcement-bar__link:hover{
    color:{{section.settings.py_announcement_link_hov_color}};
  }
  .announcement-bar slider-component{
    max-width:540px;
    margin:auto;
  }
  .announcement-bar slider-component ul{
     margin:0px;
  }
  .announcement-bar .slider-buttons{
    height: 100%;
    position: absolute;
    width: 100%;
    top: -65%;
  }
</style>
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" >
{%- assign d = section.settings -%} 
<div class="announcement-bar center py-{{d.page_x_pd}} py-{{d.page_y_pd}} py-{{d.br}}" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
 <slider-component class="slider-mobile-gutter">
    <ul class="grid  grid--1-col  slider slider--desktop">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'announcement' -%}
            {%- if block.settings.text != blank -%}
              <li class="grid-item slider__slide grid__item">
              {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text">
              {%- endif -%}
                  <span class="announcement-bar__message py-{{d.fs}}">
                    {{ block.settings.text | escape }}
                  </span>
              {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
              </li>
            {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
    </ul>
   {%- if section.blocks.size > 1 -%}
      <div class="slider-buttons slider-buttons-desktop">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
    {%- endif -%}
</slider-component>
</div>
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "py_announcement_bg_color",
      "label": "Background Color",
      "options": [          
          {
            "label": "Transparent",
            "value": "transparent"
          },        
          {
            "label": "Dark",
            "value": "var(--py-bg-color-dark)"
          },
          {
            "label": "Middle Dark",
            "value": "var(--py-bg-color-middle-dark)"
          },
          {
            "label": "Average",
            "value": "var(--py-bg-color-avarge)"
          },
          {
            "label": "Middle Light",
            "value": "var(--py-bg-color-middle-light)"
          },
          {
            "label": "Light",
            "value": "var(--py-bg-color-light)"
          }
        ],
        "default": "var(--py-bg-color-middle-dark)"
    },
    {
      "type": "select",
      "id": "py_announcement_color",
      "label": "Text Color",
      "options": [
          {
            "label": "Dark",
            "value": "var(--py-color-dark)"
          },
          {
            "label": "Average",
            "value": "var(--py-color-avarge)"
          },
          {
            "label": "Light",
            "value": "var(--py-color-light)"
          }
        ],
        "default": "var(--py-color-light)"
    },
    {
      "type": "select",
      "id": "py_announcement_link_color",
      "label": "Link Color",
      "options": [
          {
            "label": "Dark",
            "value": "var(--py-color-dark)"
          },
          {
            "label": "Average",
            "value": "var(--py-color-avarge)"
          },
          {
            "label": "Light",
            "value": "var(--py-color-light)"
          }
        ],
        "default": "var(--py-color-light)"
    },
    {
      "type": "select",
      "id": "py_announcement_link_hov_color",
      "label": "Link Hover Color",
      "options": [
          {
            "label": "Dark",
            "value": "var(--py-color-dark)"
          },
          {
            "label": "Average",
            "value": "var(--py-color-avarge)"
          },
          {
            "label": "Light",
            "value": "var(--py-color-light)"
          }
        ],
        "default": "var(--py-color-avarge)"
    },
    {
      "type": "select",
      "id": "page_x_pd",
      "label": "Container Padding Horizontal",
      "options": [
        {
          "label": "Unset",
          "value": "pd-x-un"
        },
        {
          "label": "None",
          "value": "pd-x-n"
        },
        {
          "label": "XL",
          "value": "pd-x-xl"
        },
        {
          "label": "L",
          "value": "pd-x-l"
        },
        {
          "label": "M",
          "value": "pd-x-m"
        },
        {
          "label": "S",
          "value": "pd-x-s"
        },
        {
          "label": "XS",
          "value": "pd-x-xs"
        }
      ],
      "default": "pd-x-un"
    },
    {
      "type": "select",
      "id": "page_y_pd",
      "label": "Container Padding Vertical",
      "options": [
        {
          "label": "Unset",
          "value": "pd-y-un"
        },
        {
          "label": "None",
          "value": "pd-y-n"
        },
        {
          "label": "XL",
          "value": "pd-y-xl"
        },
        {
          "label": "L",
          "value": "pd-y-l"
        },
        {
          "label": "M",
          "value": "pd-y-m"
        },
        {
          "label": "S",
          "value": "pd-y-s"
        },
        {
          "label": "XS",
          "value": "pd-y-xs"
        }
      ],
      "default": "pd-y-s"
    },
    {
      "type": "select",
      "id": "fs",
      "label": "Font Size",
      "options": [
        {
          "label": "Unset",
          "value": "fs-un"
        },
        {
          "label": "X Large",
          "value": "fs-xl"
        },
        {
          "label": "Large",
          "value": "fs-l"
        },
        {
          "label": "Medium",
          "value": "fs-m"
        },
        {
          "label": "X Small",
          "value": "fs-xs"
        },
        {
          "label": "Small",
          "value": "fs-s"
        }
      ],
      "default": "fs-s"
    },
    {
      "type": "select",
      "id": "br",
      "label": "Border",
      "options": [
        {
          "label": "None",
          "value": "br-none"
        },
        {
          "label": "Horizontal and Vertical",
          "value": "br"
        },
        {
          "label": "Horizontal",
          "value": "br-x"
        },
        {
          "label": "Vertical",
          "value": "br-y"
        }
      ],
      "default": "br-none"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      },
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}