<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

<style>
  .featured-blogs-2-{{section.id}} .title--primary{
    color: {{section.settings.title_color}};
    font-size:{{section.settings.title_font_size}}px;
    font-weight:{{section.settings.title_font_weight}};
  }
  .featured-blogs-2-{{section.id}} .title--second{
    color: {{section.settings.sub_title_color}};
    font-size:{{section.settings.sub_title_font_size}}px;
    font-weight:{{section.settings.sub_title_font_weight}}
  }
  @media(min-width:890px){
    .featured-blogs-wraper{
      display: grid;
      grid-template-columns: 6fr 4fr;
    }
    .feature-article{
        padding-right: var(--space-12);
        border-right: 1px solid {{section.settings.title_color}};
        border-bottom: none;
    }
    .list-blog-articles{
        padding-left: var(--space-12);
    }
  }
  
  .list-blog-articles .blog-articles__article{    
    margin-bottom: {{section.settings.item_space}}px;
  }  
  .media--horizontal{
    padding-bottom:30%;
  }
  .featured-blogs-2-{{section.id}} .article-card_excerpt,
  .featured-blogs-2-{{section.id}} .circle-divider{
    color:{{section.settings.info_color}}; 
    font-size:{{section.settings.info_font_size}}px; 
    padding-bottom:var(--space-12);              
  }
  .circle-divider{
    opacity:0.6;
  }
  .list-blog-articles .article-card_excerpt{
    display:none;
  }
  .featured-blogs-2-{{section.id}} .feature-article .article-card__title{
    font-size:{{section.settings.card_title_font_size}}px;
    font-weight:{{section.settings.card_title_font_weight}};
    margin-bottom:var(--space-8);
    margin-top:var(--space-12);
  }
  @media(max-width:749px){
    .featured-blogs-2-{{section.id}} .feature-article .article-card__title{
      font-size:{{section.settings.card_title_m_font_size}}px;                  
    }
  }
  .featured-blogs-2-{{section.id}} .list-blog-articles .article-card__title{
    font-size:{{section.settings.list_title_font_size}}px;
    font-weight:{{section.settings.list_title_font_weight}};
    margin-bottom:var(--space-10);
  }
  @media(max-width:749px){
    .featured-blogs-2-{{section.id}} .list-blog-articles .article-card__title{
      font-size:{{section.settings.list_title_m_font_size}}px;                  
    }
  }
</style>

  <div class="featured-blogs-2 featured-blogs-2-{{section.id}} py-{{section.settings.bg_color}} py-{{section.settings.page_y_pd}} py-{{section.settings.page_x_pd}}  bc-{{settings.section_style}}-bt">
    <div class="page-width py-{{section.settings.page_width}} py-{{section.settings.page_y_mg}} py-{{section.settings.page_y_mg}}">
      <div class="featured-blogs-wraper">
        <div class="feature-article">
          <h1 class="title--primary">{{ section.settings.title | escape }}</h1>
          <div class="blog-articles__article article py-{{section.settings.card_bg_color}}">
              {%- render 'article-card', article: section.settings.blog.articles[0], show_image: true -%}
          </div>
        </div>
        <div class="list-blog-articles">  
          <h1 class="title--second">{{ section.settings.sub_title | escape }}</h1>      
          {%- for article in section.settings.blog.articles limit: 4-%}
              {% if forloop.index > 1 %}            
              <div class="blog-articles__article article py-{{section.settings.card_bg_color}}">
                  {%- render 'article-card', article: article, show_image: false -%}
              </div>            
              {% endif %}     
          {%- endfor -%} 
          <a href="" class="py-btn-{{section.settings.view_btn_color}} py-btn-hover-{{section.settings.view_btn_hover_color}} py-btn-{{section.settings.view_btn_size}}" >View all articles</a>        
        </div>
      </div>
    </div>
  </div>
  

{% schema %}
{
  "name": "Featured Blogs 2",
  "tag": "section",
  "settings": [    
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Section Background ",
      "options": [          
        {
          "label": "Transparent",
          "value": "bg-c-none"
        },        
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle Light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
      ],
     "default": "bg-c-average"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Blog Post Section Title",
      "label": "Section Title"
    },
    {
        "type": "select",
        "id": "title_color",
        "label": "Title Color",
        "options": [ 
            {
            "label": "Dark",
            "value": "var(--py-color-dark)"
            },
            {
            "label": "Average",
            "value": "var(--py-color-avarge)"
            },
            {
            "label": "Light",
            "value": "var(--py-color-light)"
            }
        ],
        "default": "var(--py-color-dark)"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 14,
      "max": 60,
      "step": 1,
      "default": 22,
      "label": "Title Font Size"
    },
    {
      "type": "range",
      "id": "title_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 500,
      "label": "Title Font Weight"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Other reading",
      "label": "Section Sub Title"
    },
    {
        "type": "select",
        "id": "sub_title_color",
        "label": "Sub titleColor",
        "options": [ 
            {
            "label": "Dark",
            "value": "var(--py-color-dark)"
            },
            {
            "label": "Average",
            "value": "var(--py-color-avarge)"
            },
            {
            "label": "Light",
            "value": "var(--py-color-light)"
            }
        ],
        "default": "var(--py-color-dark)"
    },
    {
      "type": "range",
      "id": "sub_title_font_size",
      "min": 14,
      "max": 40,
      "step": 1,
      "default": 22,
      "label": "Sub titleFont Size"
    },
    {
      "type": "range",
      "id": "sub_title_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 500,
      "label": "Sub titleFont Weight"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Container (Width)",
      "options": [
        {
          "label": "Unset",
          "value": "width-un"
        },
        {
          "label": "Large",
          "value": "width-l"
        },
        {
          "label": "Medium",
          "value": "width-m"
        },
        {
          "label": "Small",
          "value": "width-s"
        }
      ],
      "default": "width-un"
    },
    {
        "id": "page_x_mg",
        "type": "select",
        "label": "Container Margin Horizontal",
        "options": [
            {
            "label": "Unset",
            "value": "mg-x-un"
            },
            {
            "label": "None",
            "value": "mg-x-n"
            },
            {
            "label": "XL",
            "value": "mg-x-xl"
            },
            {
            "label": "L",
            "value": "mg-x-l"
            },
            {
            "label": "M",
            "value": "mg-x-m"
            },
            {
            "label": "S",
            "value": "mg-x-s"
            },
            {
            "label": "XS",
            "value": "mg-x-xs"
            }
        ],
        "default": "mg-x-un"
    },
    {
        "type": "select",
        "id": "page_y_mg",
        "label": "Container Margin Vertical",
        "options": [
            {
            "label": "Unset",
            "value": "mg-y-un"
            },
            {
            "label": "None",
            "value": "mg-y-n"
            },
            {
            "label": "XL",
            "value": "mg-y-xl"
            },
            {
            "label": "L",
            "value": "mg-y-l"
            },
            {
            "label": "M",
            "value": "mg-y-m"
            },
            {
            "label": "S",
            "value": "mg-y-s"
            },
            {
            "label": "XS",
            "value": "mg-y-xs"
            }
        ],
        "default": "mg-y-un"
    },
    {
      "type": "select",
      "id": "page_x_pd",
      "label": "Container Padding Horizontal",
      "options": [
        {
          "label": "Unset",
          "value": "pd-x-un"
        },
        {
          "label": "None",
          "value": "pd-x-n"
        },
        {
          "label": "XL",
          "value": "pd-x-xl"
        },
        {
          "label": "L",
          "value": "pd-x-l"
        },
        {
          "label": "M",
          "value": "pd-x-m"
        },
        {
          "label": "S",
          "value": "pd-x-s"
        },
        {
          "label": "XS",
          "value": "pd-x-xs"
        }
      ],
      "default": "pd-x-m"
    },
    {
      "type": "select",
      "id": "page_y_pd",
      "label": "Container Padding Vertical",
      "options": [
        {
          "label": "Unset",
          "value": "pd-y-un"
        },
        {
          "label": "None",
          "value": "pd-y-n"
        },
        {
          "label": "XL",
          "value": "pd-y-xl"
        },
        {
          "label": "L",
          "value": "pd-y-l"
        },
        {
          "label": "M",
          "value": "pd-y-m"
        },
        {
          "label": "S",
          "value": "pd-y-s"
        },
        {
          "label": "XS",
          "value": "pd-y-xs"
        }
      ],
      "default": "pd-y-m"
    },
    {
      "type": "header",
      "content": "Blog Card Style"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        },
        {
          "value": "horizontal",
          "label": "Wide"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "item_space",
      "min": 0,
      "max": 70,
      "step": 1,
      "default": 10,
      "label": "Card Space"
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 7,
      "label": "Card Border Radius"
    },
    {
      "type": "select",
      "id": "card_bg_color",
      "label": "Card Background",
      "options": [          
        {
          "label": "Transparent",
          "value": "bg-c-none"
        },        
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle Light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
      ],
     "default": "bg-c-average"
    },
    {
        "type": "select",
        "id": "view_btn_size",
        "label": "View Button Size",
        "options": [
        {
            "label": "Small",
            "value": "small"
        },
        {
            "label": "Medium",
            "value": "medium"
        },
        {
            "label": "Large",
            "value": "large"
        }
        ],
        "default": "medium"
    },
    {
        "type": "select",
        "id": "view_btn_color",
        "label": "View Button Color style",
        "options": [
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Average",
            "value": "average"
        },
        {
            "label": "Light",
            "value": "light"
        }
        ],
        "default": "light"
    },
    {
        "type": "select",
        "id": "view_btn_hover_color",
        "label": "View Button Hover Color style",
        "options": [
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Average",
            "value": "average"
        },
        {
            "label": "Light",
            "value": "light"
        }
        ],
        "default": "dark"
    },
    {
        "type": "select",
        "id": "card_info_color",
        "label": "Info Color",
        "options": [ 
            {
            "label": "Dark",
            "value": "var(--py-color-dark)"
            },
            {
            "label": "Average",
            "value": "var(--py-color-avarge)"
            },
            {
            "label": "Light",
            "value": "var(--py-color-light)"
            }
        ],
        "default": "var(--py-color-dark)"
    },
    {
        "type": "range",
        "id": "card_title_font_size",
        "min": 14,
        "max": 40,
        "step": 1,
        "default": 22,
        "label": "Card Title Font Size"
    },
    {
        "type": "range",
        "id": "card_title_font_weight",
        "min": 100,
        "max": 900,
        "step": 100,
        "default": 500,
        "label": "Card Title Font Weight"
    },
    {
        "type": "range",
        "id": "card_title_m_font_size",
        "min": 14,
        "max": 40,
        "step": 1,
        "default": 18,
        "label": "Card Title Mobile Font Size"
    },
    {
        "type": "range",
        "id": "list_title_font_size",
        "min": 14,
        "max": 40,
        "step": 1,
        "default": 22,
        "label": "List  Title Font Size"
    },
    {
        "type": "range",
        "id": "list_title_font_weight",
        "min": 100,
        "max": 900,
        "step": 100,
        "default": 500,
        "label": "List  Title Font Weight"
    },
    {
        "type": "range",
        "id": "list_title_m_font_size",
        "min": 14,
        "max": 40,
        "step": 1,
        "default": 18,
        "label": "List  Title Mobile Font Size"
    },
    {
        "type": "range",
        "id": "info_font_size",
        "min": 14,
        "max": 40,
        "step": 1,
        "default": 22,
        "label": "Info Font Size"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "t:sections.main-blog.blocks.title.name",
      "limit": 1,
      "settings": [
        {
            "type": "checkbox",
            "id": "show_date",
            "default": true,
            "label": "t:sections.main-blog.blocks.title.settings.show_date.label"
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "default": false,
            "label": "t:sections.main-blog.blocks.title.settings.show_author.label"
        },
        {
            "type": "checkbox",
            "id": "show_excerpt",
            "default": true,
            "label": "Show article excerpt"
        }
      ]
    },
    {
      "type": "link",
      "name": "t:sections.main-blog.blocks.link.name",
      "limit": 1,
      "settings": [
        
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Blogs 2",
      "settings": {
        "blog": "News"
      },
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}