<style>
  .announcement-bar{
    background-color: <%=section.settings.py_announcement_bg_color%>;
  }
  .announcement-bar__message{
    color:<%=section.settings.py_announcement_color%>;
  }
  marquee .announcement-bar__message{
    margin: 0px 40px;
  }
  .announcement-bar__link{
    color:<%=section.settings.py_announcement_color_link%>;
  }
  .announcement-bar__link:hover{
    color:<%=section.settings.py_announcement_color_link_hov%>;
  }
</style>
<% var d = section.settings %>
<% section.blocks?.forEach((block,index)=>{ %>
  <% if(block.type === 'announcement'){ %>
      <div class="announcement-bar center py-<%=d.page_x_pd%> py-<%=d.page_y_pd%> py-<%=d.br%>" role="region" aria-label="<%=sections?.header?.announcement%>">
     
        <% if(block?.settings?.text){ %>
          <% if(block?.settings?.link){ %>
            <a href="<%= block?.settings?.link %>" class="announcement-bar__link link link--text">
          <% } %>
              <span class="announcement-bar__message py-<%=d.fs%>">
                <%= block?.settings?.text %>
              </span>
          <% if(block?.settings?.link){ %>
            </a>
          <% } %>
        <% } %>
      
      </div>
  <% } %>
<% }) %>