<% comment){ %>theme-check-disable UndefinedObject<% endcomment){ %>
<%=section-footer-style-1.css' <%=srcId%> | stylesheet_tag %>
<link rel="stylesheet" href="<%=component-newsletter-style-1.css' <%=srcId%> %>" >
<link rel="stylesheet" href="<%=component-accordion-style-1.css' <%=srcId%> %>" >
<link rel="stylesheet" href="<%=component-list-menu.css' <%=srcId%> %>" >
<link rel="stylesheet" href="<%=component-list-payment.css' <%=srcId%> %>" >
<link rel="stylesheet" href="<%=component-list-social.css' <%=srcId%> %>" >
<link rel="stylesheet" href="<%=component-rte.css' <%=srcId%> %>" >
<link rel="stylesheet" href="<%=disclosure.css' <%=srcId%> %>" >

<noscript><%=component-newsletter-style-1.css' <%=srcId%> | stylesheet_tag %></noscript>
<noscript><%=component-accordion-style-1.css' <%=srcId%> | stylesheet_tag %></noscript>
<noscript><%=component-list-menu.css' <%=srcId%> | stylesheet_tag %></noscript>
<noscript><%=component-list-payment.css' <%=srcId%> | stylesheet_tag %></noscript>
<noscript><%=component-list-social.css' <%=srcId%> | stylesheet_tag %></noscript>
<noscript><%=component-rte.css' <%=srcId%> | stylesheet_tag %></noscript>
<noscript><%=disclosure.css' <%=srcId%> | stylesheet_tag %></noscript>
<style>  
  .footer-block__heading{
      font-size: <%=section.settings.footer_heading_font_size%>px;
  }
  .footer-block__subtitle{
    font-size: <%=section.settings.footer_subtitle_font_size%>px;
  }
  @media(max-width:767px){
    .footer-block__heading{
      font-size: <%=section.settings.footer_heading_font_size_m%>px;
    }
    .footer-block__subtitle{
      font-size: <%=section.settings.footer_subtitle_font_size_m%>px;
    }
  }
</style>
<footer class="footer py-<%= section.settings.py_section_bg_color %> py-<%= section.settings.py_section_color %> py-center">
  <% if(section.blocks.length > 0 || section.settings.newsletter_enable || section.settings.show_social){ %>
    <div class="footer__content-top page-width  py-<%=section.settings.section_width%> bc-<%=settings.section_style%>-bt">
      <% if(section.blocks.length > 0){ %>
        <%
          if section.blocks.length === 9
            var footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.length > 6
            var footer_grid_class = 'grid--4col-desktop'
          elsif section.blocks.length > 4
            var footer_grid_class = 'grid--3-col-tablet'
          }
       ){ %>
        <div class="footer__blocks-wrapper grid grid--1-col"> 
          <%- include('../snippets/footer-newslatter-style-1'){ %>
        
          <% section?.block_order?.forEach((orderItem, index) => {){ %><% let block = section?.blocks[orderItem]){ %>

            <% if(block.type === 'link_list' && block?.settings?.heading){ %>
              <div class="accordion">
                <details>                  
                  <% if(block?.settings?.menu){ %>
                    <ul class="footer-block__details-content list-unstyled">
                      <% for link in block?.settings?.menu.links){ %>
                        <li>
                          <a href="<%= link.url %>" class="link link--text list-menu__item list-menu__item--link<% if(link.active){ %> list-menu__item--active<% } %>">
                            <%= link.title %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  <% } %>
                </details>
              </div>
            <% } %>

            <div class="footer-block grid__item<% if(block.type === 'link_list' && block?.settings?.heading){ %> footer-block--menu<% } %> ">
              <% if(block?.settings?.heading){ %>
                <h2 class="footer-block__heading hidden"><%=- block?.settings?.heading -%></h2>
              <% } %>

              <% if(block.type){ %>
                <% } else if(block.type === 'text'){ %>
                  <div class="footer-block__details-content rte">
                    <%= block?.settings?.subtext %>
                  </div>
                <% } else if(block.type === 'link_list'){ %>
                  <% if(block?.settings?.menu && block?.settings?.heading){ %>
                    <ul class="footer-block__details-content list-unstyled">
                      <% for link in block?.settings?.menu.links){ %>
                        <li>
                          <a href="<%= link.url %>" class="link link--text list-menu__item list-menu__item--link<% if(link.active){ %> list-menu__item--active<% } %>">
                            <%= link.title %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  <% } %>
                <% } %>
            </div>
          <% }) %>
          
        </div>
      <% } %>
    </div>
  <% } %>

  <div class="footer__content-bottom bc-<%=settings.section_style%>-bt">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization">
        <% if(section.settings.enable_country_selector && localization.available_countries.length > 1){ %>
          <noscript>
            <% form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form'){ %>
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript"><%=localization.country_label%></h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  <% for country in localization.available_countries){ %>
                    <option value="<%= country.iso_code %>" <% if(country.iso_code === localization.country.iso_code){ %> selected<% } %>>
                      <%= country.name %> (<%= country.currency.iso_code %> <%= country.currency.symbol %>)
                    </option>
                  <% }) %>
                </select>
                <%- include('../snippets/icon-caret'){ %>
              </div>
              <button class="button button--tertiary"><%=localization.update_country%></button>
            </form>
          </noscript>
          <localization-form>
            <% form 'localization', id: 'FooterCountryForm', class: 'localization-form'){ %>
              <div class="no-js-hidden">
                <h2 class="caption-large" id="FooterCountryLabel"><%=localization.country_label%></h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    <%= localization.country.name %> (<%= localization.country.currency.iso_code %> <%= localization.country.currency.symbol %>)
                    <%- include('../snippets/icon-caret'){ %>
                  </button>
                  <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                    <% for country in localization.available_countries){ %>
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large<% if(country.iso_code === localization.country.iso_code){ %> disclosure__link--active<% } %> focus-inset" href="#"<% if(country.iso_code === localization.country.iso_code){ %> aria-current="true"<% } %> data-value="<%= country.iso_code %>">
                          <%= country.name %> <span class="localization-form__currency">(<%= country.currency.iso_code %> <%= country.currency.symbol %>)</span>
                        </a>
                      </li>
                    <% }) %>
                  </ul>
                </div>
                <input type="hidden" name="country_code" value="<%= localization.country.iso_code %>">
              </div>
            </form>
          </localization-form>
        <% } %>

        <% if(section.settings.enable_language_selector && localization.available_languages.length > 1){ %>
          <noscript>
            <% form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form'){ %>
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript"><%=localization.language_label%></h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  <% for language in localization.available_languages){ %>
                    <option value="<%= language.iso_code %>" lang="<%= language.iso_code %>" <% if(language.iso_code === localization.language.iso_code){ %> selected<% } %>>
                      <%= language.endonym_name %>
                    </option>
                  <% }) %>
                </select>
                <%- include('../snippets/icon-caret'){ %>
              </div>
              <button class="button button--tertiary"><%=localization.update_language%></button>
            </form>
          </noscript>

          <localization-form>
            <% form 'localization', id: 'FooterLanguageForm', class: 'localization-form'){ %>
              <div class="no-js-hidden">
                <h2 class="caption-large" id="FooterLanguageLabel"><%=localization.language_label%></h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    <%= localization.language.endonym_name %>
                    <%- include('../snippets/icon-caret'){ %>
                  </button>
                  <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                    <% for language in localization.available_languages){ %>
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large<% if(language.iso_code === localization.language.iso_code){ %> disclosure__link--active<% } %> focus-inset" href="#" hreflang="<%= language.iso_code %>" lang="<%= language.iso_code %>"<% if(language.iso_code === localization.language.iso_code){ %> aria-current="true"<% } %> data-value="<%= language.iso_code %>">
                          <%= language.endonym_name %>
                        </a>
                      </li>
                    <% }) %>
                  </ul>
                </div>
                <input type="hidden" name="locale_code" value="<%= localization.language.iso_code %>">
              </div>
            </form>
          </localization-form>
        <% } %>
      </div>
      <div class="footer__column footer__column--info">
        
        <div class="footer__copyright">
          <small class="copyright__content">&copy; <%=now' new Date() "%Y" %>, <%= shop.name | link_to: routes.root_url %></small>
        </div>
        
        <% if(section.settings.payment_enable){ %>
          <div class="footer__payment">
            <span class="visually-hidden"><%=sectionst.footer.payment%></span>
            <ul class="list list-payment" role="list">
              <% for type in shop.enabled_payment_types){ %>
                <li class="list-payment__item">
                  <%= type | payment_type_svg_tag: class: 'icon icon--full-color' %>
                </li>
              <% }) %>
            </ul>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</footer>

<script>
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    onItemClick(event) {
      event.preventDefault();
      this.elements.input.value = event.currentTarget.dataset.value;
      this.querySelector('form')?.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.elements.button.setAttribute('aria-expanded', 'false');
        this.elements.panel.setAttribute('hidden', true);
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
</script>

<% schema){ %>
{
  "name": "t:sectionst.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sectionst.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sectionst.footer.blocks.link_list.settings.heading.label",
          "info": "t:sectionst.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sectionst.footer.blocks.link_list.settings.menu.label",
          "info": "t:sectionst.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sectionst.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sectionst.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, || brand content with your customers.</p>",
          "label": "t:sectionst.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "settings": [    
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Container (Width)",
      "options": [
        {
          "label": "Unset",
          "value": "width-un"
        },
        {
          "label": "Large",
          "value": "width-l"
        },
        {
          "label": "Medium",
          "value": "width-m"
        },
        {
          "label": "Small",
          "value": "width-s"
        }
      ],
      "default": "width-l"
    },
    {
      "type": "select",
      "id": "py_section_bg_color",
      "label": "Background",
      "options": [        
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
      ],
      "default": "bg-c-middle-light"
    },
    {
      "type": "select",
      "id": "py_section_color",
      "label": "Color",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Dark",
          "value": "c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "c-middle-dark"
        },
        {
          "label": "Average",
          "value": "c-average"
        },
        {
          "label": "Light",
          "value": "c-middle-light"
        },
        {
          "label": "Light",
          "value": "c-light"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "footer_heading_font_size",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 38,
      "label": "Footer Heading Font Size"
    },
    {
      "type": "range",
      "id": "footer_heading_font_size_m",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 32,
      "label": "Footer Heading Mobile Font Size"
    },
    {
      "type": "range",
      "id": "footer_subtitle_font_size",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 20,
      "label": "Footer Sub Title Font Size"
    },
    {
      "type": "range",
      "id": "footer_subtitle_font_size_m",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 18,
      "label": "Footer Sub Title Mobile Font Size"
    },
    {
      "type": "range",
      "id": "footer_info_font_size",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 18,
      "label": "Footer Text Font Size"
    },
    {
      "type": "header",
      "content": "EMAIL SIGNUP",
      "info": "Subscribers added to your “accepted marketing” [customer list.](https:\/\/help.shopify.com\/en\/manual\/customers\/manage-customers)"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sectionst.footer.settings.newsletter_enable.label"
    },
    {
      "type": "select",
      "id": "field_bg_color",
      "label": "Field Background Color",
      "options": [          
         {
            "label": "Transparent",
            "value": "transparent"
         },        
         {
            "label": "Dark",
            "value": "var(--py-bg-color-dark)"
         },
         {
            "label": "Middle Dark",
            "value": "var(--py-bg-color-middle-dark)"
         },
         {
            "label": "Average",
            "value": "var(--py-bg-color-avarge)"
         },
         {
            "label": "Middle Light",
            "value": "var(--py-bg-color-middle-light)"
         },
         {
            "label": "Light",
            "value": "var(--py-bg-color-light)"
         }
       ],
     "default": "transparent"
    },
    {
      "type": "range",
      "id": "field_border_width",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 1,
      "label": "Field Border Width"
    },
    {
      "type": "range",
      "id": "field_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 5,
      "label": "Field Border Radius"
    },
    {
      "type": "select",
      "id": "field_color_br",
      "label": "Field Border Color",
      "options": [ 
         {
           "label": "Dark",
           "value": "var(--py-color-dark)"
         },
         {
           "label": "Middle Dark",
           "value": "var(--py-color-middle-dark)"
         },
         {
           "label": "Average",
           "value": "var(--py-color-avarge)"
         },
         {
           "label": "Middle Light",
           "value": "var(--py-color-middle-light)"
         },
         {
           "label": "Light",
           "value": "var(--py-color-light)"
         }
       ],
     "default": "var(--py-color-dark)"
    },
    {
      "type": "select",
      "id": "field_color",
      "label": "Field Color",
      "options": [ 
         {
           "label": "Dark",
           "value": "var(--py-color-dark)"
         },
         {
           "label": "Middle Dark",
           "value": "var(--py-color-middle-dark)"
         },
         {
           "label": "Average",
           "value": "var(--py-color-avarge)"
         },
         {
           "label": "Middle Light",
           "value": "var(--py-color-middle-light)"
         },
         {
           "label": "Light",
           "value": "var(--py-color-light)"
         }
       ],
     "default": "var(--py-color-dark)"
    },
    {
      "type": "select",
      "id": "field_color_focus",
      "label": "Field Focused Color",
      "options": [ 
         {
           "label": "Dark",
           "value": "var(--py-color-dark)"
         },
         {
           "label": "Middle Dark",
           "value": "var(--py-color-middle-dark)"
         },
         {
           "label": "Average",
           "value": "var(--py-color-avarge)"
         },
         {
           "label": "Middle Light",
           "value": "var(--py-color-middle-light)"
         },
         {
           "label": "Light",
           "value": "var(--py-color-light)"
         }
       ],
     "default": "var(--py-color-dark)"
    },
    {
      "type": "range",
      "id": "field_font_size",
      "min": 10,
      "max": 40,
      "step": 1,
      "default": 16,
      "label": "Field Font Size"
    },
    {
      "type": "select",
      "id": "submit_btn_size",
      "label": "Submit Button Size",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "py_section_color_submit_btn",
      "label": "Submit Button Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "light"
    },
    {
      "type": "select",
      "id": "py_section_bg_color_submit_btn",
      "label": "Submit Button Background Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "dark"
    },
    {
      "type": "select",
      "id": "py_section_color_submit_btn_hover",
      "label": "Submit Button Hover Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "dark"
    },
    {
      "type": "select",
      "id": "py_section_bg_color_submit_btn_hover",
      "label": "SubmitButton Hover Background Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "light"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign up to our emails",
      "label": "t:sectionst.footer.settings.newsletter_heading.label"
    },
    {
      "type": "textarea",
      "id": "newslatter_subtitle",
      "label": "Newsletter Sub Title",
      "default": "Sign up to our newsletter && you’ll be the first to know about news && promotions"
    },
    {
      "type": "header",
      "content": "t:sectionst.footer.settings.header__2.content",
      "info": "t:sectionst.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sectionst.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sectionst.footer.settings.header__3.content",
      "info": "t:sectionst.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sectionst.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sectionst.footer.settings.header__5.content",
      "info": "t:sectionst.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sectionst.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sectionst.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sectionst.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
<% endschema){ %>