<link rel="stylesheet" href="/<%=srcId%>/component-image-with-text.css">
<style>
.image-with-text-<%=section.id%> .image-with-text__grid{
    background:<%=section.settings.section_bg_color%>
}
<% if(section.settings.image){ %>
.image-with-text-<%=section.id%> .image-with-text__media{
    <% if(section.settings.section_height === 'auto'){ %> 
    padding-bottom: <%= 1 / section.settings.image.aspect_ratio * 100 %>%;
    <% } else { %>
    padding-bottom: <%=section.settings.section_height%>
    <% } %>
}
@meida(max-width:749px){
   .image-with-text-<%=section.id%> .image-with-text__media{
        <% if(section.settings.section_height_m === 'auto'){ %> 
        padding-bottom: <%= 1 / section.settings.image.aspect_ratio * 100 %>%;
        <% } else { %>
        padding-bottom: <%=section.settings.section_height_m%>
        <% } %>
    } 
}
<% } %>
</style>
<div class="image-with-text image-with-text-<%=section.id%>">
  <div class="<% if(section.settings.section_width === "full"){ %>image-with-text--full-width<% } else { %>page-width  py-<%=section.settings.section_width%><% } %> py-<%= section.settings.section_y_mg %>">
    <div class="image-with-text__grid img_style-<%=section.settings.img_style%>  <% if(section.settings.layout === 'text_first'){ %> image-with-text__grid--reverse<% } %> grid grid--gapless grid--1-col grid--2-col-tablet">
      <div class="grid__item img-wrap">
        <div class="image-with-text__media <% if(section.settings.image){ %>media<% } else { %>image-with-text__media--placeholder placeholder<% } %>">
          <% if(section.settings.image){ %>
            <img srcset="<% if(section.settings.image.width >= 165){ %><%= section.settings.image %> 165w,<% } %>
              <% if(section.settings.image.width >= 360){ %><%= section.settings.image %> 360w,<% } %>
              <% if(section.settings.image.width >= 535){ %><%= section.settings.image %> 535w,<% } %>
              <% if(section.settings.image.width >= 720){ %><%= section.settings.image %> 720w,<% } %>
              <% if(section.settings.image.width >= 940){ %><%= section.settings.image %> 940w,<% } %>
              <% if(section.settings.image.width >= 1070){ %><%= section.settings.image %> 1070w<% } %>"
              src="<%= section.settings.image %>"
              sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="<%= section.settings.image.alt %>"
              loading="lazy"
              width="<%= section.settings.image.width %>"
              height="<%= section.settings.image.height %>" 
            />
          <% } else { %>
            <img src="/<%=srcId%>/image-with-text.webp">
          <% } %>
        </div>
      </div>
      <div class="grid__item">
        <div class="image-with-text__content py-pd-x-m" style="text-align:<%=section.settings.align%>;align-items:<%=section.settings.align%>">
          <% section.blocks?.forEach((block,index)=>{ %>
            <% if(block.type === 'heading' && block?.settings?.title_font){ %>
                <<%= block?.settings?.title_font %> class="image-with-text__heading py-<%=block?.settings?.fs%> py-mg-y-s" style="color:<%=section.settings.py_section_color%>">
                  <%= block?.settings?.heading %>
                </<%= block?.settings?.title_font %>>
              <% } else if(block.type === 'text'){ %>
                <div class="image-with-text__text rte py-<%=block?.settings?.fs%> py-<%= block?.settings?.text_y_mg %>"  style="color:<%=section.settings.py_section_color%>"><%- block?.settings?.text -%></div>
              <% } else if(block.type === 'button'){ %>
                <% if(block?.settings?.button_label){ %>
                  <a href="<%= block?.settings?.button_link %>" class="<%= block?.settings?.view_btn_style %> py-btn-no-br py-btn-<%=block?.settings?.py_section_color_view_btn%> py-btn-hover-<%=block?.settings?.py_section_color_view_btn_hover%> py-btn-<%=block?.settings?.view_btn_size%>"><%= block?.settings?.button_label %></a>
                <% } %>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>