<%=section-image-banner.css' <%=srcId%> | stylesheet_tag %>

<div id="Banner-<%= section.id %>" class="banner hero_banner bc-<%=settings.section_style%>-bt" <% if(section.settings.url){ %>data-href="<%= section.settings.url %>" style="cursor: pointer;"<% } %>>
  
      <% if(section.settings.image){ %>
        <div class="media<% if(section.settings.image === blank){ %> placeholder<% } %><% if(section.settings.image_2){ %> small-hide<% } %>" style="padding-bottom: <%= 1 / section.settings.image.aspect_ratio * 100 %>%;">
          <img srcset="<% if(section.settings.image.width >= 375){ %><%= section.settings.image | img_url: '375x' %> 375w,<% } %>
            <% if(section.settings.image.width >= 750){ %><%= section.settings.image | img_url: '750x' %> 750w,<% } %>
            <% if(section.settings.image.width >= 1100){ %><%= section.settings.image | img_url: '1100x' %> 1100w,<% } %>
            <% if(section.settings.image.width >= 1500){ %><%= section.settings.image | img_url: '1500x' %> 1500w,<% } %>
            <% if(section.settings.image.width >= 1780){ %><%= section.settings.image | img_url: '1780x' %> 1780w,<% } %>
            <% if(section.settings.image.width >= 2000){ %><%= section.settings.image | img_url: '2000x' %> 2000w,<% } %>
            <% if(section.settings.image.width >= 2800){ %><%= section.settings.image | img_url: '2800x' %> 2800w<% } %>"
            sizes="<% if(section.settings.image_2 && section.settings.stack_images_on_mobile){ %>(min-width: 750px) 50vw, 100vw<% } else if(section.settings.image_2){ %>50vw<% } else { %>100vw<% } %>"
            src="<%= section.settings.image | img_url: '750x' %>"
            <% if(section.settings.show_lazy){ %>loading="lazy"<% } %>
            alt="<%= section.settings.image.alt %>"
            width="<%= section.settings.image.width %>"
            height="<%= section.settings.image.width / section.settings.image.aspect_ratio %>"
            <% if(section.settings.enable_anim){ %> data-aos="<%=section.settings.anim%>"<% } %>
          >
        </div>
      <% } else if(section.settings.image_2 === blank){ %>
        <div class="media placeholder py-bg-c-light" style="padding-bottom: 53.4375%;opacity: 0.1;">
          <%=lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' %>
        </div>
      <% } %>
      <% if(section.settings.image_2){ %>
        <%- include('../snippets/resimg', image: section.settings.image_2, classwrapper: 'large-up-hide medium-hide' ){ %>
      <% } %>
      <div class="banner__content banner__content-<%= section.id %> page-width">
        <%- include('../snippets/style', sufix: '.banner__content', id: section.id, style: section.settings){ %>
        <div class="banner__box">
          <% section?.block_order?.forEach((orderItem, index) => {){ %><% let block = section?.blocks[orderItem]){ %>
            <% if(block.type){ %>
              <% } else if(block.type === 'heading'){ %>
                <h2 class="banner__heading h1 color-white" id="banner__heading-<%= block.id %>">
                  <%= block?.settings?.heading %>
                </h2>
                <%- include('../snippets/style', sufix: '#banner__heading', id: block.id, style: block.settings){ %>
              <% } else if(block.type === 'text'){ %>
                <div class="banner__text color-white" id="banner__text-<%= block.id %>">
                  <%= block?.settings?.text %>
                </div>
                <%- include('../snippets/style', sufix: '#banner__text', id: block.id, style: block.settings){ %>
              <% } else if(block.type === 'buttons'){ %>
                <div class="banner__buttons<% if(block?.settings?.button_label_1 && block?.settings?.button_link_1 && block?.settings?.button_label_2 && block?.settings?.button_link_2){ %> banner__buttons--multiple<% } %>">
                  <% if(block?.settings?.button_label_1){ %>
                    <a id="bunner__button-<%= block.id %>" href="<%= block?.settings?.button_link_1 %>" class="button py-c-<%=block?.settings?.content_color_view_btn%> py-hv-c-<%=block?.settings?.content_color_view_btn_hover%> py-bg-c-<%=block?.settings?.content_bg_color_view_btn%> py-hv-bg-c-<%=block?.settings?.content_bg_color_view_btn_hover%> py-btn-<%=block?.settings?.view_btn_size%>"<% if(block?.settings?.button_link_1 === blank){ %> aria-disabled="true"<% } %>>
                      <%= block?.settings?.button_label_1 %>
                    </a>
                  <style>#bunner__button-<%= block.id %>{
                    <%=block?.settings?.c_css%>
                  }</style>
                  <% } %>
                </div>
            <% } %>
          <% }) %>
        </div>
      </div>
     
</div>
<script>
  if(document.getElementsByClassName('hero_banner').length>0){
    var HSL = document.getElementsByClassName("hero_banner");
    var i;

    for (i = 0; i < HSL.length; i++) {
      if(HSL[i].getAttribute('data-href')!=null)
      HSL[i].addEventListener("click", function() {
        window.location.href = this.getAttribute('data-href');
      });
    }
  }
</script>
<% schema){ %>
{
  "name": "Hero Section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Dsktop Image"
    },
    {
      "type": "checkbox",
      "id": "show_lazy",
      "label": "lazy Load",
      "default": true,
      "info": "For your site speed score, please disable lazy loading when the image is loaded first on the screen."
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Mobile Image"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Override"
    },
    {
      "type": "checkbox",
      "id": "show_override",
      "label": "Show Override",
      "default": false
    },
    {
      "type": "select",
      "id": "content_bg_color",
      "label": "Background",
      "options": [          
          {
            "label": "Transparent",
            "value": "transparent"
          },        
          {
            "label": "Dark",
            "value": "var(--py-bg-color-dark)"
          },
          {
            "label": "Middle Dark",
            "value": "var(--py-bg-color-middle-dark)"
          },
          {
            "label": "Average",
            "value": "var(--py-bg-color-average)"
          },
          {
            "label": "Middle Light",
            "value": "var(--py-bg-color-middle-light)"
          },
          {
            "label": "Light",
            "value": "var(--py-bg-color-light)"
          }
        ],
        "default": "var(--py-bg-color-average)"
    },
    {
      "type": "image_picker",
      "id": "ov_bg_image",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "ov_opacity",
      "label": "Opacity"
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "select",
      "id": "pv",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sectionst.image-banner.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sectionst.image-banner.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sectionst.image-banner.settings.desktop_text_box_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "Vertical Position"
    },
    {
      "type": "select",
      "id": "ph",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Horizontal Position"
    },
    {
      "type": "select",
      "id": "align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Aligment"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Width"
    },
    {
      "type": "text",
      "id": "height",
      "label": "Height"
    },
    {
      "type": "textarea",
      "id": "c_css",
      "label": "Custom CSS"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "select",
      "id": "m_pv",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sectionst.image-banner.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sectionst.image-banner.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sectionst.image-banner.settings.desktop_text_box_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "Vertical Position"
    },
    {
      "type": "select",
      "id": "m_ph",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Horizontal Position"
    },
    {
      "type": "select",
      "id": "m_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Aligment"
    },
    {
      "type": "text",
      "id": "m_padding",
      "label": "Padding"
    },
    {
      "type": "text",
      "id": "m_margin",
      "label": "Margin"
    },
    {
      "type": "text",
      "id": "m_width",
      "label": "Width"
    },
    {
      "type": "text",
      "id": "m_height",
      "label": "Height"
    },
    {
      "type": "textarea",
      "id": "m_c_css",
      "label": "Custom CSS"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "checkbox",
      "id": "enable_anim",
      "label": "Enable Animation",
      "default": false
    },
    {
      "type": "select",
      "id": "anim",
      "label": "Animation Type",
      "options": [
      {
        "value": "fade-up",
        "label": "Fade In Up"
      },
      {
        "value": "fade-down",
        "label": "Fade In Down"
      },
      {
        "value": "fade-right",
        "label": "Fade In Right"
      },
      {
        "value": "fade-left",
        "label": "Fade In Left"
      },
      {
        "value": "flip-up",
        "label": "Flip In Up"
      },
      {
        "value": "flip-down",
        "label": "Flip In Down"
      },
      {
        "value": "flip-left",
        "label": "Flip In Left"
      },
      {
        "value": "flip-right",
        "label": "Flip In Right"
      },
      {
        "value": "zoom-in",
        "label": "Zoom In"
      },
      {
        "value": "zoom-out",
        "label": "Zoom Out"
      }
      ],
      "default": "zoom-out"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sectionst.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sectionst.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "select",
          "id": "align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "select",
          "id": "content_color",
          "label": "Text Color",
          "options": [ 
              {
                "label": "Dark",
                "value": "var(--py-color-dark)"
              },
              {
                "label": "Middle Dark",
                "value": "var(--py-color-middle-dark)"
              },
              {
                "label": "Average",
                "value": "var(--py-color-average)"
              },
              {
                "label": "Middle Light",
                "value": "var(--py-color-middle-light)"
              },
              {
                "label": "Light",
                "value": "var(--py-color-light)"
              }
            ],
            "default": "var(--py-color-light)"
        },
        {
          "type": "text",
          "id": "weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "select",
          "id": "m_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "select",
          "id": "content_color_m",
          "label": "Text Color",
          "options": [ 
              {
                "label": "Dark",
                "value": "var(--py-color-dark)"
              },
              {
                "label": "Middle Dark",
                "value": "var(--py-color-middle-dark)"
              },
              {
                "label": "Average",
                "value": "var(--py-color-average)"
              },
              {
                "label": "Middle Light",
                "value": "var(--py-color-middle-light)"
              },
              {
                "label": "Light",
                "value": "var(--py-color-light)"
              }
            ],
            "default": "var(--py-color-light)"
        },
        {
          "type": "text",
          "id": "m_weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "m_size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "m_width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "m_height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "m_c_css",
          "label": "Custom CSS"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sectionst.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) || content on the template.</p>",
          "label": "t:sectionst.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "select",
          "id": "align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "select",
          "id": "content_color",
          "label": "Text Color",
          "options": [ 
              {
                "label": "Dark",
                "value": "var(--py-color-dark)"
              },
              {
                "label": "Middle Dark",
                "value": "var(--py-color-middle-dark)"
              },
              {
                "label": "Average",
                "value": "var(--py-color-average)"
              },
              {
                "label": "Middle Light",
                "value": "var(--py-color-middle-light)"
              },
              {
                "label": "Light",
                "value": "var(--py-color-light)"
              }
            ],
            "default": "var(--py-color-light)"
        },
        {
          "type": "text",
          "id": "weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "select",
          "id": "m_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "select",
          "id": "content_color_m",
          "label": "Text Color",
          "options": [ 
              {
                "label": "Dark",
                "value": "var(--py-color-dark)"
              },
              {
                "label": "Middle Dark",
                "value": "var(--py-color-middle-dark)"
              },
              {
                "label": "Average",
                "value": "var(--py-color-average)"
              },
              {
                "label": "Middle Light",
                "value": "var(--py-color-middle-light)"
              },
              {
                "label": "Light",
                "value": "var(--py-color-light)"
              }
            ],
            "default": "var(--py-color-light)"
        },
        {
          "type": "text",
          "id": "m_weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "m_size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "m_width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "m_height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "m_c_css",
          "label": "Custom CSS"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sectionst.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sectionst.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sectionst.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sectionst.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "select",
          "id": "view_btn_size",
          "label": "View Button Size",
          "options": [
            {
              "label": "Small",
              "value": "small"
            },
            {
              "label": "Medium",
              "value": "medium"
            },
            {
              "label": "Large",
              "value": "large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "content_color_view_btn",
          "label": "View Button Color",
          "options": [
            {
               "label": "Dark",
               "value": "dark"
            },
            {
              "label": "Middle Dark",
              "value": "middle-dark"
            },
            {
              "label": "Average",
              "value": "average"
            },
            {
              "label": "Middle Light",
              "value": "middle-light"
            },
            {
              "label": "Light",
              "value": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "content_bg_color_view_btn",
          "label": "View Button Background Color",
          "options": [
            {
               "label": "Dark",
               "value": "dark"
            },
            {
              "label": "Middle Dark",
              "value": "middle-dark"
            },
            {
              "label": "Average",
              "value": "average"
            },
            {
              "label": "Middle Light",
              "value": "middle-light"
            },
            {
              "label": "Light",
              "value": "light"
            }
          ],
          "default": "dark"
        },
        {
          "type": "select",
          "id": "content_color_view_btn_hover",
          "label": "View Button Hover Color",
          "options": [
            {
               "label": "Dark",
               "value": "dark"
            },
            {
              "label": "Middle Dark",
              "value": "middle-dark"
            },
            {
              "label": "Average",
              "value": "average"
            },
            {
              "label": "Middle Light",
              "value": "middle-light"
            },
            {
              "label": "Light",
              "value": "light"
            }
          ],
          "default": "dark"
        },
        {
          "type": "select",
          "id": "content_bg_color_view_btn_hover",
          "label": "View Button Hover Background Color",
          "options": [
            {
               "label": "Dark",
               "value": "dark"
            },
            {
              "label": "Middle Dark",
              "value": "middle-dark"
            },
            {
              "label": "Average",
              "value": "average"
            },
            {
              "label": "Middle Light",
              "value": "middle-light"
            },
            {
              "label": "Light",
              "value": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
<% endschema){ %>
