<link rel="stylesheet" href="/<%=srcId%>/password.css">
<link rel="stylesheet" href="/<%=srcId%>/component-newsletter-style-1.css">
<style>
  #Password{
    border: <%=section.settings.pw_field_br_width%>px solid <%=section.settings.pw_field_color_br%>;
    background:<%=section.settings.pw_field_bg_color%>;
    color:<%=section.settings.pw_field_color%>;
    box-sizing:border-box;
    height:36px;
    padding: 5px 10px;
  }
  #Password::placeholder{
    opacity:0.5; 
    color:<%=section.settings.pw_field_color%>;
  }
  .password-button{
    height:36px;
    box-sizing: border-box;
  }
</style>
<div class="bc-password-page" id="bc-<%= sectionid %>">
    <%- include('../snippets/style', {
      sufix: '#bc', 
      id: sectionid, 
      style: section.settings
    }) %>
    <% if(section.settings.show_passw){ %>
    <div class="bc-password-page__header">
        <% if(section.settings.header_title){ %>
        <h2 class="bc-password-page__header-title">
            <%= section.settings.header_title %>
        </h2>
        <% } %>
        <div class="bc-password-page__header-form">
            <form class="password-form">
              <div class="password-field field<% if(form.errors){ %> password-field--error<% } %>">
                <label class="field__label" for="<%=general.password_page.login_form_password_label%>"></label>
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  <% if(form.errors){ %>
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  <% } %>
                  placeholder="Enter the password"
                >
                
                <% if(form.errors){ %>
                <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden"><%=accessibility.error%></span>
                    <span class="form__message"><%- include('../snippets/icon-error') %> <%=general.password_page.login_form_error%></span>
                </div>
                <% } %>
              </div>
              <button name="commit" class="password-button" style="background-color:<%=section.settings.pw_btn_bg_color%>;padding:5px">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.59009 16.58L13.1701 12L8.59009 7.41L10.0001 6L16.0001 12L10.0001 18L8.59009 16.58Z" fill="<%=section.settings.pw_btn_color%>"/>
                </svg>
              </button>
              
            </form>
            <% if(section.settings.header_text){ %>
                <div class="bc-password-page__header-text">
                    <%- section.settings.header_text -%>
                </div>
            <% } %>
        </div>
    </div>
    <% } %>
    <div class="bc-password-page__container">
        <div class="bc-password-page__content">
            <% if(section.settings.image){ %>
            <div class="media <% if(section.settings.m_image){ %>small-hide<% } %>" style="padding-bottom: <%= 1 / section.settings.image.aspect_ratio * 100 %>%;">
                <img srcset="<% if(section.settings.image.width >= 165){ %><%= section.settings.image %> 165w,<% } %>
                <% if(section.settings.image.width >= 360){ %><%= section.settings.image %> 360w,<% } %>
                <% if(section.settings.image.width >= 535){ %><%= section.settings.image %> 535w,<% } %>
                <% if(section.settings.image.width >= 720){ %><%= section.settings.image %> 720w,<% } %>
                <% if(section.settings.image.width >= 940){ %><%= section.settings.image %> 940w,<% } %>
                <% if(section.settings.image.width >= 1070){ %><%= section.settings.image %> 1070w<% } %>"
                src="<%= section.settings.image %>"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
                alt="<%= section.settings.image.alt %>"
                loading="lazy"
                width="<%= section.settings.image.width %>"
                height="<%= section.settings.image.height %>"
                >
            </div>
            <% } else { %>
            <div class="media <% if(section.settings.m_image){ %>small-hide<% } %>" style="padding-bottom: 53.4375%;">
                 <%#lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' %>
            </div>
            <% } %>
            <% if(section.settings.m_image){ %>
            <div class="media large-up-hide medium-hide" style="padding-bottom: <%= 1 / section.settings.m_image.aspect_ratio * 100 %>%;">
                <img srcset="<% if(section.settings.m_image.width >= 165){ %><%= section.settings.m_image %> 165w,<% } %>
                <% if(section.settings.m_image.width >= 360){ %><%= section.settings.m_image %> 360w,<% } %>
                <% if(section.settings.m_image.width >= 535){ %><%= section.settings.m_image %> 535w,<% } %>
                <% if(section.settings.m_image.width >= 720){ %><%= section.settings.m_image %> 720w,<% } %>
                <% if(section.settings.m_image.width >= 940){ %><%= section.settings.m_image %> 940w,<% } %>
                <% if(section.settings.m_image.width >= 1070){ %><%= section.settings.m_image %> 1070w<% } %>"
                src="<%= section.settings.m_image %>"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
                alt="<%= section.settings.m_image.alt %>"
                loading="lazy"
                width="<%= section.settings.m_image.width %>"
                height="<%= section.settings.m_image.height %>"
                >
            </div>
            <% } %>

            <% if(section?.block_order?.length > 0){ %>
            <div class="bc-password-page__wrapper">
                <% section?.block_order?.forEach((orderItem, index) => { %>
                  <% let block = section?.blocks[orderItem] %>
                    <% if(block.type === 'title'){ %>
                            <% if(block?.settings?.title){ %>
                            <h2 class="bc-title bc-title-<%= orderItem %>">
                                <%= block?.settings?.title %>
                            </h2>
                            <%- include('../snippets/style', {
                              sufix: '.bc-title', 
                              id: orderItem, 
                              style: block.settings
                            }) %>
                            <% } %>

                        <% } else if(block.type === 'countdown'){ %>
                            <% if(block?.settings?.countdown){ %>
                            <div class="bc-password-page__count-down bc-password-page__count-down-<%= orderItem %>">
                                <%- include('../snippets/style', {
                                  sufix: '.bc-password-page__count-down', 
                                  id: orderItem, 
                                  style: block.settings
                                }) %>
                                <%- include('../snippets/component-countdown', {
                                  countdown: block?.settings?.countdown
                                }) %>
                            </div>
                            <% } %>

                        <% } else if(block.type === 'email_form'){ %>
                            <style>
                              #NewsletterForm--<%= sectionid %>{
                                border: <%=block?.settings?.e_field_br_width%>px solid <%=block?.settings?.e_field_color_br%>;
                                background:<%=block?.settings?.e_field_bg_color%>;
                                color:<%=block?.settings?.e_field_color%>;
                                box-sizing:border-box;
                                height:36px;
                                font-size: 16px;
                              }
                              #NewsletterForm--<%= sectionid %>::placeholder{
                                opacity:0.5; 
                                color:<%=block?.settings?.e_field_color%>;
                              }
                              .newsletter__button{
                                border: <%=block?.settings?.e_btn_br_width%>px solid <%=block?.settings?.e_btn_color_br%>;
                                background:<%=block?.settings?.e_btn_bg_color%>;
                                color:<%=block?.settings?.e_btn_color%>;
                                box-sizing:border-box;
                                height:36px;
                                padding: 5px 10px;
                                margin-left: 10px;
                                font-size: 16px;
                              }
                            </style>
                            <div class="bc-email-form bc-email-form-<%= orderItem %>">
                            <%- include('../snippets/style', {
                              sufix: '.bc-email-form', 
                              id: orderItem, 
                              style: block.settings
                            }) %>
                            <form class="newsletter-form">
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <div class="newsletter-form__field-wrapper">
                                <div class="field">                                    
                                  <input
                                    id="NewsletterForm--<%= sectionid %>"
                                    type="email"
                                    name="contact[email]"
                                    class="field__input"
                                    value="<%= form.email %>"
                                    aria-required="true"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email"
                                    <% if(form.errors){ %>
                                        autofocus
                                        aria-invalid="true"
                                        aria-describedby="Newsletter-error--<%= sectionid %>"
                                    <% } else if(form.posted_successfully){ %>
                                        aria-describedby="Newsletter-success--<%= sectionid %>"
                                    <% } %>
                                    placeholder="<%=newsletter.label%>"
                                    required
                                    >
                                   
                                </div>
                                <% if(form.errors){ %>
                                    <small class="newsletter-form__message form__message" id="Newsletter-error--<%= sectionid %>"><%- include('../snippets/icon-error') %><%= form.errors.translated_fields['email'] %> <%= form.errors.messages['email'] %></small>
                                <% } %>
                                </div>
                                <button type="submit" class="newsletter__button button" name="commit">
                                <%=newsletter.button_label%>
                                </button>
                                <% if(form.posted_successfully){ %>
                                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--<%= sectionid %>" tabindex="-1" autofocus><%- include('../snippets/icon-success') %><%=newsletter.success%></h3>
                                <% } %>
                            </form>
                            </div>

                        <% } else if(block.type === 'html'){ %>
                            <% if(block?.settings?.html){ %>
                              <%- block?.settings?.html -%>
                            <% } %>

                    <% } %>
                <% }) %>
            </div>
            <% } %>

        </div>
    </div>
</div>