<%=section-image-banner.css' <%=srcId%> | stylesheet_tag %>
<%=component-sliders.css' <%=srcId%> | stylesheet_tag %>
<%=component-slideshow.css' <%=srcId%> | stylesheet_tag %>


<% if(section.settings.slide_height === 'adapt_image' && section.blocks.first.settings.image){ %>
  <% style){ %>
  @media screen && (max-width: 749px) {
    #Slider-<%= section.id %>::before,
    #Slider-<%= section.id %> .media::before,
    #Slider-<%= section.id %>:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: <%= 1 / section.blocks.first.settings.image.aspect_ratio * 100 %>%;
      content: '';
      display: block;
    }
  }

  @media screen && (min-width: 750px) {
    #Slider-<%= section.id %>::before,
    #Slider-<%= section.id %> .media::before {
      padding-bottom: <%= 1 / section.blocks.first.settings.image.aspect_ratio * 100 %>%;
      content: '';
      display: block;
    }
  }
  <% endstyle){ %>
<% } %>

<slideshow-component class="slider-mobile-gutter<% if(section.settings.layout === 'grid'){ %> page-width<% } %><% if(section.settings.show_text_below){ %> mobile-text-below<% } %>" role="region" aria-roledescription="<%=sections.slideshow.carousel%>" aria-label="<%= section.settings.accessibility_info %>">
  <% if(section.settings.auto_rotate && section.blocks.length > 1){ %>
    <div class="slideshow__controls slideshow__controls--top slider-buttons no-js-hidden<% if(section.settings.show_text_below){ %> slideshow__controls--border-radius-mobile<% } %>">
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="<%=sections.slideshow.previous_slideshow%>" aria-controls="Slider-<%= section.id %>"><%- include('../snippets/icon-caret'){ %></button>
      <div class="slider-counter slider-counter--<%= section.settings.slider_visual %><% if(section.settings.slider_visual === 'counter' || section.settings.slider_visual === 'numbers'){ %> caption<% } %>">
        <% if(section.settings.slider_visual === 'counter'){ %>
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden"><%=general.slider.of%></span>
          <span class="slider-counter--total"><%= section.blocks.length %></span>
        <% else%>
          <div class="slideshow__control-wrapper">
            <% section.blocks?.forEach((block,index)=>{ %>
              <button class="slider-counter__link slider-counter__link--<%= section.settings.slider_visual %> link" aria-label="<%=sections.slideshow.load_slide%> <%= forloop.index %> <%=general.slider.of%> <%= forloop.length %>" aria-controls="Slider-<%= section.id %>">
                <% if(section.settings.slider_visual === 'numbers'){ %><%= forloop.index %><% } else { %><span class="dot"></span><% } %>
              </button>
            <% }) %>
          </div>
        <% } %>
      </div>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="<%=sections.slideshow.next_slideshow%>" aria-controls="Slider-<%= section.id %>"><%- include('../snippets/icon-caret'){ %></button>

      <% if(section.settings.auto_rotate){ %>
        <button type="button" class="slideshow__autoplay slider-button no-js-hidden<% if(section.settings.auto_rotate === false){ %> slideshow__autoplay--paused<% } %>" aria-label="<%=sections.slideshow.pause_slideshow%>">
          <%- include('../snippets/icon-pause'){ %>
          <%- include('../snippets/icon-play'){ %>
        </button>
      <% } %>
    </div>
    <noscript>
      <div class="slider-buttons">
        <div class="slider-counter">
          <% section.blocks?.forEach((block,index)=>{ %>
            <a href="#Slide-<%= section.id %>-<%= forloop.index %>" class="slider-counter__link link" aria-label="<%=sections.slideshow.load_slide%> <%= forloop.index %> <%=general.slider.of%> <%= forloop.length %>">
              <%= forloop.index %>
            </a>
          <% }) %>
        </div>
      </div>
    </noscript>
  <% } %>

  <div class="slideshow banner banner--<%= section.settings.slide_height %> grid grid--1-col slider slider--everywhere<% if(section.settings.show_text_below){ %> banner--mobile-bottom<% } %><% if(section.blocks.first.settings.image === blank){ %> slideshow--placeholder<% } %>"
    id="Slider-<%= section.id %>"
    aria-live="polite"
    aria-atomic="true"
    data-autoplay="<%= section.settings.auto_rotate %>"
    data-speed="<%= section.settings.change_slides_speed %>"
  >
    <% section.blocks?.forEach((block,index)=>{ %>
      <style>
        #Slide-<%= section.id %>-<%= forloop.index %> .banner__media::after {
          opacity: <%= block?.settings?.image_overlay_opacity / 100.0 %>;
        }
      </style>
      <div class="slideshow__slide grid__item grid--1-col slider__slide"
        id="Slide-<%= section.id %>-<%= forloop.index %>"
        <%= block.shopify_attributes %>
        role="group"
        aria-roledescription="<%=sections.slideshow.slide%>"
        aria-label="<%= forloop.index %> <%=general.slider.of%> <%= forloop.length %>"
        tabindex="-1"
      >
        <div class="slideshow__media banner__media media<% if(block?.settings?.image === blank){ %> placeholder<% } %>">
          <% if(block?.settings?.image){ %>
            <img
              srcset="<% if(block?.settings?.image.width >= 375){ %><%= block?.settings?.image | image_url: width: 375 %> 375w,<% } %>
              <% if(block?.settings?.image.width >= 550){ %><%= block?.settings?.image | image_url: width: 550 %> 550w,<% } %>
              <% if(block?.settings?.image.width >= 750){ %><%= block?.settings?.image | image_url: width: 750 %> 750w,<% } %>
              <% if(block?.settings?.image.width >= 1100){ %><%= block?.settings?.image | image_url: width: 1100 %> 1100w,<% } %>
              <% if(block?.settings?.image.width >= 1500){ %><%= block?.settings?.image | image_url: width: 1500 %> 1500w,<% } %>
              <% if(block?.settings?.image.width >= 1780){ %><%= block?.settings?.image | image_url: width: 1780 %> 1780w,<% } %>
              <% if(block?.settings?.image.width >= 2000){ %><%= block?.settings?.image | image_url: width: 2000 %> 2000w,<% } %>
              <% if(block?.settings?.image.width >= 3000){ %><%= block?.settings?.image | image_url: width: 3000 %> 3000w,<% } %>
              <% if(block?.settings?.image.width >= 3840){ %><%= block?.settings?.image | image_url: width: 3840 %> 3840w,<% } %>
              <%= block?.settings?.image | image_url %> <%= block?.settings?.image.width %>w"
              sizes="100vw"
              src="<%= block?.settings?.image | image_url: width: 1500 %>"
              loading="lazy"
              alt="<%= block?.settings?.image.alt %>"
              width="<%= block?.settings?.image.width %>"
              height="<%= block?.settings?.image.width / block?.settings?.image.aspect_ratio | round %>"
            >
          <% } else { %>
            <%=lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' %>
          <% } %>
        </div>
        <div class="slideshow__text-wrapper banner__content banner__content--<%= block?.settings?.box_align %> page-width<% if(block?.settings?.show_text_box === false){ %> banner--desktop-transparent<% } %>">
          <div class="slideshow__text banner__box content-container content-container--full-width-mobile py-<%= block?.settings?.color_scheme %> gradient slideshow__text--<%= block?.settings?.text_alignment %> slideshow__text-mobile--<%= block?.settings?.text_alignment_mobile %>">
            <% if(block?.settings?.heading){ %>
              <h2 class="banner__heading <%= block?.settings?.heading_size %>"><%= block?.settings?.heading %></h2>
            <% } %>
            <% if(block?.settings?.subheading){ %>
              <div class="banner__text" <%= block.shopify_attributes %>>
                <span><%= block?.settings?.subheading %></span>
              </div>
            <% } %>
            <% if(block?.settings?.button_label){ %>
              <div class="banner__buttons">
                <a<% if(block?.settings?.link){ %> href="<%= block?.settings?.link %>"<% } else { %> role="link" aria-disabled="true"<% } %> class="button <% if(block?.settings?.button_style_secondary){ %>button--secondary<% } else { %>button--primary<% } %>"><%= block?.settings?.button_label %></a>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

  <% if(section.blocks.length > 1 && section.settings.auto_rotate === false){ %>
    <div class="slideshow__controls slider-buttons no-js-hidden<% if(section.settings.show_text_below){ %> slideshow__controls--border-radius-mobile<% } %>">
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="<%=sections.slideshow.previous_slideshow%>" aria-controls="Slider-<%= section.id %>"><%- include('../snippets/icon-caret'){ %></button>
      <div class="slider-counter slider-counter--<%= section.settings.slider_visual %><% if(section.settings.slider_visual === 'counter' || section.settings.slider_visual === 'numbers'){ %> caption<% } %>">
        <% if(section.settings.slider_visual === 'counter'){ %>
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden"><%=general.slider.of%></span>
          <span class="slider-counter--total"><%= section.blocks.length %></span>
        <% else%>
          <div class="slideshow__control-wrapper">
            <% section.blocks?.forEach((block,index)=>{ %>
              <button class="slider-counter__link slider-counter__link--<%= section.settings.slider_visual %> link" aria-label="<%=sections.slideshow.load_slide%> <%= forloop.index %> <%=general.slider.of%> <%= forloop.length %>" aria-controls="Slider-<%= section.id %>">
                <% if(section.settings.slider_visual === 'numbers'){ %><%= forloop.index %><% } else { %><span class="dot"></span><% } %>
              </button>
            <% }) %>
          </div>
        <% } %>
      </div>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="<%=sections.slideshow.next_slideshow%>" aria-controls="Slider-<%= section.id %>"><%- include('../snippets/icon-caret'){ %></button>

      <% if(section.settings.auto_rotate){ %>
        <button type="button" class="slideshow__autoplay slider-button no-js-hidden<% if(section.settings.auto_rotate === false){ %> slideshow__autoplay--paused<% } %>" aria-label="<%=sections.slideshow.pause_slideshow%>">
          <%- include('../snippets/icon-pause'){ %>
          <%- include('../snippets/icon-play'){ %>
        </button>
      <% } %>
    </div>
    <noscript>
      <div class="slider-buttons">
        <div class="slider-counter">
          <% section.blocks?.forEach((block,index)=>{ %>
            <a href="#Slide-<%= section.id %>-<%= forloop.index %>" class="slider-counter__link link" aria-label="<%=sections.slideshow.load_slide%> <%= forloop.index %> <%=general.slider.of%> <%= forloop.length %>">
              <%= forloop.index %>
            </a>
          <% }) %>
        </div>
      </div>
    </noscript>
  <% } %>
</slideshow-component>

<script src="<%=slideshow.js' <%=srcId%> %>" defer="defer"></script>  
 

<% schema){ %>
{
  "name": "Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "Full width"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "full_bleed",
      "label": "Full width"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt_image",
      "label": "Adapt to first image"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "counter",
          "label": "Counter"
        },
        {
          "value": "numbers",
          "label": "Numbers"
        }
      ],
      "default": "counter",
      "label": "Counter"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Auto rotate",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "Change speed",
      "default": 5
    },
    {
      "type": "header",
      "content": "Mobile content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "Show content below images on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Accessibility"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "Slideshow description",
      "info": "Describe the slideshow for customers using screen readers.",
      "default": "Slideshow about our brand"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slider",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Image slide",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Large"
            }
          ],
          "default": "h1",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Tell your brand's story through images",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "Use outline button style",
          "default": false
        },
        {
          "type": "select",
          "id": "box_align",
          "options": [
            {
              "value": "top-left",
              "label": "top-left"
            },
            {
              "value": "top-center",
              "label": "top-center"
            },
            {
              "value": "top-right",
              "label": "top-right"
            },
            {
              "value": "middle-left",
              "label": "middle-left"
            },
            {
              "value": "middle-center",
              "label": "middle-center"
            },
            {
              "value": "middle-right",
              "label": "middle-right"
            },
            {
              "value": "bottom-left",
              "label": "bottom-left"
            },
            {
              "value": "bottom-center",
              "label": "bottom-center"
            },
            {
              "value": "bottom-right",
              "label": "bottom-right"
            }
          ],
          "default": "middle-center",
          "label": "Desktop content position",
          "info": "Position is automatically optimized for mobile."
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "label": "Show Text box",
          "default": true
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Center"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "Image overlay opacity",
          "default": 0
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [            
            {
              "label": "None",
              "value": "bg-c-none"
            },        
            {
              "label": "Dark",
              "value": "bg-c-dark"
            },        
            {
              "label": "Middle dark",
              "value": "bg-c-middle-dark"
            },
            {
              "label": "Average",
              "value": "bg-c-average"
            },
            {
              "label": "Middle light",
              "value": "bg-c-middle-light"
            },
            {
              "label": "Light",
              "value": "bg-c-light"
            }
          ],
          "default": "bg-c-none",
          "label": "Background Color"
          
        },
        {
          "type": "header",
          "content": "Mobile text alignment"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
<% endschema){ %>