<% var product = product_card_product %>
<div class="card-wrapper py-<%=card_bg_color%>" style="border-radius:<%=card_radius%>px">
  <a href="<%= product_card_product?.url || '#' %>" class="full-unstyled-link">
    <span class="visually-hidden"><%= product_card_product?.title %></span>
  </a>  
  <div class="card card--product<% if(!product_card_product?.image){ %> card--text-only card--soft<% } %>" tabindex="-1">
    <div class="card__inner <% if(media_gallery){ %>card-img-gallery<% } %>">
      <% if(product_card_product?.image){ %>
      <%
            var featured_media_aspect_ratio = product_card_product?.image?.aspect_ratio

            if(product_card_product?.image?.aspect_ratio){
              featured_media_aspect_ratio = 1
            }
          %>
      
        <div><a href="<%= product_card_product?.url || '#' %>" class="full-unstyled-link img-wrapper-link">
          <div class="media media--transparent media--<%= media_size %> feature-img-wrapper"
               <% if(media_size === 'adapt' && product_card_product?.image){ %> style="padding-bottom: <%= 1 / featured_media_aspect_ratio * 100 %>%;"<% } %>
               >
            <img srcset="<% if(product_card_product?.image.width >= 165){ %><%= product_card_product?.image.src  %> 165w,<% } %>
                         <% if(product_card_product?.image.width >= 360){ %><%= product_card_product?.image.src  %> 360w,<% } %>
                         <% if(product_card_product?.image.width >= 533){ %><%= product_card_product?.image.src  %> 533w,<% } %>
                         <% if(product_card_product?.image.width >= 720){ %><%= product_card_product?.image.src  %> 720w,<% } %>
                         <% if(product_card_product?.image.width >= 940){ %><%= product_card_product?.image.src  %> 940w,<% } %>
                         <% if(product_card_product?.image.width >= 1066){ %><%= product_card_product?.image.src %> 1066w<% } %>"
                 src="<%= product_card_product?.image.src %>"
                 sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                 alt="<%= product_card_product?.image.alt %>"
                 loading="lazy"
                 class="motion-reduce main-feature-img"
                 width="<%= product_card_product?.image.width %>"
                 height="<%= product_card_product?.image.height %>"
                 >
          </div></a>
          <% if(media_gallery){ %>
          <slider-component class="slider-mobile-gutter">
            <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-1">
              skip_to_product_info
            </a>
            <ul class="product__media-list list-unstyled slider slider--desktop" role="list">
              <% if(product?.selected_or_first_available_variant?.featured_media){ %>
                <% var media = product?.selected_or_first_available_variant?.featured_media %>
                <li class="product__media-item slider__slide<% if(media?.media_type !== 'image'){ %> product__media-item--full<% } %>" data-media-id="1-<%= media?.id %>">
                  <a href="<%= product_card_product?.url || '#' %>" class="full-unstyled-link">
                    <div class="product__media media media--<%= media_size %>" 
                         <% if(media_size === 'adapt'){ %> style="padding-bottom: <%= 1 / media?.preview_image.aspect_ratio * 100 %>%;"<% } %>>
                    <img
                      srcset="<% if(media?.preview_image.width >= 288){ %><%= media?.preview_image.src %> 288w,<% } %>
                              <% if(media?.preview_image.width >= 576){ %><%= media?.preview_image.src %> 576w,<% } %>
                              <% if(media?.preview_image.width >= 550){ %><%= media?.preview_image.src %> 550w,<% } %>
                              <% if(media?.preview_image.width >= 1100){ %><%= media?.preview_image.src %> 1100w<% } %>"
                      src="<%= media?.src %>"
                      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                      width="288"
                      height="<%= 288 / media?.preview_image.aspect_ratio %>"
                      alt="<%= media?.preview_image.alt %>"
                    >
                  </div></a>
                </li>
              <% } %>
              <% product?.images.forEach((media,index)=>{ %>
                <% if(media?.id !== product?.selected_or_first_available_variant?.featured_media?.id){ %>
                  <li class="product__media-item slider__slide<% if(media?.media_type !== 'image'){ %> product__media-item--full<% } %>" data-media-id="<%= media?.id %>">
                    <a href="<%= product_card_product?.url || '#' %>" class="full-unstyled-link">
                    <div class="product__media media media--<%= media_size %>" 
                         <% if(media_size === 'adapt'){ %> style="padding-top: <%= 1 / media?.aspect_ratio * 100 %>%;"<% } %>>
                    <img
                      srcset="<% if(media?.width >= 288){ %><%= media?.src %> 288w,<% } %>
                              <% if(media?.width >= 576){ %><%= media?.src %> 576w,<% } %>
                              <% if(media?.width >= 550){ %><%= media?.src %> 550w,<% } %>
                              <% if(media?.width >= 1100){ %><%= media?.src %> 1100w<% } %>"
                      src="<%= media?.src %>"
                      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                      width="288"
                      height="<%= 288 / media?.aspect_ratio %>"
                      alt="<%= media?.alt %>"
                    >
                      </div>
                    </a>
                  </li>
                <% } %>
              <% }) %>
            </ul>
            <div class="slider-buttons slider-buttons--overlay slider-buttons-desktop no-js-hidden<% if(product?.media?.length < 2){ %> hidden<% } %>">
              <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="previous_slide"><%- include('./icon-caret') %></button>
              <div class="slider-counter caption hidden">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">of</span>
                <span class="slider-counter--total"><%= product?.media?.length %></span>
              </div>
              <button type="button" class="slider-button slider-button--next" name="next" aria-label="next_slide"><%- include('./icon-caret') %></button>
            </div>
          </slider-component>
          <% } %>
        </div>
      
      <% } else { %>
      <div class="card__content"><h2 class="card__text h2"><%= product_card_product?.title %></h2></div>
      <% } %>

      <div class="card__badge">
        <% if(product_card_product?.available === false){ %>
        <span class="badge badge--bottom-left color-<%= settings.sold_out_badge_color_scheme %>" aria-hidden="true">
          sold out
        </span>
        <% } else if(product_card_product?.compare_at_price > product_card_product?.price && product_card_product?.available){ %>
        <span class="badge badge--bottom-left color-<%= settings.sale_badge_color_scheme %>" aria-hidden="true">
          on sale
        </span>
        <% } %>
      </div>
      <%- include('./component-badge', {meta: product_card_product?.metafields?.selling, vertical: true}) %>
      <% if(product_card_product?.variants.length > 0){ %>
      <% if(product_card_product?.metafields?.status?.date && product_card_product?.metafields?.status?.comming_soon){ %>
      <%- include('./comming-soon', {date: product_card_product?.metafields?.status?.date}) %>                 
      <% } %>
      <% } %>
      
    </div>
  </div>  
  <div class="card-information
              <% var color_ab = false %>
              <% if(product_card_product?.variants?.length !== 1){ %> 
              <% product_card_product?.options?.forEach((option,index)=>{ %>
              <% var option_name = option?.name?.toLowerCase() %>                 
              <% if(option_name === 'color' || option_name === "colour"){ %>
              <% var color_ab = true %>
              variant-color-product
              <% return %>
              <% } %>                    
              <% }) %>

              <% } %>" >
    
    
    <% if(show_variants_on_hover){ %>    
    <div class="card-variant-wrapper py-<%=card_bg_color%> py-<%=info_align%>">
    <% if(product_card_product?.variants?.length !== 1){ %>    
    <% product_card_product?.options?.forEach((option,index)=>{ %>
    <% var option_name = option?.name?.toLowerCase() %> 
    <% var option_index = index %> 
    <% if(option_name !== 'color' || option_name !== 'colour'){ %>
      <ul class="variant-options" option_index="<%=option_index%>">
        <% option.values.forEach((value,index)=>{ %>
        <li class="variant-option <% if(index === 0){ %>selected<% } %>" data-index="<%= index %>" data-option="<%= value %>">
          <%= value.toUpperCase() %>
        </li>
        <% }) %>
      </ul>
    <% } %>                    
    <% }) %>
    <% } %> 
    </div>     
    <% } %>
    
    <div class="card-information__wrapper py-<%=info_align%>">      
      <% if(show_vendor){ %>
      <span class="visually-hidden">vendor</span>
      <div class="caption-with-letter-spacing light"><%= product_card_product?.vendor %></div>
      <% } %>
      
      <% if(product_card_product?.image){ %>
      <span class="card-information__text h5" >
        <%= product_card_product?.title %>
      </span>
      <% } %>

      <div class="card-price-wrapper">
        <%- include('./price', {show_badges: false, use_variant: false, product: product_card_product, price_class: ''}) %>       
      </div>      
      
      <% if(show_colors){ %>
      <div class="card-color-wrapper">
        <%- include('./component-card-color', {options: product_card_product?.options,limit:5}) %>
      </div>
      <% } %>
      
      <% if(show_view_product || show_quick_add){ %>
      <div class="card-button-wrapper">
        <% if(show_quick_add){ %>
        <div class="card-quick-add-wrapper">
          <a class="card-quick-add <% if(product_card_product?.selected_or_first_available_variant?.available === false){ %>disabled<% } %>">            
            <% if(product_card_product?.selected_or_first_available_variant?.available){ %>
              Quick Add
              <% } else { %>
              Sold Out
              <% } %>
          </a>
        </div>
        <% } %>
        <% if(show_view_product){ %>
        <div class="card-view-wrapper">
          <a href="<%= product_card_product?.url || '#' %>" class="card-view-product">View Product</a>
        </div>
        <% } %>
      </div>
      <% } %>



      <%# for block in blocks %>
      <%# case block.type %>
      <%# when '@app' %>
      <%# render block %>
      <%# endcase %>
      <%# }) %>

      <select name="id" id="Variants-<%= product?.id %>" class="variant-select hidden">
        <% product?.variants?.forEach((variant,index)=>{ %>
        <option
                <% if(variant === product?.selected_or_first_available_variant){ %>selected="selected"<% } %>
                available="<%= variant?.available %>"
                value="<%= variant?.id %>"
                price="<%= variant?.price %>"
                discount = "<%=settings.discount / 100.0%>"
                inventory = "<%# inventory_quantity %>"
                variant-title="<%= variant?.title %>"
                variant-img = "<%= variant?.image?.src %>"
                <% variant?.options?.forEach((option,index)=>{  %>
                 option-<%=index%> = "<%=option%>"                
                <% }) %>
                >
          <%= variant?.title %>
          <% if(variant?.available === false){ %> - sold out<% } %>
                        - <%= variant?.price %>
        </option>
        <% }) %>
      </select>
      <product-form class="product-form hidden">
        <form product="product_card_product" id="product_form_id" class="form" novalidate="novalidate" data-type="add-to-cart-form">
        <input type="hidden" name="id" value="<%= product_card_product?.selected_or_first_available_variant?.id %>">
        <% if(product_card_product?.metafields?.gift.product_id){ %>
        <input type="hidden" name="gift_id" value="<%= product_card_product?.metafields?.gift.product_id %>">
        <% } %>
        <div class="product-form__buttons">
          <button
                  type="submit"
                  name="add"
                  class="product-form__submit button button--full-width button--primary"
                  <% if(product_card_product?.selected_or_first_available_variant?.available === false){ %>disabled<% } %>
                  >
            <span>
              <% if(product_card_product?.selected_or_first_available_variant?.available){ %>
              Add To Cart -
              <% } else { %>
              Sold Out -
              <% } %>
            </span>
            <div class="no-js-hidden bc-product-price-wrapper" id="price-1">
              <%- include('./price', {product: product_card_product, use_variant: true, show_badges: false, price_class: 'price--large'}) %>
            </div>
          </button>
        </div>
        
        <div class="quick-view-badge hidden">
          <a href="#open-quick-view-modal" data-id="<%=product_card_product?.id%>" variant_id = "<%=product_card_product?.first_available_variant?.id%>">Quick View</a>
          <div class="hidden product_object"><%= product_card_product %></div>
          <div class="hidden product_option_object"><%= product_card_product?.options_with_values %></div>
          <div class="hidden product_variant_object"><%= product_card_product?.variants %></div>
          <div class="hidden product_variants-meta">[
            <% product_card_product?.variants?.forEach((variant,index)=>{ %>
            {
            "<%=variant?.id%>" : 
            <% if(variant?.metafields?.order.length > 0){ %>
            <% variant?.metafields?.order?.forEach((item,index)=>{ %>
            <% if(index===0){ %>
            {
            <% } %>
            "<%=item[0]%>" : "<%= item[1] %>"<% if(index !== variant?.metafields?.order?.length){ %>,<% } %>
            <% if(index === variant?.metafields?.order?.length){ %>
            }
            <% } %>
            <% }) %>
            <% } else { %>
            ""
            <% } %>
            }<% if(index !== variant?.metafields?.order?.length){ %>,<% } %>
            <% }) %>
            ]</div>
        </div>
        </form>
      </product-form>


    </div>
  </div>
  
</div>