{{ 'password.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter-style-1.css' | asset_url | stylesheet_tag }}

<div class="bc-password-page" id="bc-{{ section.id }}">
    {%- render 'style', sufix: '#bc', id: section.id, style: section.settings -%}
    {%- if section.settings.show_passw -%}
    <div class="bc-password-page__header">
        {%- if section.settings.header_title -%}
        <h2 class="bc-password-page__header-title">
            {{ section.settings.header_title }}
        </h2>
        {%- endif -%}
        <div class="bc-password-page__header-form">
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="Enter the password"
                >
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">Enter the password</label>
                {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.59009 16.58L13.1701 12L8.59009 7.41L10.0001 6L16.0001 12L10.0001 18L8.59009 16.58Z" fill="white"/>
                </svg>
              </button>
              
            {%- endform -%}
            {%- if section.settings.header_text -%}
                <div class="bc-password-page__header-text">
                    {{ section.settings.header_text }}
                </div>
            {%- endif -%}
        </div>
    </div>
    {%- endif -%}
    <div class="bc-password-page__container">
        <div class="bc-password-page__content">
            {%- if section.settings.image != blank -%}
            <div class="media {% if section.settings.m_image != blank %}small-hide{% endif %}" style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;">
                <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
                {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
                src="{{ section.settings.image | img_url: '533x' }}"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.height }}"
                >
            </div>
            {%- endif -%}
            {%- if section.settings.m_image != blank -%}
            <div class="media large-up-hide medium-hide" style="padding-bottom: {{ 1 | divided_by: section.settings.m_image.aspect_ratio | times: 100 }}%;">
                <img srcset="{%- if section.settings.m_image.width >= 165 -%}{{ section.settings.m_image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.m_image.width >= 360 -%}{{ section.settings.m_image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if section.settings.m_image.width >= 535 -%}{{ section.settings.m_image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if section.settings.m_image.width >= 720 -%}{{ section.settings.m_image | img_url: '720x' }} 720w,{%- endif -%}
                {%- if section.settings.m_image.width >= 940 -%}{{ section.settings.m_image | img_url: '940x' }} 940w,{%- endif -%}
                {%- if section.settings.m_image.width >= 1070 -%}{{ section.settings.m_image | img_url: '1070x' }} 1070w{%- endif -%}"
                src="{{ section.settings.m_image | img_url: '533x' }}"
                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
                alt="{{ section.settings.m_image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.m_image.width }}"
                height="{{ section.settings.m_image.height }}"
                >
            </div>
            {%- endif -%}

            {%- if section.blocks.size > 0 -%}
            <div class="bc-password-page__wrapper">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}

                        {%- when 'title' -%}
                            {%- if block.settings.title != blank -%}
                            <h2 class="bc-title bc-title-{{ block.id }}">
                                {{ block.settings.title }}
                            </h2>
                            {%- render 'style', sufix: '.bc-title', id: block.id, style: block.settings -%}
                            {%- endif -%}

                        {%- when 'countdown' -%}
                            {%- if block.settings.countdown != blank -%}
                            <div class="bc-password-page__count-down bc-password-page__count-down-{{ block.id }}">
                                {%- render 'style', sufix: '.bc-password-page__count-down', id: block.id, style: block.settings -%}
                                {% render 'component-countdown', countdown: block.settings.countdown %}
                            </div>
                            {%- endif -%}

                        {%- when 'email_form' -%}
                            <div class="bc-email-form bc-email-form-{{ block.id }}">
                            {%- render 'style', sufix: '.bc-email-form', id: block.id, style: block.settings -%}
                            {% form 'customer', class: 'newsletter-form' %}
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <div class="newsletter-form__field-wrapper">
                                <div class="field">
                                    <input
                                    id="NewsletterForm--{{ section.id }}"
                                    type="email"
                                    name="contact[email]"
                                    class="field__input"
                                    value="{{ form.email }}"
                                    aria-required="true"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="email"
                                    {% if form.errors %}
                                        autofocus
                                        aria-invalid="true"
                                        aria-describedby="Newsletter-error--{{ section.id }}"
                                    {% elsif form.posted_successfully? %}
                                        aria-describedby="Newsletter-success--{{ section.id }}"
                                    {% endif %}
                                    placeholder="{{ 'newsletter.label' | t }}"
                                    required
                                    >
                                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                                    {{ 'newsletter.label' | t }}
                                    </label>
                                </div>
                                {%- if form.errors -%}
                                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                                {%- endif -%}
                                </div>
                                <button type="submit" class="newsletter__button button" name="commit">
                                {{ 'newsletter.button_label' | t }}
                                </button>
                                {%- if form.posted_successfully? -%}
                                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                                {%- endif -%}
                            {% endform %}
                            </div>

                        {%- when 'html' -%}
                            {%- if block.settings.html != blank -%}
                            {{ block.settings.html }}
                            {%- endif -%}

                    {%- endcase -%}
                {%- endfor -%}
            </div>
            {%- endif -%}

        </div>
    </div>
</div>

{% schema %}
{
  "name": "password",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "m_image",
      "label": "Mobile Image"
    },
    {
      "type": "header",
      "content": "Override"
    },
    {
      "type": "checkbox",
      "id": "show_override",
      "label": "Show Override",
      "default": false
    },
    {
      "type": "select",
      "id": "ov_bg_color",
      "label": "Background Color",
      "options": [
        {
          "label": "Transparent",
          "value": "transparent"
        },
        {
          "label": "Dark",
          "value": "var(--py-bg-color-dark)"
        },
        {
          "label": "Middle Dark",
          "value": "var(--py-bg-color-middle-dark)"
        },
        {
          "label": "Average",
          "value": "var(--py-bg-color-avarge)"
        },
        {
          "label": "Middle Light",
          "value": "var(--py-bg-color-middle-light)"
        },
        {
          "label": "Light",
          "value": "var(--py-bg-color-light)"
        }
      ],
      "default": "var(--py-bg-color-dark)"
    },
    {
      "type": "image_picker",
      "id": "ov_bg_image",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "ov_opacity",
      "label": "Opacity"
    },
    {
      "type": "header",
      "content": "Password settings"
    },
    {
      "type": "checkbox",
      "id": "show_passw",
      "label": "Show Password",
      "default": true
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Heading",
      "default": "Have a password?"
    },
    {
      "type": "richtext",
      "id": "header_text",
      "label": "Content",
      "default": "<p>Text BLACK FRIDAY to +15162462656 to receive the password</p>"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "OUR BLACK FRIDAY SALE LAUNCHES AT 3PM EST"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "select",
          "id": "align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-light)"
        },
        {
          "type": "text",
          "id": "weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "select",
          "id": "m_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "select",
          "id": "m_color",
          "label": "Text Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-light)"
        },
        {
          "type": "text",
          "id": "m_weight",
          "label": "Font Weight"
        },
        {
          "type": "text",
          "id": "m_size",
          "label": "Font Size"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "m_width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "m_height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "m_c_css",
          "label": "Custom CSS"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Count Down",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "countdown",
          "label": "Count Down Date",
          "default": "2021-12-31T00:00:00",
          "info": "Format 2021-12-31T00:00:00"
        },
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-light)"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "select",
          "id": "m_color",
          "label": "Text Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-light)"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "Email Form",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "select",
          "id": "pv",
          "options": [
            {
              "value": "flex-start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Bottom"
            }
          ],
          "default": "center",
          "label": "Vertical Position"
        },
        {
          "type": "select",
          "id": "ph",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Horizontal Position"
        },
        {
          "type": "select",
          "id": "align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "text",
          "id": "padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "c_css",
          "label": "Custom CSS"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "select",
          "id": "m_pv",
          "options": [
            {
              "value": "flex-start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Bottom"
            }
          ],
          "default": "center",
          "label": "Vertical Position"
        },
        {
          "type": "select",
          "id": "m_ph",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Horizontal Position"
        },
        {
          "type": "select",
          "id": "m_align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Text Aligment"
        },
        {
          "type": "text",
          "id": "m_padding",
          "label": "Padding"
        },
        {
          "type": "text",
          "id": "m_margin",
          "label": "Margin"
        },
        {
          "type": "text",
          "id": "m_width",
          "label": "Width"
        },
        {
          "type": "text",
          "id": "m_height",
          "label": "Height"
        },
        {
          "type": "textarea",
          "id": "m_c_css",
          "label": "Custom CSS"
        }
      ]
    },
    {
      "type": "html",
      "name": "Custom HTML",
      "limit": 1,
      "settings": [
        {
          "type": "html",
          "id": "html",
          "label": "HTML code"
        }
      ]
    }
  ]
}
{% endschema %}