<ul class="social-sharing list-social list-unstyled">

  <% if(settings.share_facebook){ %>
    <li class="list-social__item">
      <a
        class="list-social__link link link--text"
        href="//www.facebook.com/sharer.php?u=<%= shop.url + share_permalink %>"
        target="_blank"
      >
        <%- include('./icon-facebook') %>
        <span class="visually-hidden visually-hidden--inline">facebook</span>
        <span class="visually-hidden visually-hidden--inline">new_window</span>
      </a>
    </li>
  <% } %>

  <% if(settings.share_twitter){ %>
    <li class="list-social__item">
      <a
        class="list-social__link link link--text"
        href="//twitter.com/share?text=<%= share_title %>&amp;url=<%= shop.url + share_permalink %>"
        target="_blank"
      >
        <%- include('./icon-twitter') %>
        <span class="visually-hidden visually-hidden--inline">twitter</span>
        <span class="visually-hidden visually-hidden--inline">new_window</span>
      </a>
    </li>
  <% } %>

  <% if(settings.share_pinterest){ %>
    <li class="list-social__item">
      <a
        class="list-social__link link link--text"
        href="//pinterest.com/pin/create/button/?url=<%= shop.url + share_permalink %>}&amp;media=<%= share_image %>&amp;description=<%= share_title %>"
        target="_blank"
      >
        <%- include('./icon-pinterest') %>
        <span class="visually-hidden visually-hidden--inline">pinterest</span>
        <span class="visually-hidden visually-hidden--inline">new_window</span>
      </a>
    </li>
  <% } %>

</ul>
