<% if(template !== 'index'){ %>
<div class="breadcrumb-nav">
  <div class="page-width">
    <ul>
      <li><a href="/">Home</a></li>
      <% if(template.includes('product')){ %>
      <% if(collection){ %>            
      <% if(collection?.handle){ %>
      <% var url = "/collections/" + collection.handle %>
      <li><%= collection.title %></li>
      <% } %>
      <% } %>

      <li><span><%= product.title %></span></li>

      <% } else if(template.includes('collection') && collection.handle){ %>
      <% if(current_tags){ %>
      <% var url = "/collections/" + collection.handle %>
      <li><%= collection.title %></li>
      <% } else { %>
      <li><%= collection.title %></li>
      <% } %>

      <% } else if(template === 'article'){ %>
      <li><a href="<%= blog.url %>"><%= blog.title %></a></li>
      <li><%= article.title %></li>
      <% } else if(template.includes('customers') && template !== "customers/account"){ %>
      <% var account = customer.account.title_main %>
      <li><%= account %></li>
      <li><%= page_title %></li>

      <% } else if(template.includes('page')){ %>
      <li><%= page.title %></li>

      <% } else { %>
      <li><%= page_title %></li>
      <% } %>
    </ul>
  </div>
</div>
<% } %>