<div class="card-wrapper">
  <a class="full-width-link"><span class="visually-hidden"><%=onboarding.product_title%></span></a>
  <div class="media media--transparent media--adapt media--hover-effect py-bg-c-light" style="padding-bottom: 66.7027027027027%;"> 
  <%# var n_index = index | modulo:6 + 1){ %>             
  <%# product-'.append(n_index  | placeholder_svg_tag: 'placeholder-svg' %>             
   </div>
  <div class="card-information">
    <h5 class="card-information__text h5 center"><%=onboarding.product_title%></h5>
    <div class="card-information__wrapper">
      <span class="visually-hidden"><%=accessibility.vendor%></span>
      <div class="caption-with-letter-spacing light"><%=products.product.vendor%></div>
      <%- include('./price', {
        use_variant: false,
        price_class: false,
        show_badges: false
      }) %>
    </div>
  </div>
</div>
