{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" >
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<style>
  .multicolumn-{{section.id}} .multicolumn-card__info  .col_title{
    color: {{section.settings.col_color}};
    font-size:{{section.settings.col_title_font_size}}px;
    font-weight:{{section.settings.col_title_font_weight}}
  }
  .multicolumn-{{section.id}} .multicolumn-card__info .rte{
    font-size:{{section.settings.col_text_font_size}}px;
    color: {{section.settings.col_color}};
  }
  @media(max-width:749px){
    .multicolumn-{{section.id}} .multicolumn-card__info  .col_title{
      font-size:{{section.settings.col_title_m_font_size}}px;                  
    }    
  }
  .multicolumn-{{section.id}} .col_style-overlay .multicolumn-card__info{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
  .multicolumn-{{section.id}} .col-overlay{
    position:absolute;
    width:100%;
    height:100%;    
    opacity:{{section.settings.overlay_opacity}};
    top:0;
    display:block;    
  }
  
  .multicolumn-{{section.id}} .multicolumn-card:hover img{
    
  }
  .multicolumn-{{section.id}} .multicolumn-list__item{
    padding:{{ section.settings.column_gap }}px;
  }
</style>
<div class="py-{{section.settings.section_bg}}" style="padding:1px 0px;">
<div class="multicolumn multicolumn-{{section.id}} {% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width  py-{{section.settings.section_width}}">
    <div class="title-wrapper--self-padded-mobile{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
      <h3 class="title py-mg-y-m py-{{ section.settings.title_alignment }}" style="font-size:{{ section.settings.title_font_size }}px">
        {{ section.settings.title | escape }}
      </h3>      
    </div>
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list grid grid--1-col grid--2-col-tablet grid--{{section.settings.column_number}}-col-desktop{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <li class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}">
            {%- if block.settings.btn_link != blank -%}<a href="{{block.settings.btn_link}}">{%endif%}
            <div class="multicolumn-card col_style-{{section.settings.col_style}} py-{{section.settings.col_bg_color}}">              
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  
                  <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' and  block.settings.image != blank %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                    {%- if block.settings.image == blank -%}style="padding-bottom:54%"{%- endif -%}>
                    {%- if block.settings.image != blank -%}
                    <img
                      srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                        {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}"
                      src="{{ block.settings.image | img_url: '550x' }}"
                      sizes="(min-width: 800px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)"
                      alt="{{ block.settings.title }}"
                      height="{{ block.settings.image.height }}"
                      width="{{ block.settings.image.width }}"
                      loading="lazy"
                    >
                    {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg py-bg-c-light' }}
                    {%- endif -%}
                  </div>
                  <div class="col-overlay py-{{section.settings.col_overlay_color}}"></div>                  
                </div>                            
              <div class="multicolumn-card__info">
                {%- if block.settings.title != blank -%}
                  <h3 class="col_title">{{ block.settings.title | escape }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.btn_label != blank -%}
                  <div class="{{ block.settings.view_btn_style }} py-mg-y-s py-fs-s rte">
                    {{ block.settings.btn_label }}                    
                  </div>
                {%- endif -%}
              </div>
            </div>{%- if block.settings.btn_link != blank -%}</a>{%endif%}
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.settings.swipe_on_mobile -%}
        <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a class="button button--primary py-c-{{section.settings.col_color_view_btn}} py-hv-c-{{section.settings.col_color_view_btn_hover}} py-bg-c-{{section.settings.col_color_bg_color_view_btn}} py-hv-bg-c-{{section.settings.col_color_bg_color_view_btn_hover}} py-btn-{{section.settings.view_btn_size}}"{% if section.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif-%}
    </div>
  </div>
</div>
</div>


{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 14,
      "max": 60,
      "step": 1,
      "default": 38,
      "label": "Section Title Font Size"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left",
      "label": "Section title align"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Container (Width)",
      "options": [
        {
          "label": "Unset",
          "value": "width-un"
        },
        {
          "label": "Large",
          "value": "width-l"
        },
        {
          "label": "Medium",
          "value": "width-m"
        },
        {
          "label": "Small",
          "value": "width-s"
        }
      ],
      "default": "width-l"
    },
    {
      "type": "select",
      "id": "section_bg",
      "options": [
        {
          "label": "Transparent",
          "value": "bg-c-none"
        },        
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle Light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
        
      ],
      "default": "bg-c-light",
      "label": "Section Background"
    },
    {
      "type": "select",
      "id": "col_style",
      "options": [
        {
          "label": "Normal",
          "value": "normal"
        },        
        {
          "label": "Overlay",
          "value": "overlay"
        }
      ],
      "default": "overlay",
      "label": "Column Style"
    },
    {
      "type": "select",
      "id": "col_overlay_color",
      "options": [
        {
          "label": "Transparent",
          "value": "bg-c-none"
        },        
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle Light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
        
      ],
      "default": "bg-c-dark",
      "label": "Column Overlay Color"
    },
    {
      "type": "text",
      "id": "overlay_opacity",      
      "default": "0.3",
      "label": "Column overlay opacity"
    },
    {
      "type": "range",
      "id": "column_number",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Column Number Per Row"
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 20,
      "label": "Column Gap"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "square",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "col_bg_color",
      "label": "Column Background",
      "options": [          
        {
          "label": "Transparent",
          "value": "bg-c-none"
        },        
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle Light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
      ],
     "default": "bg-c-none"
    },
    {
        "type": "select",
        "id": "col_color",
        "label": "Column Info Color",
        "options": [          
          {
            "label": "Transparent",
            "value": "transparent"
          },        
          {
            "label": "Dark",
            "value": "var(--py-color-dark)"
          },
          {
            "label": "Middle Dark",
            "value": "var(--py-color-middle-dark)"
          },
          {
            "label": "Average",
            "value": "var(--py-color-avarge)"
          },
          {
            "label": "Middle Light",
            "value": "var(--py-color-middle-light)"
          },
          {
            "label": "Light",
            "value": "var(--py-color-light)"
          }
        ],
        "default": "var(--py-color-dark)"
    },
    {
      "type": "range",
      "id": "col_title_font_size",
      "min": 14,
      "max": 60,
      "step": 1,
      "default": 38,
      "label": "Column Title Font Size"
    },
    {
      "type": "range",
      "id": "col_title_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 500,
      "label": "Column Title Font Weight"
    },
    {
      "type": "range",
      "id": "col_title_m_font_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "default": 22,
      "label": "Column Title Mobile Font Size"
    },
    {
      "type": "range",
      "id": "col_text_font_size",
      "min": 11,
      "max": 40,
      "step": 1,
      "default":17,
      "label": "Column Description Font Size"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "view_btn_size",
      "label": "View Button Size",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "col_color_view_btn",
      "label": "View Button Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "light"
    },
    {
      "type": "select",
      "id": "col_color_bg_color_view_btn",
      "label": "View Button Background Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "dark"
    },
    {
      "type": "select",
      "id": "col_color_view_btn_hover",
      "label": "View Button Hover Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "dark"
    },
    {
      "type": "select",
      "id": "col_color_bg_color_view_btn_hover",
      "label": "View Button Hover Background Color",
      "options": [
        {
           "label": "Dark",
           "value": "dark"
        },
        {
          "label": "Middle Dark",
          "value": "middle-dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Middle Light",
          "value": "middle-light"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "light"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "btn_label",
          "default": "Learn More",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",          
          "label": "Button link"
        },
        {
        "type": "select",
        "id": "view_btn_style",
        "label": "View Button Style",
        "options": [
            {
            "label": "Text link",
            "value": "text_link"
            },
            {
            "label": "Button",
            "value": "button"
            }
        ],
        "default": "text_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
