<link rel="stylesheet" href="/<%=srcId%>/component-cart-notification-style-2.css">

<% if(settings.prod_insurance){ %>
  <% var insuranceID = all_products[settings.prod_insurance].first_available_variant.id %>
<% } %>

<% if(settings.f_s_show && settings.f_s_price){ %>
<% var freeShipping = true %>
<% } else { %>
<% var freeShipping = false %>
<% } %>

<cart-notification>
  <div class="cart-notification-wrapper <% if(freeShipping){ %>cart-notification-wrapper__shipping<% } %> <%=cart_layout%>">
    <div id="cart-notification" class="cart-notification py-<%= settings.py_cart_bg_color %>  <%= active ? active : '' %>" aria-modal="true" aria-label="item_added" role="dialog" tabindex="-1">
      <div class="cart-notification__header">
        <% if(settings.cart_heading){ %>
          <h2 class="cart-notification__heading caption-large"><%= settings.cart_heading %></h2>
        <% } %>
        <button type="button" class="modal__close-button" aria-label="close">
          <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-close">
          </svg>
        </button>
        <% if(freeShipping){ %>
          <div class="bc-free-shipping-wrapper" data-price="<%= settings.f_s_price %>" data-currency="<%= settings.f_s_currency %>">
            <% if(settings.f_s_text){ %>
              <div class="bc-free-shipping-wrapper__text active">
                <%- settings.f_s_text -%>
              </div>
            <% } %>
            <% if(settings.f_s_succsess){ %>
              <div class="bc-free-shipping-wrapper__success-text">
                <%= settings.f_s_succsess %>
              </div>
            <% } %>
            <div class="bc-free-shipping-bar">
              <div class="bc-free-shipping-bar__progress" <% if(settings.f_s_bg_color){ %>style="background-color:<%= settings.f_s_bg_color %>"<% } %>></div>
            </div>
          </div>
        <% } %>
        <% if(cart_layout === "one-c"){ %>
        <div class="bc-cart__buttons-wrapper">
          <form action="<%= routes.cart_url %>" method="post" id="cart">
            <button id="loopcheckout" class="button button--primary button--full-width  py-btn-<%=settings.cart_btn_color%> py-btn-hover-<%=settings.cart_btn_hover_color%> py-btn-<%=settings.cart_btn_size%>" name="checkout" form="cart">Checkout</button>
          </form>
          <% if(enable_dynamic_pay){ %>
          <button id="loopcheckoutdynamic" class="button button--primary button--full-width  py-btn-<%=settings.cart_btn_color%> py-btn-hover-<%=settings.cart_btn_hover_color%> py-btn-<%=settings.cart_btn_size%>" ><img src="https://cdn.shopify.com/s/files/1/0584/1993/7441/files/image_11.png?v=1641840659"></button>
          <% } %>
        </div>
        <% } %>        
      </div>
      <div class="c-item-wrapper">
      <div class="cart-notification-product-label">
        Your Items
      </div>
      <div id="cart-notification-product" class="cart-notification-product">
        <% if(cart?.items.length){ %>
          <div id="cart-notification-product" class="cart-notification-product">
            <% cart?.items.forEach((item, index) => { %>
              <div class="bc-cart__item" data-id="<%= item.id %>">
                <div class="bc-cart__image-wrapper">
                  <a href="<%= item.url %>">
                    <img class="bc-cart__image-img" src="<%= item.featured_image.url %>" alt="<%= item.featured_image.alt %>" width="55" height="70">
                  </a>
                </div>
                <div class="bc-cart__info-wrapper">
                  <a href="<%= item.url %>">
                    <h3 class="bc-cart__title"><%= item.title %></h3>
                  </a>
                  <div class="bc-cart__price-and-properties">
                    <div class="bc-cart__price-wrapper">
                      <span class="bc-cart__price"><%= item.price %></span>
                    </div>
                    <div class="bc-cart__properties-wrapper"></div>
                  </div>
                  <div class="bc-cart__qty-wrapper">
                    <span class="bc-cart__qty-minus" data-key="<%= item.key %>e" data-qty="1" data-child="undefined">-</span>
                    <span><%= item.quantity %></span>
                    <span class="bc-cart__qty-plus" data-key="<%= item.key %>" data-qty="1" data-child="undefined">+</span>
                  </div>
                  <span class="bc-cart__remove" data-key="<%= item.key %>" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                      <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                      <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                    </svg>
                  </span>
                </div>
              </div>
            <% }) %>  
          </div>
        <% } %>
      </div>
      </div>
      <div class="cart-notification__links">
        <% if(cart_layout === "two-c"){ %>
        <div class="bc-cart__buttons-wrapper" style="margin-top:25px;">
          <form action="<%= routes.cart_url %>" method="post" id="cart">
            <button id="loopcheckout" class="button button--primary button--full-width  py-btn-<%=settings.cart_btn_color%> py-btn-hover-<%=settings.cart_btn_hover_color%> py-btn-<%=settings.cart_btn_size%>" name="checkout" form="cart">Checkout</button>
          </form>
          <% if(enable_dynamic_pay){ %>
          <button id="loopcheckoutdynamic" class="button button--primary button--full-width  py-btn-<%=settings.cart_btn_color%> py-btn-hover-<%=settings.cart_btn_hover_color%> py-btn-<%=settings.cart_btn_size%>" ><img src="https://cdn.shopify.com/s/files/1/0584/1993/7441/files/image_11.png?v=1641840659"></button>
          <% } %>
        </div>
        <% } %>
        <div class="bc-cart_info-wrapper">
        <% if(settings.show_packaging && settings.packaging && settings.packaging_note){ %>
          <label for="less-packaging" class="bc-checkbox">
            <input type="checkbox" data-type="packaging" id="less-packaging" value="<%= settings.packaging_note %>" <% if(cart.attributes.lessPackaging === 'true'){ %>checked<% } %>>
            <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
            </svg>
            <svg class="icon icon-checkmark" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none" width="10px" height="10px">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
            </svg>
            <%= settings.packaging %>
          </label>
        <% } %>
        <% if(settings.show_insurance && settings.insurance && settings.prod_insurance){ %>
          <label for="shipping-insurance" class="bc-checkbox">
            <input type="checkbox" id="shipping-insurance" data-type="insurance" value="<%= insuranceID %>" data-auto="<% if(settings.insurance_auto){ %>true<% } else { %>false<% } %>"/>
            <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
            </svg>
            <svg class="icon icon-checkmark" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none" width="10px" height="10px">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
            </svg>
            <%=settings.insurance%>
          </label>
        <% } %>
        <div class="bc-cart__subtotal-wrapper" id="cart-subtotal">          
            <div class="bc-cart__subtotal-label">Subtotal</div>
            <div class="bc-cart__subtotal-value">
              <%= cart.items_subtotal_price %>
            </div>          
        </div>
        <div class="bc-cart__shipping-wrapper" id="cart-shipping"> 
          <div class="bc-cart__shipping-label">Estimated Shipping</div>
          <div class="bc-cart__shipping-value">
            <% if(shipping_method?.price){ %>
            <%= shipping_method?.price %>
            <% } else { %>
             Free
            <% } %>
          </div>          
        </div>
        <div class="bc-cart__total-wrapper">
          <div class="bc-cart__total-label">Estimated Total</div>
          <div class="bc-cart__total-value" id="cart-total">
            <% if(cart.cart_level_discount_application?.length > 0){ %>
              <ul>
                <% cart.cart_level_discount_applications?.forEach((discount_application,index)=>{ %>
                  <li>
                    <%= discount_application.title %> (-<%= discount_application.total_allocated_amount %>)
                  </li>
                <% }) %>
              </ul>
            <% } %>
            <span><%= cart.total_price %></span>
          </div>
        </div>
        <button type="button" class="link button-label">Continue Shopping</button>        
        </div>
        </div>
    </div>
    <div class="cart-notification-overaly"></div>
  </div>
</cart-notification>
<style>
  .cart-notification {
     display: none;
  }
</style>