<div class="footer-block--newsletter footer-block grid__item">
    <% if(section.settings.newsletter_enable){ %>
  <style>
    .footer-block__newsletter .field__input{
    background-color:<%=section.settings.field_bg_color%>;
    border:<%=section.settings.field_border_width%>px solid <%=section.settings.field_border_color%>;
    border-radius:<%=section.settings.field_border_radius%>px;
    color:<%=section.settings.field_color%>;
    font-size:<%=section.settings.field_font_size%>px;
  }
  .footer-block__newsletter .field__input:focus{
    color:<%=section.settings.field_focus_color%>;
    border-color:<%=section.settings.field_focus_color%>;
  }
  </style>
    <div class="footer-block__newsletter">
        <% if(section.settings.newsletter_heading){ %>
        <h2 class="footer-block__heading"><%= section.settings.newsletter_heading %></h2>
        <% } %>
        <% form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form'){ %>
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter-form__field-wrapper">
        <div class="field">
            <label class="field__label" for="NewsletterForm--<%= section.id %>">
            <%=newsletter.label%>
            </label>
            <input
                    id="NewsletterForm--<%= section.id %>"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="<%= form.email %>"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    <% if(form.errors){ %>
                    autofocus
                    aria-invalid="true"
                    aria-describedby="ContactFooter-error"
                    <% } else if(form.posted_successfully?){ %>
                    aria-describedby="ContactFooter-success"
                    <% } %>
                    placeholder="<%=newsletter.label%>"
                    required
                    >
        </div>
        <% if(form.errors){ %>
        <small class="newsletter-form__message form__message" id="ContactFooter-error"><%- include('./icon-error'){ %><%= form.errors.translated_fields['email'] %> <%= form.errors.messages['email'] %></small>
        <% } %>
        </div>
        <button type="submit" class="button button--secondary newsletter-form__button py-c-<%=section.settings.py_section_color_submit_btn%> py-hv-c-<%=section.settings.py_section_color_submit_btn_hover%> py-bg-c-<%=section.settings.py_section_bg_color_submit_btn%> py-hv-bg-c-<%=section.settings.py_section_bg_color_submit_btn_hover%> py-btn-<%=section.settings.submit_btn_size%>" name="commit" id="Subscribe">
        <%=newsletter.button_label%>
        </button>
        <% if(form.posted_successfully?){ %>
        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus><%- include('./icon-success'){ %><%=newsletter.success%></h3>
        <% } %>
        </form>
    </div>
    <% } %>

    <% if(section.settings.show_social){ %>
    <ul class="footer__list-social list-unstyled list-social" role="list">
        <% if(settings.social_twitter_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_twitter_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-twitter'){ %>
            <span class="visually-hidden"><%=general.social.links.twitter%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_facebook_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_facebook_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-facebook'){ %>
            <span class="visually-hidden"><%=general.social.links.facebook%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_pinterest_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_pinterest_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-pinterest'){ %>
            <span class="visually-hidden"><%=general.social.links.pinterest%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_instagram_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_instagram_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-instagram'){ %>
            <span class="visually-hidden"><%=general.social.links.instagram%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_tiktok_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_tiktok_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-tiktok'){ %>
            <span class="visually-hidden"><%=general.social.links.tiktok%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_tumblr_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_tumblr_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-tumblr'){ %>
            <span class="visually-hidden"><%=general.social.links.tumblr%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_snapchat_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_snapchat_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-snapchat'){ %>
            <span class="visually-hidden"><%=general.social.links.snapchat%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_youtube_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_youtube_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-youtube'){ %>
            <span class="visually-hidden"><%=general.social.links.youtube%></span>
        </a>
        </li>
        <% } %>
        <% if(settings.social_vimeo_link){ %>
        <li class="list-social__item">
        <a href="<%= settings.social_vimeo_link %>" class="link list-social__link" aria-describedby="a11y-external-message">
            <%- include('./icon-vimeo'){ %>
            <span class="visually-hidden"><%=general.social.links.vimeo%></span>
        </a>
        </li>
        <% } %>
        <li class="list-social__item--placeholder"><%=sectionst.footer.social_placeholder%></li>
    </ul>
    <% } %>
</div>