<% if(product.metafields.tiktok.length > 0){ %>
<%=tiktokfeed.css' <%=srcId%> | stylesheet_tag %>

<script type="application/json" id="tiktokjson">
    {
    <% for tiktok in product.metafields.tiktok){ %>
        "<%= tiktok[0] %>": "<%= tiktok[1] %>"<% if(!forloop.last){ %>,<% } %>
    <% }) %>
    }
</script>

<tiktok-feed>
    <h2 class="bc-tiktok__heading">SEEN ON TIK TOK</h2>
    <div id="bctiktokitems" class="bc-tiktok__items bc-scroll-hide"></div>
</tiktok-feed>

<script src="<%=tiktokfeed.js' <%=srcId%> %>" defer="defer"></script>
<% } %>