<link rel="stylesheet" href="/<%=srcId%>/section-collection-list.css">
<link rel="stylesheet" href="/<%=srcId%>/component-slider.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/<%=srcId%>/component-product-card-style-1.css">

<style>
  .collection-list-wrapper  .collection-list-title{
    color: <%=section.settings.title_color%>;
    font-size:<%=section.settings.title_font_size%>px;
    font-weight:<%=section.settings.title_font_weight%>
  }
  .collection-list-wrapper slider-component{
    grid-gap :<%=section.settings.item_space%>px;
    margin-right:-<%=section.settings.item_space%>px;
  }
  .collection-list-wrapper .card__info-container{
    padding:10px 0px;
    display: flex;
    justify-content: space-between;
  }  
  .collection-list-wrapper .card__info-container .card__info{
    padding-right:20px;
  }
  .collection-list-wrapper .card--stretch{
    border-radius:<%=section.settings.card_radius%>px;
    overflow:hidden;
  }
 
  .collection-list-wrapper .grid__item{
    padding-left:0;
    padding-right:<%=section.settings.item_space%>px;
    padding-top:<%=section.settings.item_space%>px;
  }  
  .collection-list-wrapper .card__info-container h3{
    font-size:<%=section.settings.card_title_font_size%>px;
    font-weight:<%=section.settings.card_title_font_weight%>;
    color:<%=section.settings.info_color%>;
    margin-top:0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  @media(max-width:749px){
    .card__info-container h3{
      font-size:<%=section.settings.card_title_m_font_size%>px;                  
    }
    .collection-list-wrapper .card__info-container{
      flex-direction: column;
    }
    .collection-list-wrapper .card__info-container .card__info{
      padding-right:0px;
      padding-bottom:0px;
    }
  }
  .collection-list-wrapper .card__caption{
    font-size:<%=section.settings.card_text_font_size%>px;
    color:<%=section.settings.info_color%>;
  }
  /* width */
  .collection-list-wrapper .slider::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    display:initial;
    background:<%=section.settings.scroll_bar_bg_color%>;
    border-radius: 10px;    
  }

  /* Track */
  .collection-list-wrapper .slider::-webkit-scrollbar-track {    
    border-radius: 10px;
  }

  /* Handle */
  .collection-list-wrapper .slider::-webkit-scrollbar-thumb {
    background: <%=section.settings.scroll_bar_color%>;
    border-radius: 10px;
  } 
  .collection-list-wrapper .slider{
    padding-bottom:20px;
  }
  .collection-list-wrapper .slider-button{    
    border-radius: 50%;   
    color:<%=section.settings.info_color%>;
  }
  
  .collection-list-wrapper .slider-buttons{
    bottom: auto;
    top: 45%;
    left:-15px;
    width: calc(100% + <%=section.settings.item_space%>px);
  }
  
</style>

<% var limit = 3; %>

<div class="collection-list-wrapper py-<%=section.settings.bg_color%> py-<%=section.settings.page_y_pd%> py-<%=section.settings.page_x_pd%> bc-<%=settings.section_style%>-bt">
  <div class="page-width py-<%=section.settings.page_width%> py-<%=section.settings.page_y_mg%> py-<%=section.settings.page_y_mg%>">
    <div class="title-wrapper-with-link<% if(section.settings.swipe_on_mobile === true){ %> title-wrapper--self-padded-tablet-down<% } else { %> title-wrapper--self-padded-mobile<% } %><% if(!section.settings.title){ %> title-wrapper-with-link--no-heading<% } %>">
      <h2 class="collection-list-title"><%= section.settings.title %></h2>

      <% if(section.settings.show_view_all && section.settings.swipe_on_mobile){ %>
        <a href="<%= routes?.collections_url %>" class="link underlined-link large-up-hide">view_all</a>
      <% } %>
    </div>

    <slider-component class="slider-mobile-gutter">
      <ul class="collection-list grid grid--1-col<% if(limit < 3){ %> grid--2-col-desktop<% } else { %> grid--3-col-desktop<% } %> grid--2-col-tablet  slider slider--desktop negative-margi negative-margin--small"
        id="Slider-<%= section.id %>"
        role="list"
      >
        <% collections?.forEach((collection,index)=>{ %>
          <% if(index >= limit) return; %>
         <% if(collection?.title){ %>
          <li class="collection-list__item grid__item slider__slide">
            <a <% if(collection && collection?.all_products_count > 0){ %> href="<%= collection?.url %>"<% } %>
              class="card animate-arrow link<% if(collection?.image){ %> card--media<% } else { %><% if(section.settings.image_ratio !== 'adapt'){ %> card--stretch<% } %><% } %><% if(!section.settings.image_padding){ %> card--light-border<% } %>"
            >
              <div class="card--stretch py-<%=section.settings.card_bg_color%>">
                <% if(collection?.image){ %>
                  <div>                    
                    <div class="media<% if(limit > 1){ %> media--<%= section.settings.image_ratio %><% } %> media--hover-effect overflow-hidden"
                      <% if(section.settings.image_ratio === 'adapt' && limit > 1){ %>style="padding-bottom: <%= 1 / collection?.image.aspect_ratio * 100 %>%;"<% } %>>

                      <img srcset="<% if(collection?.image.width >= 165){ %><%= collection?.image.src %> 165w,<% } %>
                        <% if(collection?.image.width >= 330){ %><%= collection?.image.src %> 330w,<% } %>
                        <% if(collection?.image.width >= 535){ %><%= collection?.image.src %> 535w,<% } %>
                        <% if(collection?.image.width >= 720){ %><%= collection?.image.src %> 720w,<% } %>
                        <% if(collection?.image.width >= 940){ %><%= collection?.image.src %> 940w,<% } %>
                        <% if(collection?.image.width >= 1440){ %><%= collection?.image.src %> 1440w,<% } %>
                        <% if(collection?.image.width >= 1880){ %><%= collection?.image.src %> 1880w<% } %>"
                        src="<%= collection?.image.src %>"
                        sizes="(min-width: 1100px)<% if(limit > 1){ %>535px<% } else { %>940px<% } %>, (min-width: 750px) <% if(limit > 1){ %>calc((100vw - 10rem) / 2)<% } else { %>calc(100vw - 10rem)<% } %>, calc(100vw - 3rem)"
                        alt="<%= collection?.title %>"
                        height="<%= collection?.image.height %>"
                        width="<%= collection?.image.width %>"
                        loading="lazy"
                        class="motion-reduce"
                      >
                    </div>
                  </div>
                
                <div class="card__info-container">
                  <div class="card__info"> 
                    <% if(section.settings.show_title){ %>
                    <h3>
                      <% if(collection?.title){ %>
                        <%- collection?.title -%>
                      <% } else { %>
                        collection title
                      <% } %>
                    </h3>
                    <% } %>
                    <% if(collection?.description && section.settings.show_desc){ %>
                      <p class="card__caption">
                        <%- collection?.description -%>
                      </p>
                    <% } %>
                  </div>                  
                </div>
                <% } else { %>
                <div class="card__info-container">
                  <div class="card__info">  
                   <% if(section.settings.show_title){ %>
                    <h3 class="h1">
                      <% if(collection?.title){ %>
                        <%- collection?.title -%>
                      <% } else { %>
                        collection title
                      <% } %>
                    </h3>
                   <% } %>

                    <% if(collection?.description && section.settings.show_desc){ %>
                      <p class="card__caption">
                        <%- collection?.description -%>
                      </p>
                    <% } %>
                  </div>
                </div>
                <% } %>
              </div>
            </a>
          </li>
          <% } else { %>
          <li class="a collection-list__item grid__item slider__slide">
            <a  class="card animate-arrow link card--media card--stretch"
            >
              <div class="card--stretch py-<%=section.settings.card_bg_color%>">
                  <div>
                    <div class="overflow-hidden py-bg-c-light">
                      <% var n_index = index + 1 %>             
                      <%= 'collection-' + n_index %>             
                    </div>
                  </div>
                <div class="card__info-container">
                  <div class="card__info">  
                  <% if(section.settings.show_title){ %>
                    <h3>                    
                        collection title                    
                    </h3>
                    <% } %>
                    <% if(section.settings.show_desc){ %>
                    <p class="card__caption">
                        Your colllection description
                    </p>
                    <% } %>
                  </div>                   
                </div>
              </div>
            </a>
          </li>
          <% } %>
        <% }) %>
      </ul>

      
      <div class="slider-buttons slider-buttons-desktop no-js-hidden<% if(limit < 4){ %> large-up-hide<% } %><% if(limit < 2){ %> small-hide<% } %>">
        <button type="button" class="slider-button slider-button--prev has-bg py-<%=section.settings.card_bg_color%>" name="previous" aria-label="previous_slide"><%- include('../snippets/icon-caret') %></button>
        <button type="button" class="slider-button slider-button--next has-bg py-<%=section.settings.card_bg_color%>" name="next" aria-label="next_slide"><%- include('../snippets/icon-caret') %></button>
      </div>
      
    </slider-component>  
  </div>
</div>