<div
  class="spacing-section-desktop bc-<%=settings.section_style%>-bt"
  style="background-color: <%= section.settings.background_color %>;height:<%= section.settings.spacing_value_desktop %>px"
>
</div>

<div
  class="spacing-section-mobile bc-<%=settings.section_style%>-bt"
  style="background-color: <%= section.settings.background_color %>;height:<%= section.settings.spacing_value_mobile %>px"
>
</div>