<div
  class="spacing-section-desktop bc-{{settings.section_style}}-bt"
  style="background-color: {{ section.settings.background-color }};height:{{ section.settings.spacing-value-desktop }}px"
>
</div>

<div
  class="spacing-section-mobile bc-{{settings.section_style}}-bt"
  style="background-color: {{ section.settings.background-color }};height:{{ section.settings.spacing-value-mobile }}px"
>
</div>

{% schema %}
{
  "name": "spacing",
  "settings": [
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "select",
      "id": "background-color",
      "label": "Background color",
      "options": [
        {
          "label": "Transparent",
          "value": "transparent"
        },
        {
          "label": "Dark",
          "value": "var(--py-bg-color-dark)"
        },
        {
          "label": "Middle Dark",
          "value": "var(--py-bg-color-middle-dark)"
        },
        {
          "label": "Average",
          "value": "var(--py-bg-color-avarge)"
        },
        {
          "label": "Middle Light",
          "value": "var(--py-bg-color-middle-light)"
        },
        {
          "label": "Light",
          "value": "var(--py-bg-color-light)"
        }
      ],
      "default": "transparent"
    },
    {
      "id": "spacing-value-desktop",
      "label": "Spacing Value Desktop",
      "type": "range",
      "min": 5,
      "max": 100,
      "step": 1,
      "default": 5
    },
    {
      "id": "spacing-value-mobile",
      "label": "Spacing Value Mobile",
      "type": "range",
      "min": 5,
      "max": 100,
      "step": 1,
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "Spacing",
      "category": "Image"
    }
  ]
}
{% endschema %}