<div class="bc-colors bc-colors-<%= settings.c_s_style %>">
    <% var productType = 'color-' + product?.type?.replace(/ /g, '-') %>
    <% var productColorTitle = product?.title?.split(' / ').pop() %>
    <% var productColorImage = 'c_' + productColorTitle?.trim()?.replace(' ', '_')?.toLowerCase() %>
    <% var productColor = 'c_bg_' + productColorTitle?.trim()?.replace(' ', '_')?.toLowerCase() %>
    <% if(show_heading){ %>
        <h2 class="bc-colors__heading"> 
        <% if(settings.c_s_style === 'style-2'){ %>
        COLOR <b><%= productColorTitle %></b>
        <% } else { %>
        CHOOSE A COLOR
        <% } %>
        </h2>
    <% } %>
    <% if(collections && collections[productType]?.products?.length){ %>
    <% collections[productType]?.products.forEach((prod, index) => { %>
        <% var colorTitle = prod?.title.split(' / ').pop() %>        
        <% var color = colorTitle.trim().replace(' ', '-').toLowerCase()  %>
        <% if(colorTitle === productColorTitle){ %>
        <div class="bc-colors__item bc-colors__item-selected">
            <div class="bc-colors__icon" 
            data-color="<%=color%>"
            <% if(settings.c_s_style === 'style-2'){ %>title="<%=colorTitle%>"<% } %>></div>
            <% if(settings.c_s_style === 'style-1'){ %>
                <span class="bc-colors__name"><%= colorTitle %></span>
            <% } %>
        </div>
        <% } else { %>
        <div class="bc-colors__item">
            <a href="<%= prod?.url %>">
            <div class="bc-colors__icon" 
            data-color="<%=color%>"
            <% if(settings.c_s_style === 'style-2'){ %>title="<%=colorTitle%>"<% } %>>
            </div>
            <% if(settings.c_s_style === 'style-1'){ %>
                <span class="bc-colors__name"><%= colorTitle %></span>
            <% } %>
            </a>
        </div>
        <% } %>
    <% }) %>
    <% } else { %>
    <div class="bc-colors__item bc-colors__item-selected">
        <div class="bc-colors__icon" 
        <% if(settings[productColorImage]){ %>style="background-image: url(<%= settings[productColorImage] %>);"<% } else if(settings[productColor]){ %>style="background-color:<%= settings[productColor] %>;"<% } %>
        <% if(settings.c_s_style === 'style-2'){ %>title="<%=productColorTitle%>"<% } %>></div>
        <% if(settings.c_s_style === 'style-1'){ %>
            <span class="bc-colors__name"><%= productColorTitle %></span>
        <% } %>
    </div>
    <% } %>
</div>