<link rel="stylesheet" href="/<%=srcId%>/component-list-menu.css">
<link rel="stylesheet" href="/<%=srcId%>/component-search-style-1.css">
<link rel="stylesheet" href="/<%=srcId%>/component-menu-drawer.css">
<link rel="stylesheet" href="/<%=srcId%>/component-header-style-1.css">

<script src="/<%=srcId%>/details-disclosure.js" defer="defer"></script>
<script src="/<%=srcId%>/details-modal.js" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.59 12.41 8.11 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z" fill="currentColor"/>
  </symbol>
  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<<% if(section.settings.enable_sticky_header){ %>sticky-header<% } else { %>div<% } %> class="header-wrapper py-<%=section.settings.br%> py-<%=section.settings.bg_color%>">
    <header class="header header--<%= section.settings.logo_position %> page-width<% if(menu){ %> header--has-menu<% } %> py-<%=section.settings.page_width%> py-<%=section.settings.page_y_pd%> py-<%=section.settings.page_x_pd%>">
    <% if(menu){ %>
      <header-drawer>
        <details class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link link--text focus-inset" aria-label="menu">
            <span>
              <%- include('./icon-hamburger') %>
              <%- include('./icon-close') %>
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                    <% menu.links.forEach((link, index) => { %>
                      <li>
                        <% if(link.links){ %>
                          <details>
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset<% if(link.child_active){ %> menu-drawer__menu-item--active<% } %>">
                              <%= link.title %>
                              <%- include('./icon-arrow') %>
                              <%- include('./icon-caret') %>
                            </summary>
                            <div id="link-<%= link.title %>" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  <%- include('./icon-arrow') %>
                                  <%= link.title %>
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  <% link.links.forEach((childlink, index) => { %>
                                    <li>
                                      <% if(!childlink.links){ %>
                                        <a href="<%= childlink.url %>" class="menu-drawer__menu-item link link--text list-menu__item focus-inset<% if(childlink.current){ %> menu-drawer__menu-item--active<% } %>"<% if(childlink.current){ %> aria-current="page"<% } %>>
                                          <%= childlink.title %>
                                        </a>
                                      <% } else { %>
                                        <details>
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            <%= childlink.title %>
                                            <%- include('./icon-arrow') %>
                                            <%- include('./icon-caret') %>
                                          </summary>
                                          <div id="childlink-<%= childlink.title %>" class="menu-drawer__submenu motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              <%- include('./icon-arrow') %>
                                              <%= childlink.title %>
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              <% childlink.links.forEach((grandchildlink, index) => { %>
                                                <li>
                                                  <a href="<%= grandchildlink.url %>" class="menu-drawer__menu-item link link--text list-menu__item focus-inset<% if(grandchildlink.current){ %> menu-drawer__menu-item--active<% } %>"<% if(grandchildlink.current){ %> aria-current="page"<% } %>>
                                                    <%= grandchildlink.title %>
                                                  </a>
                                                </li>
                                              <% }) %>
                                            </ul>
                                          </div>
                                        </details>
                                      <% } %>
                                    </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </details>
                        <% } else { %>
                          <a href="<%= link.url %>" class="menu-drawer__menu-item list-menu__item link link--text focus-inset<% if(link.current){ %> menu-drawer__menu-item--active<% } %>"<% if(link.current){ %> aria-current="page"<% } %>>
                            <%= link.title %>
                          </a>
                        <% } %>
                      </li>
                    <% }) %>
                    <% if(section.settings.menu_2){ %>
                    <% if(section.settings.logo_position === 'middle-center' || section.settings.logo_position === 'top-left-with-nav'){ %>
                    <% section.settings.menu_2.links.forEach((link, index) => { %>
                      <li>
                        <% if(link.links){ %>
                          <details>
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset<% if(link.child_active){ %> menu-drawer__menu-item--active<% } %>">
                              <%= link.title %>
                              <%- include('./icon-arrow') %>
                              <%- include('./icon-caret') %>
                            </summary>
                            <div id="link-<%= link.title %>" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  <%- include('./icon-arrow') %>
                                  <%= link.title %>
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  <% link.links.forEach((childlink, index) => { %>
                                    <li>
                                      <% if(!childlink.links){ %>
                                        <a href="<%= childlink.url %>" class="menu-drawer__menu-item link link--text list-menu__item focus-inset<% if(childlink.current){ %> menu-drawer__menu-item--active<% } %>"<% if(childlink.current){ %> aria-current="page"<% } %>>
                                          <%= childlink.title %>
                                        </a>
                                      <% } else { %>
                                        <details>
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            <%= childlink.title %>
                                            <%- include('./icon-arrow') %>
                                            <%- include('./icon-caret') %>
                                          </summary>
                                          <div id="childlink-<%= childlink.title %>" class="menu-drawer__submenu motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              <%- include('./icon-arrow') %>
                                              <%= childlink.title %>
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              <% childlink.links.forEach((grandchildlink, index) => { %>
                                                <li>
                                                  <a href="<%= grandchildlink.url %>" class="menu-drawer__menu-item link link--text list-menu__item focus-inset<% if(grandchildlink.current){ %> menu-drawer__menu-item--active<% } %>"<% if(grandchildlink.current){ %> aria-current="page"<% } %>>
                                                    <%= grandchildlink.title %>
                                                  </a>
                                                </li>
                                              <% }) %>
                                            </ul>
                                          </div>
                                        </details>
                                      <% } %>
                                    </li>
                                  <% }) %>
                                </ul>
                              </div>
                            </div>
                          </details>
                        <% } else { %>
                          <a href="<%= link.url %>" class="menu-drawer__menu-item list-menu__item link link--text focus-inset<% if(link.current){ %> menu-drawer__menu-item--active<% } %>"<% if(link.current){ %> aria-current="page"<% } %>>
                            <%= link.title %>
                          </a>
                        <% } %>
                      </li>
                    <% }) %>
                    <% } %>
                    <% } %>
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  <% if(shop?.customer_accounts_enabled){ %>
                    <a href="<% if(customer){ %>/account<% } else { %>/account/login<% } %>" class="menu-drawer__account link link--text focus-inset h5">
                      <%- include('./icon-account') %>
                      <% customer ? 'Account' : 'Log in' %>
                    </a>
                  <% } %>
                  <ul class="list list-social list-unstyled" role="list">
                    <% if(settings.social_twitter_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_twitter_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-twitter') %>
                          <span class="visually-hidden">twitter</span>
                        </a>
                      </li>
                    <% } %>
                    <% if(settings.social_facebook_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_facebook_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-facebook') %>
                          <span class="visually-hidden">facebook</span>
                        </a>
                      </li>
                    <% } %>
                    <% if(settings.social_pinterest_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_pinterest_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-pinterest') %>
                          <span class="visually-hidden">pinterest</span>
                        </a>
                      </li>
                    <% } %>
                    <% if(settings.social_instagram_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_instagram_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-instagram') %>
                          <span class="visually-hidden">instagram</span>
                        </a>
                      </li>
                    <% } %>
                    <% if(settings.social_tumblr_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_tumblr_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-tumblr') %>
                          <span class="visually-hidden">tumblr</span>
                        </a>
                      </li>
                    <% } %>
                    <% if(settings.social_snapchat_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_snapchat_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-snapchat') %>
                          <span class="visually-hidden">snapchat</span>
                        </a>
                      </li>
                    <% } %>
                    <% if(settings.social_youtube_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_youtube_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-youtube') %>
                          <span class="visually-hidden">youtube</span>
                        </a>
                      </li>
                    <% } %>
                    <% if(settings.social_vimeo_link){ %>
                      <li class="list-social__item">
                        <a href="<%= settings.social_vimeo_link %>" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          <%- include('./icon-vimeo') %>
                          <span class="visually-hidden">vimeo</span>
                        </a>
                      </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    <% } %>

    <% if(section.settings.logo_position === 'middle-center' || !menu){ %>
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="">
            <div class="search-modal__content" tabindex="-1">
              <form action="search" method="get" role="search" class="search search-modal__form" <% if(section.settings.search_hide_tags){ %> data-hide-tags="<%=section.settings.search_hide_tags%>"<%}%>>
                <div class="field">
                  <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="" placeholder="search">
                  <label class="field__label" for="Search-In-Modal">Search</label>
                  <input type="hidden" name="type" value="product">
                  <input type="hidden" name="options[fields]" value="title,product_type,variants.title">
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button" aria-label="">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                </div>
              </form>
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="close">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    <% } %>

    <% if(true){ %>
    <h1 class="header__heading">
    <% } %>
    <a href="#" class="header__heading-link link link--text focus-inset">
        <% if(section.settings.logo){ %>
        <% var image_size = section.settings.logo_width + 'x' %>
        <img src="<%= section.settings.logo %>"
            loading="lazy"
            class="header__heading-logo"
            width="<%= section.settings.logo.width %>"
            height="<%= section.settings.logo.height %>"
            alt="<%= section.settings.logo.alt || shop?.name %>"
            >
        <% } else { %>
        <span class="h2"><%= shop?.name %></span>
        <% } %>
    </a>
    <% if(true){ %>
    </h1>
    <% } %>
    
     <% if(menu){ %>
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline active" role="list" <% if(section.settings.logo_position === 'top-left-with-nav'){ %>data-index="1"<% } %>>
          <% menu.links.forEach((link, index) => { %>
            <li>
              <% if(link.links){ %>
                <details-disclosure>
                  <details>
                    <summary data-href="<%= link.url %>" class="header__menu-item list-menu__item link focus-inset">
                      <span <% if(link.child_active){ %> class="header__active-menu-item"<% } %>><%= link.title %></span>
                      <%- include('./icon-caret') %>
                    </summary>
                    <div class="header__submenu list-menu--disclosure caption-large motion-reduce py-<%=section.settings.bg_color%>" tabindex="-1">
                      <ul class="list-menu">
                        <% link.links.forEach((childlink, index) => { %>
                          <li>
                            <% if(!childlink.links){ %>
                              <a href="<%= childlink.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(childlink.current){ %> list-menu__item--active<% } %>"<% if(childlink.current){ %> aria-current="page"<% } %>>
                                <%= childlink.title %>
                              </a>
                            <% } %>
                          </li>
                        <% }) %>
                      </ul>
                      <ul class="list-menu">
                        <% link.links.forEach((childlink, index) => { %>
                          <% if(childlink.links){ %>
                            <% childlink.links.forEach((grandchildlink, index) => { %>
                              <li>
                                <a href="<%= grandchildlink.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(grandchildlink.current){ %> list-menu__item--active<% } %>"<% if(grandchildlink.current){ %> aria-current="page"<% } %>>
                                  <%= grandchildlink.title %>
                                </a>
                              </li>
                            <% }) %>
                          <% } %>
                        <% }) %>
                      </ul>
                      <% if(section.blocks.length){ %>
                        <% section.blocks.forEach((block, index) => { %>
                          <%  
                            var name = block.settings.name ? block.settings.name.trim().toLowerCase() : null;
                            var title = link.title.trim().toLowerCase();
                          %>
                          <% if(block.type === 'mega_menu' && name === title){ %>
                            <% for(let i=0; i<=4; i++){ %>
                              <%  
                                var menuHandle = 'menu_' + i 
                                var imageHandle = 'image_' + i
                                var titleHandel = 'title_' + i
                                var urlHandle = 'link_' + i
                                var menu = block.settings[menuHandle]
                                var image = block.settings[imageHandle]
                                var title = block.settings[titleHandel]
                                var url = block.settings[urlHandle] 
                              %>
                              <% if(menu){ %>
                                <ul class="list-menu">
                                  <h3 class="bc-mega-menu__title"><%= menu.title %></h3>
                                  <% menu.links.forEach((link, index) => { %>
                                    <li>
                                      <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(link.current){ %> list-menu__item--active<% } %>"<% if(link.current){ %> aria-current="page"<% } %>>
                                        <%= link.title %>
                                      </a>
                                    </li>
                                  <% }) %>
                                </ul>
                              <% } %>
                              <% if(image){ %>
                                <div class="bc-mega-menu-image">
                                  <% if(url){ %>
                                    <a href="<%= url %>">
                                  <% } %>
                                    <%- include('./resimg', {classwrapper: '', classimg: '', image: image}) %>
                                    <% if(title){ %>
                                    <h3 class="bc-mega-menu-image__title"><%= title %></h3>
                                    <% } %>
                                  <% if(url){ %>
                                    </a>
                                  <% } %>
                                </div>
                              <% } %>
                            <% } %>
                          <% } %>
                        <% }) %>
                      <% } %>
                    </div>
                  </details>
                </details-disclosure>
              <% } else { %>
                <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset"<% if(link.current){ %> aria-current="page"<% } %>>
                  <span <% if(link.current){ %> class="header__active-menu-item"<% } %>><%= link.title %></span>
                </a>
              <% } %>
            </li>
          <% }) %>
        </ul>
        <% if(section.settings.logo_position === 'top-left-with-nav' && section.settings.menu_2){%> 
            <ul class="list-menu list-menu--inline hidden" role="list" <% if(section.settings.logo_position === 'top-left-with-nav'){ %>data-index="2"<% } %>>
            <% section.settings.menu_2.links.forEach((link, index) => { %>
              <li>
                <% if(link.links){ %>
                  <details-disclosure>
                    <details>
                      <summary data-href="<%= link.url %>" class="header__menu-item list-menu__item link focus-inset">
                        <span <% if(link.child_active){ %> class="header__active-menu-item"<% } %>><%= link.title %></span>
                        <%- include('./icon-caret') %>
                      </summary>
                      <div class="header__submenu list-menu--disclosure caption-large motion-reduce py-<%=section.settings.bg_color%>" tabindex="-1">
                        <ul class="list-menu">
                          <% link.links.forEach((childlink, index) => { %>
                            <li>
                              <% if(!childlink.links){ %>
                                <a href="<%= childlink.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(childlink.current){ %> list-menu__item--active<% } %>"<% if(childlink.current){ %> aria-current="page"<% } %>>
                                  <%= childlink.title %>
                                </a>
                              <% } %>
                            </li>
                          <% }) %>
                        </ul>
                        <ul class="list-menu">
                          <% link.links.forEach((childlink, index) => { %>
                            <% if(childlink.links){ %>
                              <% childlink.links.forEach((grandchildlink, index) => { %>
                                <li>
                                  <a href="<%= grandchildlink.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(grandchildlink.current){ %> list-menu__item--active<% } %>"<% if(grandchildlink.current){ %> aria-current="page"<% } %>>
                                    <%= grandchildlink.title %>
                                  </a>
                                </li>
                              <% }) %>
                            <% } %>
                          <% }) %>
                        </ul>
                        <% if(section.blocks.length){ %>
                          <% section.blocks.forEach((block, index) => { %>
                            <%  
                              var name = block.settings.name ? block.settings.name.trim().toLowerCase() : null;
                              var title = link.title.trim().toLowerCase();
                            %>
                            <% if(block.type === 'mega_menu' && name === title){ %>
                              <% for(let i=1; i<=4; i++){ %>
                                <%  
                                  var menuHandle = 'menu_' + i 
                                  var imageHandle = 'image_' + i
                                  var titleHandel = 'title_' + i
                                  var urlHandle = 'link_' + i
                                  var menu = block.settings[menuHandle]
                                  var image = block.settings[imageHandle]
                                  var title = block.settings[titleHandel]
                                  var url = block.settings[urlHandle] 
                                %>
                                <% if(menu){ %>
                                  <ul class="list-menu">
                                    <h3 class="bc-mega-menu__title"><%= menu.title %></h3>
                                    <% menu.links.forEach((link, index) => { %>
                                      <li>
                                        <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(link.current){ %> list-menu__item--active<% } %>"<% if(link.current){ %> aria-current="page"<% } %>>
                                          <%= link.title %>
                                        </a>
                                      </li>
                                    <% }) %>
                                  </ul>
                                <% } %>
                                <% if(image){ %>
                                  <div class="bc-mega-menu-image">
                                    <% if(url){ %>
                                      <a href="<%= url %>">
                                    <% } %>
                                      <%- include('./resimg', {classwrapper: '', classimg: '', image: image}) %>
                                      <% if(title){ %>
                                      <h3 class="bc-mega-menu-image__title"><%= title %></h3>
                                      <% } %>
                                    <% if(url){ %>
                                      </a>
                                    <% } %>
                                  </div>
                                <% } %>
                              <% } %>
                            <% } %>
                          <% }) %>
                        <% } %>
                      </div>
                    </details>
                  </details-disclosure>
                <% } else { %>
                  <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset"<% if(link.current){ %> aria-current="page"<% } %>>
                    <span <% if(link.current){ %> class="header__active-menu-item"<% } %>><%= link.title %></span>
                  </a>
                <% } %>
              </li>
            <% }) %>
          </ul>
        <% } %>     
      </nav>
     <% } %>



     
    <% if(section.settings.logo_position === 'top-left-with-nav'){ %>
        <div class="header-top-left-nav-container">
          <div class="top-left-nav-tabs">
            <div class="top-left-nav-item active" data-index="1">Main Menu 1</div>
            <div class="top-left-nav-item" data-index="2">Main Menu 2</div>
          </div>
        </div>
    <% } %>
    <% if(section.settings.logo_position === 'top-left' || section.settings.logo_position === 'top-left-with-nav'){ %>
        <div class="header-search-container">
          <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="Search">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content py-<%=section.settings.bg_color%>" role="dialog" aria-modal="true" aria-label="Search">
            <div class="search-modal__content" tabindex="-1">
              <form action="/search" method="get" role="search" class="search search-modal__form" <% if(section.settings.search_hide_tags){ %>data-hide-tags="<%=section.settings.search_hide_tags%>"<%}%>>
                <div class="field">
                  <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="" placeholder="Search">
                  <label class="field__label" for="Search-In-Modal">Find what you're looking for</label>
                  <input type="hidden" name="type" value="product">
                  <input type="hidden" name="options[fields]" value="title,product_type,variants.title">
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button focus-inset" aria-label="search">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                </div>
                <div class="bc-search__input-bottom-label">Search any products and/or materials</div>
                <div class="bc-search-result-wrapper">
                  <div class="bc-cart__not-products">Sorry no results found</div>
                  <div class="bc-search-result-inner-wrapper"></div>
                  <% if(section.settings.search_menu){ %>
                    <ul class="list-menu bc-search-menu">
                      <h3 class="bc-search-menu__title"><%= section.settings.search_menu.title %></h3>
                      <% section.settings.search_menu.links.forEach(link => { %>
                        <li>
                          <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(link.current){ %> list-menu__item--active<% } %>"<% if(link.current){ %> aria-current="page"<% } %>>
                            <%= link.title %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  <% } %>
                </div>
              </form>
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="close">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
        </div>
    <% } %>
    <div class="header__icons">      
      <% if(section.settings.menu_2 && section.settings.logo_position === 'middle-center'){ %>
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            <% section.settings.menu_2.links.forEach((link, index) => { %>
              <li>
                <% if(link.links){ %>
                  <details-disclosure>
                    <details>
                      <summary data-href="<%= link.url %>" class="header__menu-item list-menu__item link focus-inset">
                        <span <% if(link.child_active){ %> class="header__active-menu-item"<% } %>><%= link.title %></span>
                        <%- include('./icon-caret') %>
                      </summary>
                      <div class="header__submenu list-menu--disclosure caption-large motion-reduce py-<%=section.settings.bg_color%>" tabindex="-1">
                        <ul class="list-menu">
                          <% link.links.forEach((childlink, index) => { %>
                            <li>
                              <% if(!childlink.links){ %>
                                <a href="<%= childlink.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(childlink.current){ %> list-menu__item--active<% } %>"<% if(childlink.current){ %> aria-current="page"<% } %>>
                                  <%= childlink.title %>
                                </a>
                              <% } %>
                            </li>
                          <% }) %>
                        </ul>
                        <ul class="list-menu">
                          <% link.links.forEach((childlink, index) => { %>
                            <% if(childlink.links){ %>
                              <% childlink.links.forEach((grandchildlink, index) => { %>
                                <li>
                                  <a href="<%= grandchildlink.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(grandchildlink.current){ %> list-menu__item--active<% } %>"<% if(grandchildlink.current){ %> aria-current="page"<% } %>>
                                    <%= grandchildlink.title %>
                                  </a>
                                </li>
                              <% }) %>
                            <% } %>
                          <% }) %>
                        </ul>
                        <% if(section.blocks.length){ %>
                          <% section.blocks.forEach((block, index) => { %>
                            <%  
                              var name = block.settings.name ? block.settings.name.trim().toLowerCase() : null;
                              var title = link.title.trim().toLowerCase();
                            %>
                            <% if(block.type === 'mega_menu' && name === title){ %>
                              <% for(let i=1; i<=4; i++){ %>
                                <% 
                                  var menuHandle = 'menu_' + i 
                                  var imageHandle = 'image_' + i
                                  var titleHandel = 'title_' + i
                                  var urlHandle = 'link_' + i
                                  var menu = block.settings[menuHandle]
                                  var image = block.settings[imageHandle]
                                  var title = block.settings[titleHandel]
                                  var url = block.settings[urlHandle] 
                                %>
                                <% if(menu){ %>
                                  <ul class="list-menu">
                                    <h3 class="bc-mega-menu__title"><%= menu.title %></h3>
                                    <% menu.links.forEach((link, index) => { %>
                                      <li>
                                        <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(link.current){ %> list-menu__item--active<% } %>"<% if(link.current){ %> aria-current="page"<% } %>>
                                          <%= link.title %>
                                        </a>
                                      </li>
                                    <% }) %>
                                  </ul>
                                <% } %>
                                <% if(image){ %>
                                  <div class="bc-mega-menu-image">
                                    <% if(url){ %>
                                      <a href="<%= url %>">
                                    <% } %>
                                      <%- include('./resimg', {classwrapper: '', classimg: '', image: image}) %>
                                      <% if(title){ %>
                                      <h3 class="bc-mega-menu-image__title"><%= title %></h3>
                                      <% } %>
                                    <% if(url){ %>
                                      </a>
                                    <% } %>
                                  </div>
                                <% } %>
                              <% } %>
                            <% } %>
                          <% }) %>
                        <% } %>
                      </div>
                    </details>
                  </details-disclosure>
                <% } else { %>
                  <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset"<% if(link.current){ %> aria-current="page"<% } %>>
                    <span <% if(link.current){ %> class="header__active-menu-item"<% } %>><%= link.title %></span>
                  </a>
                <% } %>
              </li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
      <% if(shop?.customer_accounts_enabled){ %>
        <a href="<% if(customer){ %>/account<% } else { %>/account/login<% } %>" class="header__icon header__icon--account link link--text focus-inset">
          <%- include('./icon-account') %>
          <span class="visually-hidden">
            <% customer ? 'Account' : 'Login' %>
          </span>
        </a>
      <% } %>
      
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="Search">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content py-<%=section.settings.bg_color%>" role="dialog" aria-modal="true" aria-label="Search">
            <div class="search-modal__content" tabindex="-1">
              <form action="/search" method="get" role="search" class="search search-modal__form" <% if(section.settings.search_hide_tags){ %>data-hide-tags="<%=section.settings.search_hide_tags%>"<%}%>>
                <div class="field">
                  <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="" placeholder="Search">
                  <label class="field__label" for="Search-In-Modal">Find what you're looking for</label>
                  <input type="hidden" name="type" value="product">
                  <input type="hidden" name="options[fields]" value="title,product_type,variants.title">
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button focus-inset" aria-label="search">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                </div>
                <div class="bc-search__input-bottom-label">Search any products and/or materials</div>
                <div class="bc-search-result-wrapper">
                  <div class="bc-cart__not-products">Sorry no results found</div>
                  <div class="bc-search-result-inner-wrapper"></div>
                  <% if(section.settings.search_menu){ %>
                    <ul class="list-menu bc-search-menu">
                      <h3 class="bc-search-menu__title"><%= section.settings.search_menu.title %></h3>
                      <% section.settings.search_menu.links.forEach(link => { %>
                        <li>
                          <a href="<%= link.url %>" class="header__menu-item list-menu__item link link--text focus-inset caption-large<% if(link.current){ %> list-menu__item--active<% } %>"<% if(link.current){ %> aria-current="page"<% } %>>
                            <%= link.title %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  <% } %>
                </div>
              </form>
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="close">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      <% if(shop?.enabled_currencies?.length > 1){ %>
        <form class="currency-selector">
        <div class="currency-selector__input-wrapper select-group font--accent">
          <select name="currency" id="CurrencySelector" class="currency-selector__dropdown" aria-describedby="a11y-refresh-page-message" data-currency-selector>
            <% shop?.enabled_currencies.forEach((currency, index) => { %>
            <% if(currency.iso_code !== 'EUR'){ %>
            <option value="<%=currency.iso_code%>"<% if(currency === cart.currency){ %> selected="true"<% } %>><%=currency.iso_code%></option>
            <% } %>
            <% }) %>
          </select>
        </div>
        </form>
      <% } %>
       
       <a href="/cart" class="header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble">
        <%- include('./icon-cart') %>
        <span class="visually-hidden">Cart</span>
          <div class="cart-count-bubble">
            <span aria-hidden="true" id="cart-count"><%= cart.item_count %></span>
            <span class="visually-hidden">Cart count <%= cart.item_count %></span>
          </div>
        
      </a>
      <% if(settings.cart_style === 'style-3'){ %>
         <%- include('./cart-notification-3', {active: false}) %>
      <% } %>       

    </div>
  </header>
</<% if(section.settings.enable_sticky_header){ %>sticky-header<% } else { %>div<% } %>>

</div>    
