<% if(product.metafields.instagramfeed.length > 0){ %>
<%=instagramfeed.css' <%=srcId%> | stylesheet_tag %>

<script type="application/json" id="instagramjson">
    <%= product.metafields.instagramfeed %>
</script>

<instagram-feed>
    <h2 class="bc-insta__heading">#437IRL</h2>
    <div id="bcinstaitems" class="bc-insta__items bc-scroll-hide"></div>
</instagram-feed>

<script src="<%=instagramfeed.js' <%=srcId%> %>" defer="defer"></script>
<% } %>