<div class="announcement-bar center py-{{sectionSettings.bg_color}} py-{{sectionSettings.page_x_pd}} py-{{sectionSettings.page_y_pd}} py-{{sectionSettings.br}}" role="region" aria-label="Announcement">
  <a href="/collections/black-friday-sale" class="announcement-bar__link link link--text">
    <span class="announcement-bar__message py-{{sectionSettings.fs}}">
        Free shipping on all orders — Free shipping on all orders — Free shipping on all orders
    </span>
  </a>          
</div>
  