<link rel="stylesheet" href="/assets/component-cart-notification-style-2.css" media="print" onload="this.media='all'">
<style>
  {{#if sectionSettings.button_radius }}
  .bc-cart__buttons-wrapper .button{
    border-radius: {{sectionSettings.button_radius}}px;  
  }
  {{/if}}
  {{#if sectionSettings.item_bg }}
  .bc-cart__item{
    padding:10px;
    background-color:{{sectionSettings.item_bg}};
    {{#if sectionSettings.item_radius }}
    border-radius: {{sectionSettings.item_radius}}px; 
    {{/if}}
  }
  {{/if}} 
  {{#if sectionSettings.item_radius }}
  .bc-cart__item .bc-cart__image-wrapper img{
    border-radius: {{sectionSettings.item_radius}}px;
  } 
  {{/if}}
  {{#if sectionSettings.enable_dynamic_pay }}
  #loopcheckoutdynamic{
    margin-top: 15px;
    background: #5b32f6;
  }
  #loopcheckoutdynamic:hover{
    box-shadow: 0 0 10px black;
  }
  #loopcheckoutdynamic img{
    width: 74px;
  }
  {{/if}}
  .cart-notification {
     display: none;
  }
</style>
<cart-notification>
    {{!-- settings.f_s_price --}}
  <div class="cart-notification-wrapper {{#if settings.f_s_show }}cart-notification-wrapper__shipping{{/if}} {{sectionSettings.cart_layout}}">
    <div id="cart-notification" class="cart-notification animate active" aria-modal="true" aria-label="Item added to your cart" role="dialog" tabindex="-1">
      <div class="cart-notification__header">
          <h2 class="cart-notification__heading caption-large">Shopping Cart</h2><button type="button" class="modal__close-button" aria-label="Close">
              <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                  </use>
              </svg>
          </button>
          <div class="bc-free-shipping-wrapper hidden" data-price="100" data-currency="USD">
              <div class="bc-free-shipping-wrapper__text active">
                  <p>YOU’RE <strong>100 </strong>AWAY FROM FREE SHIPPING</p>
              </div>
              <div class="bc-free-shipping-wrapper__success-text">
                  <p>YOU QUALIFY FOR FREE SHIPPING!</p>
              </div>
              <div class="bc-free-shipping-bar">
                  <div class="bc-free-shipping-bar__progress" style="background-color:#794842"></div>
              </div>
          </div>
          {{#if (eq sectionSettings.cart_layout 'one-c') }}
          <div class="bc-cart__buttons-wrapper">
              <form action="/cart" method="post" id="cart">
                  <button id="loopcheckout" class="button button--primary button--full-width" name="checkout" form="cart">Check out</button>
              </form>
              {{#if sectionSettings.enable_dynamic_pay }}
              <button id="loopcheckoutdynamic" class="button button--primary button--full-width"><img src="https://cdn.shopify.com/s/files/1/0584/1993/7441/files/image_11.png?v=1641840659"></button>
              {{/if}}
          </div>
          {{/if}}
      </div>
      <div class="c-item-wrapper">
          <div class="cart-notification-product-label">
              Your Items
          </div>
          <div id="cart-notification-product" class="cart-notification-product">
              <div class="bc-cart__item" data-id="41331951403169">
                  <div class="bc-cart__image-wrapper"><a href="/products/red-sports-tee?variant=41331951403169">
                          <img class="bc-cart__image-img" src="https://cdn.shopify.com/s/files/1/0584/1993/7441/products/womens-red-t-shirt_925x_95a058fa-78d0-4451-a189-4b37b6b3df1c.jpg?v=1638957917" alt="0" width="55" height="70">
                      </a></div>
                  <div class="bc-cart__info-wrapper">
                      <a href="/products/red-sports-tee?variant=41331951403169">
                          <h3 class="bc-cart__title">Red Sports Tee</h3>
                      </a>
                      <div class="bc-cart__price-and-properties">
                          <div class="bc-cart__price-wrapper">
                              <span class="bc-cart__price">$50.00</span>
                          </div>
                          <div class="bc-cart__properties-wrapper">

                          </div>
                      </div>
                      <div class="bc-cart__qty-wrapper">
                          <span class="bc-cart__qty-minus" data-key="41331951403169:1fc97c8ec613f9b719a4c2c6451e5f1b" data-qty="2" data-child="undefined">-</span>
                          <span>2</span>
                          <span class="bc-cart__qty-plus" data-key="41331951403169:1fc97c8ec613f9b719a4c2c6451e5f1b" data-qty="2" data-child="undefined">+</span>
                      </div><span class="bc-cart__remove" data-key="41331951403169:1fc97c8ec613f9b719a4c2c6451e5f1b" role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                              <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                              <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                          </svg>
                      </span>
                  </div>
              </div>
              <div class="bc-cart__item" data-id="41331951304865">
                  <div class="bc-cart__image-wrapper"><a href="/products/white-cotton-shirt?variant=41331951304865">
                          <img class="bc-cart__image-img" src="https://cdn.shopify.com/s/files/1/0584/1993/7441/products/smiling-woman-poses_925x_f021fba5-f314-4552-9fca-c9a717ae5ec6.jpg?v=1638957913" alt="0" width="55" height="70">
                      </a></div>
                  <div class="bc-cart__info-wrapper">
                      <a href="/products/white-cotton-shirt?variant=41331951304865">
                          <h3 class="bc-cart__title">White Cotton Shirt</h3>
                      </a>
                      <div class="bc-cart__price-and-properties">
                          <div class="bc-cart__price-wrapper">
                              <span class="bc-cart__price">$30.00</span>
                          </div>
                          <div class="bc-cart__properties-wrapper">

                          </div>
                      </div>
                      <div class="bc-cart__qty-wrapper">
                          <span class="bc-cart__qty-minus" data-key="41331951304865:9b1e82edbba972a158d0c75a20bd27c5" data-qty="1" data-child="undefined">-</span>
                          <span>1</span>
                          <span class="bc-cart__qty-plus" data-key="41331951304865:9b1e82edbba972a158d0c75a20bd27c5" data-qty="1" data-child="undefined">+</span>
                      </div><span class="bc-cart__remove" data-key="41331951304865:9b1e82edbba972a158d0c75a20bd27c5" role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                              <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                              <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                          </svg>
                      </span>
                  </div>
              </div>
              <div class="bc-cart__item" data-id="41347064529057">
                  <div class="bc-cart__image-wrapper"><a href="/products/zipped-jacket?variant=41347064529057">
                          <img class="bc-cart__image-img" src="https://cdn.shopify.com/s/files/1/0584/1993/7441/products/menswear-blue-zip-up-jacket_925x_d21a29c5-32b9-49d3-a74e-81a74c472f27.jpg?v=1638957907" alt="0" width="55" height="70">
                      </a></div>
                  <div class="bc-cart__info-wrapper">
                      <a href="/products/zipped-jacket?variant=41347064529057">
                          <h3 class="bc-cart__title">Zipped Jacket</h3>
                          <h6 class="bc-cart__variant-title">M / Blue</h6>
                      </a>
                      <div class="bc-cart__price-and-properties">
                          <div class="bc-cart__price-wrapper">
                              <span class="bc-cart__price">$65.00</span>
                          </div>
                          <div class="bc-cart__properties-wrapper">

                          </div>
                      </div>
                      <div class="bc-cart__qty-wrapper">
                          <span class="bc-cart__qty-minus" data-key="41347064529057:7cc3bb24c757d557e1e2abc7fac22951" data-qty="1" data-child="undefined">-</span>
                          <span>1</span>
                          <span class="bc-cart__qty-plus" data-key="41347064529057:7cc3bb24c757d557e1e2abc7fac22951" data-qty="1" data-child="undefined">+</span>
                      </div><span class="bc-cart__remove" data-key="41347064529057:7cc3bb24c757d557e1e2abc7fac22951" role="button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                              <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
                              <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
                          </svg>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="cart-notification__links">
          {{#if (eq sectionSettings.cart_layout 'two-c') }}
          <div class="bc-cart__buttons-wrapper" style="margin-top:25px;">
              <form action="/cart" method="post" id="cart">
                  <button id="loopcheckout" class="button button--primary button--full-width" name="checkout" form="cart">Check out</button>
              </form>
              {{#if sectionSettings.enable_dynamic_pay }}
              <button id="loopcheckoutdynamic" class="button button--primary button--full-width"><img src="https://cdn.shopify.com/s/files/1/0584/1993/7441/files/image_11.png?v=1641840659"></button>
              {{/if}}
          </div>
          {{/if}}
          <div class="bc-cart_info-wrapper">
              <div class="bc-cart__subtotal-wrapper" id="cart-subtotal">
                  <div class="bc-cart__subtotal-label">Subtotal</div>
                  <div class="bc-cart__subtotal-value">
                      $195.00
                  </div>
              </div>
              <div class="bc-cart__shipping-wrapper" id="cart-shipping">
                  <div class="bc-cart__shipping-label">Estimated Shipping</div>
                  <div class="bc-cart__shipping-value">

                      Free

                  </div>
              </div>
              <div class="bc-cart__total-wrapper">
                  <div class="bc-cart__total-label">Estimated Total</div>
                  <div class="bc-cart__total-value" id="cart-total"><span>$195.00</span></div>
              </div>
              <button type="button" class="link button-label">Continue shopping</button>
          </div>
      </div>
    </div>
    <div class="cart-notification-overaly"></div>
  </div>
</cart-notification>
