<link rel="stylesheet" href="/assets/collection-our.css" media="print" onload="this.media='all'">
  
<div class="collection-our bc-<%= settings.section_style%>-bt">
  <div class="page-width page-width-<%= settings.section_style%>">
    <div class="collection-our-heading">
        <h2 class="collection-our__title collection-our__title-template--15300017979553__1627668372e759df4d">
           <%=  section.settings.title %>
        </h2>
        <style type="text/css">
            .collection-our__title-template--15300017979553__1627668372e759df4d {
                font-weight: normal;
            }
        </style>
    </div>
    <ul class="collection-our-list bc-scroll-hide">
        <li class="collection-our-list__item" data-aos="fade-left"><a href="/collections/all-swimwear">
                <div class="collection-our_image__wrap bc-<%= settings.section_style %>-bt">
                    <div class="media " style="padding-bottom: 66.66666666666666%;">
                        <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_165x.jpg?v=1639584425 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_360x.jpg?v=1639584425 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_535x.jpg?v=1639584425 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_720x.jpg?v=1639584425 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_940x.jpg?v=1639584425 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_1070x.jpg?v=1639584425 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_535x.jpg?v=1639584425" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="5472" height="3648" class="">
                    </div>
                </div>
                <h2 class="collection-our__name collection-our__name-1627668372e759df4d-0">
                    FABRIC
                </h2>
                <div class="collection-our__text">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                </div>
            </a></li>
        <li class="collection-our-list__item" data-aos="fade-up"><a href="/collections/all-swimwear">
                <div class="collection-our_image__wrap bc-<%= settings.section_style%>-bt">
                    <div class="media " style="padding-bottom: 66.625%;">
                        <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_165x.jpg?v=1639584550 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_360x.jpg?v=1639584550 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_535x.jpg?v=1639584550 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_720x.jpg?v=1639584550 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_535x.jpg?v=1639584550" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="533" class="">
                    </div>
                </div>
                <h2 class="collection-our__name collection-our__name-1627668372e759df4d-1">
                    FIGURE FLATTERING
                </h2>
                <div class="collection-our__text">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                </div>
            </a></li>
        <li class="collection-our-list__item" data-aos="fade-right"><a href="/collections/all-swimwear">
                <div class="collection-our_image__wrap bc-<%= settings.section_style%>-bt">
                    <div class="media " style="padding-bottom: 66.625%;">
                        <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_165x.jpg?v=1639586510 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_360x.jpg?v=1639586510 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_535x.jpg?v=1639586510 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_720x.jpg?v=1639586510 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_535x.jpg?v=1639586510" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="533" class="">
                    </div>
                </div>
                <h2 class="collection-our__name collection-our__name-1627668372e759df4d-2">
                    VERSATILITY
                </h2>
                <div class="collection-our__text">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
                </div>
            </a></li>
    </ul>
  </div>
</div>
