<link rel="stylesheet" href="/assets/collection-two-column.css" media="print" onload="this.media='all'">

<div class="collection-two-column bc-{{settings.section_style}}-bt">
  <div class="page-width page-width-{{settings.section_style}}">
    {{#if (eq sectionSettings.title 'blank')}}
    <div class="collection-two-column-heading">
      <h2 class="collection-two-column__title">
        {{ sectionSettings.title }}
      </h2>      
    </div>
    {{/if}}
    <ul class="collection-two-column-list">
      <li class="collection-two-column-list__item" >
          <div class="collection-two-column_image__wrap bc-{{settings.section_style}}-bt"><a href="/collections/all-apparel">
                  <span class="visually-hidden">Collection Image</span>
                  <div class="media " style="padding-bottom: 150.0163132%;">
                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-evg-culture-1381553_165x.jpg?v=1639584214 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-evg-culture-1381553_360x.jpg?v=1639584214 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-evg-culture-1381553_535x.jpg?v=1639584214 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-evg-culture-1381553_720x.jpg?v=1639584214 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-evg-culture-1381553_940x.jpg?v=1639584214 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-evg-culture-1381553_1070x.jpg?v=1639584214 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-evg-culture-1381553_535x.jpg?v=1639584214" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="3065" height="4598" class="">
                  </div>
              </a></div><a class="button button-cus-16276605767216b017-0 bc-coll-two-col-{{settings.section_style}}-style" href="/collections/all-apparel">
              SHOP APPAREL
          </a>
      </li>
      <li class="collection-two-column-list__item" >
          <div class="collection-two-column_image__wrap bc-{{settings.section_style}}-bt"><a href="/collections/all-swimwear">
                  <span class="visually-hidden">Collection Image</span>
                  <div class="media " style="padding-bottom: 150.0%;">
                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-jill-wellington-3264665_165x.jpg?v=1639584326 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-jill-wellington-3264665_360x.jpg?v=1639584326 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-jill-wellington-3264665_535x.jpg?v=1639584326 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-jill-wellington-3264665_720x.jpg?v=1639584326 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-jill-wellington-3264665_940x.jpg?v=1639584326 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-jill-wellington-3264665_1070x.jpg?v=1639584326 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-jill-wellington-3264665_535x.jpg?v=1639584326" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="1500" height="2250" class="">
                  </div>
              </a></div><a class="button button-cus-16276605767216b017-1 bc-coll-two-col-{{settings.section_style}}-style" href="/collections/all-swimwear">
              SHOP GIFT
          </a>
      </li>
    </ul>
  </div>
</div>
