<link rel="preload" href="/assets/main-image-with-two-products.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/assets/component-card-style-1.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/assets/component-price-style-1.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/assets/component-variants.css" as="style" onload="this.onload=null;this.rel='stylesheet'">


<div class="bc-iwtp s-<%=settings.section_style%>">
  <div class="page-width s-<%=settings.section_style%>">
    <div class="bc-iwtp__content bc-iwtp__content-<%= section.settings.image_position %> t-<%= section.settings.image_position %>">
      <div class="bc-iwtp__image-wrapper"
        <% if(section.settings.enable_anim){ %> data-aos="<%=section.settings.anim%>"<% } %>>        
          <div class="bc-<%= settings.section_style %>-bt s-<%= settings.section_style %>">
            <div class="media " style="padding-bottom: 118.75%;">
                <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_165x.jpg?v=1639586720 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_360x.jpg?v=1639586720 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_535x.jpg?v=1639586720 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_720x.jpg?v=1639586720 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_940x.jpg?v=1639586720 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_1070x.jpg?v=1639586720 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_535x.jpg?v=1639586720" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="1200" height="1425" class="">
            </div>
          </div>
          <div class="medium-hide large-up-hide">
            <div class="media " style="padding-bottom: 118.75%;">
                <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_165x.jpg?v=1639586720 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_360x.jpg?v=1639586720 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_535x.jpg?v=1639586720 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_720x.jpg?v=1639586720 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_940x.jpg?v=1639586720 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_1070x.jpg?v=1639586720 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-ogo-2434049_535x.jpg?v=1639586720" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="1200" height="1425" class="">
            </div>
          </div>        
        <div class="bc-iwtp__info <%= section.settings.align %> t-<%= section.settings.align %>" <% if(section.settings.color){ %>style="color:<%= section.settings.color %>"<% } %>>
          <h2 class="bc-iwtp__info-title bc-iwtp__info-title-template--15300017979553__16353541095b41180b"><%= section.settings.title %></h2>
          <div class="bc-iwtp__info-text bc-iwtp__info-text-template--15300017979553__16353541095b41180b"><%= section.settings.text %></div>
          <style type="text/css">
              .bc-iwtp__info-title-template--15300017979553__16353541095b41180b {
                  color: <%= section.settings.color %>;
                  text-align: <%= section.settings.align %>;
                  font-size: <%= section.settings.size %>;
                  font-weight: <%= section.settings.weight %>;
              }
              .bc-iwtp__info-text-template--15300017979553__16353541095b41180b{
                  color: <%= section.settings.color %>;
                  text-align: <%= section.settings.align %>;
              }
              @media(max-width:767px){
                .bc-iwtp__info-title-template--15300017979553__16353541095b41180b {                    
                    font-size: <%= section.settings.m_size %>;
                    font-weight: <%= section.settings.m_weight %>
                }
              }
          </style>
        </div>        
      </div>
      
      <div class="bc-iwtp__products-wrapper">
          <div <% if(section.settings.enable_anim){ %> data-aos="<%= section.settings.anim %>"<% } %>>
              <div class="card-wrapper">
                  <span class="visually-hidden">Black Leather Bag</span>
                  <div class="card card--product" tabindex="-1">
                      <div class="card__inner">
                          <div>
                              <a href="/products/black-leather-bag" class="full-unstyled-link">
                                  <div class="media media--transparent media--square media--hover-effect">
                                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/black-bag-over-the-shoulder_925x_0f7d3c85-9481-4f7c-a984-5ef9e3f2f24b_165x.jpg?v=1638957906 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/black-bag-over-the-shoulder_925x_0f7d3c85-9481-4f7c-a984-5ef9e3f2f24b_360x.jpg?v=1638957906 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/black-bag-over-the-shoulder_925x_0f7d3c85-9481-4f7c-a984-5ef9e3f2f24b_533x.jpg?v=1638957906 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/black-bag-over-the-shoulder_925x_0f7d3c85-9481-4f7c-a984-5ef9e3f2f24b_720x.jpg?v=1638957906 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/black-bag-over-the-shoulder_925x_0f7d3c85-9481-4f7c-a984-5ef9e3f2f24b_360x.jpg?v=1638957906" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Black Leather Bag" loading="lazy" class="motion-reduce" width="925" height="617">
                                  </div>
                              </a>
                          </div>
                          <div class="bc-selling-tag bc-vertical-tag">
                              <div class="bc-vertical-tag-inner" style="background-color:#446144;border-color:#4ad44a;color:#ffffff">Test</div>
                          </div>
                          <div class="bc-product-grid-variants">
                              <div class="bc-variant-item ">
                                  <a href="/products/black-leather-bag?variant=41347062235297" 13="">S/RedB</a>
                              </div>
                              <div class="bc-variant-item ">
                                  <a href="/products/black-leather-bag?variant=41347062399137" 13="">M/RedB</a>
                              </div>
                              <div class="bc-variant-item ">
                                  <a href="/products/black-leather-bag?variant=41347062562977" 13="">L/RedB</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-information">
                      <div class="card-information__wrapper">
                          <a href="/products/black-leather-bag" class="full-unstyled-link"><span class="card-information__text h5"> Black Leather Bag</span></a>
                          <div id="productPrice" class=" price  price--on-sale ">
                              <dl>
                                  <div class="price__regular">
                                      <dt><span class="visually-hidden visually-hidden--inline">Regular price</span></dt>
                                      <dd><span class="price-item price-item--regular">$30.00</span></dd>
                                  </div>
                                  <div class="price__sale">
                                      <dt class="price__compare"><span class="visually-hidden visually-hidden--inline">Regular price</span></dt>
                                      <dd class="price__compare"><s class="price-item price-item--regular" 30="" dd="" aa=""> $30.00 </s></dd>
                                      <dt><span class="visually-hidden visually-hidden--inline">Sale price</span></dt>
                                      <dd><span class="price-item price-item--sale">$21.00</span></dd>
                                      <dd class="price-item price-item--discount">(-$9.00)</dd>
                                  </div>
                                  <small class="unit-price caption hidden">
                                      <dt class="visually-hidden">Unit price</dt>
                                      <dd><span></span>
                                          <span aria-hidden="true">/</span>
                                          <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                          <span></span>
                                      </dd>
                                  </small>
                              </dl>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div <% if( section.settings.enable_anim %> data-aos="<%=section.settings.anim%>"<% }%>>
              <div class="card-wrapper">
                  <span class="visually-hidden">Floral White Top</span>
                  <div class="card card--product" tabindex="-1">
                      <div class="card__inner">
                          <div>
                              <a href="/products/floral-white-top" class="full-unstyled-link">
                                  <div class="media media--transparent media--square media--hover-effect">
                                      <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/products/city-woman-fashion_925x_2x_28215548-6762-4040-96f6-5637996d73ca_165x.jpg?v=1638957898 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/city-woman-fashion_925x_2x_28215548-6762-4040-96f6-5637996d73ca_360x.jpg?v=1638957898 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/city-woman-fashion_925x_2x_28215548-6762-4040-96f6-5637996d73ca_533x.jpg?v=1638957898 533w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/city-woman-fashion_925x_2x_28215548-6762-4040-96f6-5637996d73ca_720x.jpg?v=1638957898 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/city-woman-fashion_925x_2x_28215548-6762-4040-96f6-5637996d73ca_940x.jpg?v=1638957898 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/products/city-woman-fashion_925x_2x_28215548-6762-4040-96f6-5637996d73ca_1066x.jpg?v=1638957898 1066w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/products/city-woman-fashion_925x_2x_28215548-6762-4040-96f6-5637996d73ca_360x.jpg?v=1638957898" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Floral White Top" loading="lazy" class="motion-reduce" width="1850" height="1233">
                                  </div>
                              </a>
                          </div>
                          <div class="bc-product-grid-variants">
                              <div class="bc-variant-item ">
                                  <a href="/products/floral-white-top?variant=41331950878881" 13="">DT</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-information">
                      <div class="card-information__wrapper">
                          <a href="/products/floral-white-top" class="full-unstyled-link"><span class="card-information__text h5">Floral White Top</span></a>
                          <div id="productPrice" class=" price  price--on-sale ">
                              <dl>
                                  <div class="price__regular">
                                      <dt><span class="visually-hidden visually-hidden--inline">Regular price</span></dt>
                                      <dd><span class="price-item price-item--regular">$75.00</span></dd>
                                  </div>
                                  <div class="price__sale">
                                      <dt class="price__compare"><span class="visually-hidden visually-hidden--inline">Regular price</span></dt>
                                      <dd class="price__compare"><s class="price-item price-item--regular" 30="" dd="" aa="">$75.00</s></dd>
                                      <dt><span class="visually-hidden visually-hidden--inline">Sale price</span></dt>
                                      <dd><span class="price-item price-item--sale">$52.50</span></dd>
                                      <dd class="price-item price-item--discount">(-$22.50)</dd>
                                  </div>
                                  <small class="unit-price caption hidden">
                                      <dt class="visually-hidden">Unit price</dt>
                                      <dd>
                                          <span></span>
                                          <span aria-hidden="true">/</span>
                                          <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                          <span></span>
                                      </dd>
                                  </small>
                              </dl>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>      
    </div>
  </div>
</div>
