<link rel="stylesheet" href="/assets/component-collection-hero.css" media="print" onload="this.media='all'">
<style>
  
  .bc-password-form .field__input{
    background-color:{{sectionSettings.input_bg_color}} !important;
    color:{{sectionSettings.input_color}} !important;
  }
  
  .bc-password-form input[type='password']::-webkit-input-placeholder { /* Edge */
    color:{{sectionSettings.input_color}};
    opacity:.6;
  }

  .bc-password-form input[type='password']:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:{{sectionSettings.input_color}};
    opacity:.6;
  } 

  .bc-password-form input[type='password']::placeholder {
    color:{{sectionSettings.input_color}};
    opacity:.6;
  }
  .bc-password-form .bc-submit {
    background-color: {{sectionSettings.btn_bg_color}};
    color:{{sectionSettings.btn_color}};
  }
</style>
<collection-password style="width:100%" class="collection-hero collection-hero-password  {{#if sectionSettings.show_collection_image }} collection-hero--with-image{{/if}}">
  <div class="collection-hero__inner collection-hero__inner-template--15300017946785__banner" {{#if sectionSettings.banner_link }} style="cursor: pointer;" aria-href=" {{ sectionSettings.banner_link }}" {{/if}}>
     <style type="text/css">
            .collection-hero__inner-template--15300017946785__banner {
                color: #000000;
                position: relative;
            }

            .collection-hero__inner-template--15300017946785__banner::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0.2;
            }
        </style>
        <div class="collection-hero__text-wrapper">
            <link href="//cdn.shopify.com/s/files/1/0584/1993/7441/t/22/assets/component-countdown.css?v=9146750419304450665" rel="stylesheet" type="text/css" media="all">

            <count-down data-date="2022-11-25T00:00:00">
                <div id="countdown-container" class="countdown-container">
                    <article id="js-countdown" class="countdown">
                        <div id="js-days" class="number"><span class="new current">09</span></div>
                        <div id="js-hours" class="number"><span class="new current">19</span></div>
                        <div id="js-minutes" class="number"><span class="new current">42</span></div>
                        <div id="js-seconds" class="number"><span class="new current">57</span></div>
                    </article>
                </div>
            </count-down>

            <script src="//cdn.shopify.com/s/files/1/0584/1993/7441/t/22/assets/component-countdown.js?v=1074139929380656811" defer="defer"></script>
            <form action="/password" method="GET" data-id="3bd4df00b166e32e17d47f4ed5bf83d3" class="bc-password-form">
                <div class="bc-password-wrapper">
                    <input type="password" name="password" id="coll-password-field" class="field__input" placeholder="Password" required=""><span class="bc-error-message bc-hide" data-type="error">HINT: USE ALL CAPS</span>
                </div>
                <div class="bc-button-wrapper">
                    <button type="submit" name="submit" class="button bc-submit">Enter</button>
                </div>
            </form>
        </div>
        {{#if sectionSettings.show_collection_image }}
        <div class="collection-hero__image-container media "><img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_165x.png?v=1632482026 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_360x.png?v=1632482026 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_535x.png?v=1632482026 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_720x.png?v=1632482026 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_940x.png?v=1632482026 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_1070x.png?v=1632482026 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_533x.png?v=1632482026" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)" alt="COLOR THE BANDEAU SKIRT" loading="lazy" width="1273" height="1920"></div>
        <div class="collection-hero__image-container media large-up-hide medium-hide"><img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_165x.png?v=1632482026 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_360x.png?v=1632482026 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_535x.png?v=1632482026 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_720x.png?v=1632482026 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_940x.png?v=1632482026 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_1070x.png?v=1632482026 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/collections/8_533x.png?v=1632482026" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)" alt="COLOR THE BANDEAU SKIRT" loading="lazy" width="1273" height="1920"></div>
        {{/if}}
    </div>
</collection-password>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" defer="defer"></script>
<script src="/assets/collection-password.js" defer="defer"></script>
<script>
  if(document.getElementsByClassName('pw-banner').length>0){
    var HSL = document.getElementsByClassName("pw-banner");
    var i;

    for (i = 0; i < HSL.length; i++) {
      if(HSL[i].getAttribute('aria-href')!=null)
      HSL[i].addEventListener("click", function() {
        window.location.href = this.getAttribute('aria-href');
      });
    }
  }
</script>
