<div class="bc-marquee-wrapper py-<%=section.settings.br%> py-<%=section.settings.bg_color%> py-<%=section.settings.page_x_mg%> py-<%=section.settings.page_y_mg%> t-bg_color t-page_y_mg t-br t-page_x_mg">
  <div class="page-width py-<%=section.settings.page_width%> py-<%=section.settings.page_x_pd%> py-<%=section.settings.page_y_pd%> t-page_y_pd t-page_width t-page_x_pd">    
    <marquee class="bc-marquee-wrapper__marquee" 
        direction="<%=section.settings.direction%>" 
        behavior="<%=section.settings.behavior%>" 
        scrollamount="<%=section.settings.speed%>"
        <% if(section.settings.pause){ %>
        onmouseover="this.stop();"
        onmouseout="this.start();"
        <% } %>
    >
        <span class="py-<%=section.settings.font_size%> t-font_size">Fine art, made accessible. The world's greatest modern artists, all in one place — Fine art, made accessible. The world's greatest modern artists, all in one place — Fine art, made accessible. The world's greatest modern artists, all in one place<span>
    </marquee>    
  </div>
</div>

