<link rel="preload" href="/assets/section-partners.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<partenrs-list class="partners s-<%=settings.section_style%>">
  <div class="page-width s-<%=settings.section_style%>">
    <div class="partners-heading small-hide s-<%=settings.section_style%>">
      <h2 class="partners__title partners__title-1642704339099a51f4-0 active" data-index="1">Partner 1</h2>
      <h2 class="partners__title partners__title-1642704339099a51f4-2 " data-index="2">Partner 2</h2>
      <h2 class="partners__title partners__title-1642704339099a51f4-1 " data-index="3">Partner 3</h2>
    </div>
    <ul class="partners-list bc-scroll-hide s-<%=settings.section_style%>">
      <li class="partners-list__item">
          <div class="partners-list__item-link" data-index="1">
              <div class="media " style="padding-bottom: 15.656565656565657%;">
                  <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/NewYorkTimes_200x_d8201d55-4c9f-44f2-9a97-a72c404ed737_165x.png?v=1627573924 165w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/NewYorkTimes_200x_d8201d55-4c9f-44f2-9a97-a72c404ed737_535x.png?v=1627573924" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="198" height="31" class="partners-list__item-img active">
              </div>
          </div>
      </li>
      <li class="partners-list__item">
          <div class="partners-list__item-link" data-index="2">
              <div class="media " style="padding-bottom: 100.0%;">
                  <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/Frame_1_1_200x_3cc55f05-de06-437c-9b54-b9a44d327cdd_165x.png?v=1627573910 165w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/Frame_1_1_200x_3cc55f05-de06-437c-9b54-b9a44d327cdd_535x.png?v=1627573910" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="200" height="200" class="partners-list__item-img">
              </div>
          </div>
      </li>
      <li class="partners-list__item">
          <div class="partners-list__item-link" data-index="3">
              <div class="media " style="padding-bottom: 27.63819095477387%;">
                  <img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/HypeBae_200x_e802ddbf-29ba-4f04-a298-b6afb512f038_165x.png?v=1627573942 165w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/HypeBae_200x_e802ddbf-29ba-4f04-a298-b6afb512f038_535x.png?v=1627573942" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="199" height="55" class="partners-list__item-img">
              </div>
          </div>
      </li>
    </ul>
    <div class="center s-<%= settings.section_style %>">      
      <a id="bc__button-template--15300017979553__164270433906bea646" class="button" href="#">Button label</a>
    </div>
  </div>
</partenrs-list>

<script type="text/javascript">

  class partenrsList extends HTMLElement {
    
    constructor(){
      super();
      this.partenrsImages = this.querySelectorAll('.partners-list__item-link');
      this.partenrsImages.length && this.partenrsImages.forEach(image => {
        image.addEventListener('click', this.buttonHandle.bind(this));
      });
    };

    buttonHandle(event){
      if(!event) return;
      let el    = event.target;
      let index = el.getAttribute('data-index');
      let img   = el.querySelector('.partners-list__item-img');

      document.querySelector('.partners__title.active').classList.remove('active');
      document.querySelector('.partners-list__item-img.active').classList.remove('active');
      document.querySelector('.partners__title[data-index="' + index + '"]').classList.add('active');
      img.classList.add('active');
    }

  }

  customElements.define('partenrs-list', partenrsList);

</script>
