<link rel="stylesheet" href="/assets/component-rte.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/assets/section-rich-text.css" media="print" onload="this.media='all'">

<div class="rich-text py-<%= section.settings.bgc %> py-<%= section.settings.br %> py-<%= section.settings.sxmg %> py-<%= section.settings.symg %>">
  <div class="page-width py-<%= section.settings.pw %> py-<%= section.settings.pxpd %> py-<%= section.settings.pypd %>">
    <div class="rich-text__blocks">
      <div class="rich-text__text rte py-c-light py-fs-xl">
          <p>We are a digital arthouse based across New York City [USA] and Tokyo [JP]. Read our story <a href="https://baseline-theme-bold.myshopify.com/pages/about-us" title="About us">here</a>. Or buy some of our <a href="https://baseline-theme-bold.myshopify.com/collections/the-collection" title="The Collection">art</a>.</p>
      </div>
    </div>
  </div>
</div>
