<link rel="stylesheet" href="/assets/section-slider-with-text.css" media="print" onload="this.media='all'">
<link rel="preload" href="/assets/component-slider.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<div class="bc-slider-with-text">
  <div class="page-width">
    <div class="bc-slider-with-text__wrapper" {{#if sectionSettings.bg_color}}style="background: {{ sectionSettings.bg_color }};"{{/if}}>
		<slider-component class="bc-slider-with-text__slider-wrapper">
			<ul class="list-unstyled slider slider--desktop" role="list">
				<li class="slider__slide">
					<div class="media " style="padding-bottom: 66.66666666666666%;">
						<img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_165x.jpg?v=1639584425 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_360x.jpg?v=1639584425 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_535x.jpg?v=1639584425 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_720x.jpg?v=1639584425 720w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_940x.jpg?v=1639584425 940w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_1070x.jpg?v=1639584425 1070w" src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-godisable-jacob-718977_535x.jpg?v=1639584425" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="5472" height="3648" class="">
					</div>
				</li>
				<li class="slider__slide">
					<div class="media " style="padding-bottom: 66.625%;">
						<img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_165x.jpg?v=1639584550 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_360x.jpg?v=1639584550 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_535x.jpg?v=1639584550 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_720x.jpg?v=1639584550 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-andrea-piacquadio-837140_535x.jpg?v=1639584550" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="533" class="">
					</div>
				</li>
				<li class="slider__slide">
					<div class="media " style="padding-bottom: 66.625%;">
						<img srcset="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_165x.jpg?v=1639586510 165w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_360x.jpg?v=1639586510 360w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_535x.jpg?v=1639586510 535w,//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_720x.jpg?v=1639586510 720w," src="//cdn.shopify.com/s/files/1/0584/1993/7441/files/pexels-alexandra-maria-318236_fb8f0763-fb43-4d45-8c66-84092b1ef809_535x.jpg?v=1639586510" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="800" height="533" class="">
					</div>
				</li>
			</ul>
			<div class="slider-buttons slider-buttons-desktop slider-buttons--overlay no-js-hidden">
				<button type="button" class="slider-button slider-button--prev" name="previous" aria-label="Slide left" disabled="true"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
						</path>
					</svg>
				</button>
				<div class="slider-counter caption">
					<span class="slider-counter--current">1</span>
					<span aria-hidden="true"> / </span>
					<span class="visually-hidden">of</span>
					<span class="slider-counter--total">3</span>
				</div>
				<button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
						</path>
					</svg>
				</button>
			</div>
		</slider-component>
      <div class="bc-slider-with-text__text-wrapper" {{#if (eq sectionSettings.color 'blank')}}style="color: {{ sectionSettings.color }};"{{/if}}>
        <div class="bc-slider-with-text__text-content">
			<h2 class="bc-slider-with-text__text-heading">
				{{ sectionSettings.heading }}
			</h2>
			<div class="bc-flex">
				<div class="right">
					<span class="bc-slider-with-text__text-label">
						{{sectionSettings.t_l_1}}
					</span>
					<span class="bc-slider-with-text__text-label">
						{{sectionSettings.t_l_2}}
					</span>
					<span class="bc-slider-with-text__text-label">
						{{sectionSettings.t_l_3}}
					</span>
				</div>
				<div style="text-align:left;">
					<span class="bc-slider-with-text__text-value">
						{{sectionSettings.t_1}}
					</span><span class="bc-slider-with-text__text-value">
						{{sectionSettings.t_2}}
					</span><span class="bc-slider-with-text__text-value">
						{{sectionSettings.t_3}}
					</span></div>
			</div>
			<h3 class="bc-slider-with-text__text-title">
				{{sectionSettings.title}}
			</h3>
			<div class="bc-slider-with-text__text-text">
				{{sectionSettings.text}}
			</div>
		</div>
      </div>      
    </div>
  </div>
</div>

