<% if(blocks){ %>
    <div class="py__settings-wrapper">
        <% blocks.forEach(block => { %>
            <% if(block.type && block.type !== '@app'){ %>
                <div class="py__settings-item-wrapper  py__settings-block-item" data-type="<%=block.type%>">
                    <div class="py__settings-item-name">
                        <span><%= block.name %></span>
                        <span class="py__settings-item-icon"><%- include('../icons', {type: 'arrow_bottom'}) %></span>
                    </div>
                    <div class="py__settings-item-content">
                        <% block?.settings?.forEach(item => { %>
                            <% if(item.type === 'color'){ %>
                                <%- include('../components/color', {global: global, data: item, typeIs: block.type.trim().toLowerCase() }) %>
                            <% } else if(item.type === 'text' && item.label !== 'Google Font'){ %>
                                <%- include('../components/text', {global: global, data: item}) %>
                            <% } else if(item.type === 'select'){ %>
                                <%- include('../components/select', {global: global, data: item}) %>
                            <% } else if(item.type === 'checkbox'){ %>
                                <%- include('../components/checkbox', {global: global, data: item}) %>
                            <% } else if(item.type === 'range'){ %>
                                <%- include('../components/range', {global: global, data: item}) %>
                            <% } else if(item.type === 'text' && item.label === 'Google Font' && fonts){ %>
                                <%- include('../components/font', {global: global, data: item, fonts: fonts}) %>
                            <% } else if(item.type === 'textarea'){ %>
                                <%- include('../components/textarea', {global: global, data: item}) %>
                            <% } else if(item.type === 'richtext'){ %>
                                <%- include('../components/richtext', {global: global, data: item}) %> 
                            <% } else if(item.type === 'paragraph'){ %>
                                <%- include('../components/paragraph', {data: item}) %>
                            <% } %>
                        <% }) %>
                        <input type="hidden" name="block_type_<%= block.type %>" value="<%= block.type %>">
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>