<header class="py__header-random">
    <div class="py__header-random-wrapper">
        <div class="py__header-random-logo">
            <a href="/">
                <img src="/images/logo.png" alt="<%=make.title%>" width="120"/>
            </a>
        </div>
        <div class="py__header-random-buttons">
            <% if(pages?.length){ %>
                <div class="py__preview-select">
                    <select class="py__preview-pages-select">
                        <% pages.forEach(item => { %> 
                            <option data-href="/remix/<%=id%>?page=<%=item.handle%>" <% if(page_handle === item.handle){ %>selected<% } %>>
                                <%=item.name%>
                            </option>
                        <% }) %>
                    </select>
                </div>
            <% } %> 
            <% if(user){ %>
                <a href="/add/<%=user._id%>" data-theme-id="<%=id%>" class="py__button py__button-black py__add-theme-button">
                    Add Theme
                </a>
                <a href="/logout" class="py__button py__button-white">
                    Log Out
                </a>
            <% } else { %>
                <a href="/login" class="py__button py__button-white py__login-button">
                    Log In
                </a>
                <% if(show){ %>
                <a href="/signup" class="py__button py__button-white py__signup-button" data-id="<%=id%>">
                    Download Theme
                </a>
                <% } %>
            <% } %>
        </div>
    </div>
</header>