<div class="py__settings-select">
    <div class="py__settings-select-options">
        <ul class="py__options-ul">
            <% sidebar.forEach((item, index) => { %>
                <li class="py__options-ul-li py__options-ul-li-<%=index%>">
                    <% if(item.subOptions){ %>
                        <a class="py__settings-select-options-item <% if(item.type === 'page' || activeType === 'section'){ %>active<% } %>">
                            <span><%- include('../icons', {type: item.icon}) %></span>
                            <span class="py__select-option-label"><%= item.title %></span>
                        </a>
                        <ul class="py__sub-options-ul">
                            <% let subMenuItems = item.type === 'page' ? pages : sections %>
                            <% let announcementItem = settings?.sections['announcement-bar'] %>
                            <% let announcementSchemaItem = sectionsSchema?.filter(section => section.file_handle === announcementItem?.type) %>
                            <li>
                                <a href="/remix-editor/<%=id%>?page=<%=page_handle%>&section=<%=announcementItem.type%>" class="py__sub-options-item py__get-section-button <% if(item.type === 'page' && announcementItem.type === page_handle || activeType === 'section' && announcementItem.type === active){ %>active<% } %>">
                                    <span><%= announcementSchemaItem[0]?.section[0]?.name %></span>
                                    <span><%- include('../icons', {type:'arrow_right'}) %></span>
                                </a>
                            </li>
                            <% let headerItem = settings?.sections['header'] %>
                            <% let headerSchemaItem = sectionsSchema?.filter(section => section.file_handle === headerItem?.type) %>
                            <li>
                                <a href="/remix-editor/<%=id%>?page=<%=page_handle%>&section=<%=headerItem.type%>" class="py__sub-options-item py__get-section-button <% if(item.type === 'page' && headerItem.type === page_handle || activeType === 'section' && headerItem.type === active){ %>active<% } %>">
                                    <span><%= headerSchemaItem[0]?.section[0]?.name %></span>
                                    <span><%- include('../icons', {type:'arrow_right'}) %></span>
                                </a>
                            </li>
                            <% subMenuItems?.order?.forEach((orderItem,index) => { %>
                                <% let sectionItem = subMenuItems?.sections[orderItem] %>
                                <% let sectionSchemaItem = sectionsSchema?.filter(section => section.file_handle === sectionItem?.type) %>
                                <% let subMenuLinks = item.type === 'page' ? `page=${subOption.name}` : `page=${page_handle}&section=${sectionItem.type}&section_id=${orderItem}` %>
                                <li>
                                    <a href="/remix-editor/<%=id%>?<%=subMenuLinks%>" class="py__sub-options-item py__get-section-button <% if(item.type === 'page' && sectionItem.type === page_handle || activeType === 'section' && sectionItem.type === active){ %>active<% } %>">
                                        <span><%= sectionSchemaItem[0]?.section[0]?.name %></span>
                                        <span><%- include('../icons', {type:'arrow_right'}) %></span>
                                    </a>
                                </li>
                            <% }) %>
                            <% let footerItem = settings?.sections['footer'] %>
                            <% let footerSchemaItem = sectionsSchema?.filter(section => section.file_handle === footerItem?.type) %>
                            <li>
                                <a href="/remix-editor/<%=id%>?page=<%=page_handle%>&section=<%=footerItem.type%>" class="py__sub-options-item py__get-section-button <% if(item.type === 'page' && footerItem.type === page_handle || activeType === 'section' && footerItem.type === active){ %>active<% } %>">
                                    <span><%= footerSchemaItem[0]?.section[0]?.name %></span>
                                    <span><%- include('../icons', {type:'arrow_right'}) %></span>
                                </a>
                            </li>
                        </ul>
                    <% } else { %>
                        <a href="/remix-editor/<%=id%>?page=<%=page_handle%>&<%=item.type%>=<%=item.handle%>" class="py__settings-select-options-item py__get-section-button <%=item?.handle%><% if(item.handle === active){ %> active<% } %>" data-handle="<%=item?.handle%>">
                            <span><%- include('../icons', {type: item.icon}) %></span>
                            <span class="py__select-option-label"><%= item.title %></span>
                        </a>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    </div>
</div>