<% if(settings){ %>
    <div class="py__settings-wrapper">
        <% if(!global){ %>
            <input type="hidden" name="section_name" value="<%= active %>"/>
        <% } %>
        <% settings.forEach(item => { %>
            <% if(global && item.type === 'header' && item.content !== '__________'){ %>
                <div class="py__settings-item-wrapper">
                    <div class="py__settings-item-name">
                        <span><%= item.content %></span>
                        <span class="py__settings-item-icon"><%- include('../icons', {type: 'arrow_bottom'}) %></span>
                    </div>
                    <div class="py__settings-item-content">
                <% } %>
                    <% if(item.type === 'color'){ %>
                        <%- include('../components/color', {global: global, data: item}) %>
                    <% } else if(item.type === 'text' && item.label !== 'Google Font'){ %>
                        <%- include('../components/text', {global: global, data: item}) %>
                    <% } else if(item.type === 'select'){ %>
                        <%- include('../components/select', {global: global, data: item}) %>
                    <% } else if(item.type === 'checkbox'){ %>
                        <%- include('../components/checkbox', {global: global, data: item}) %>
                    <% } else if(item.type === 'range'){ %>
                        <%- include('../components/range', {global: global, data: item}) %>
                    <% } else if(item.type === 'text' && item.label === 'Google Font' && fonts){ %>
                        <%- include('../components/font', {global: global, data: item, fonts: fonts}) %>
                    <% } %>
                <% if(global && item.type === 'header' && item.content === '__________'){ %>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>