<% if(settings){ %>
    <div class="py__settings-wrapper">
        <% if(global === "section"){ %>
            <input type="hidden" name="section_name" value="<%= active %>"/>
        <% } %>
        <% if(page === "Home Page"){ %>
            <input type="hidden" name="template_name" value="index"/>
        <% } else if(page === "Collection Page"){ %>
            <input type="hidden" name="template_name" value="collection"/>
        <% } else if(page === "Product Page"){ %>
            <input type="hidden" name="template_name" value="product"/>
        <% } %> 
        <% settings.forEach(item => { %>
            <% if(global === "settings" && item.type === 'header' && item.content !== '__________'){ %>
                <div class="py__settings-item-wrapper">
                    <div class="py__settings-item-name">
                        <span><%= item.content %></span>
                        <span class="py__settings-item-icon"><%- include('../icons', {type: 'arrow_bottom'}) %></span>
                    </div>
                    <div class="py__settings-item-content">
                <% } %>
                    <% if(item.type === 'color'){ %>
                        <%- include('../components/color', {global: global, data: item, typeIs: false}) %>
                    <% } else if(item.type === 'text' && item.label !== 'Google Font'){ %>
                        <%- include('../components/text', {global: global, data: item}) %>
                    <% } else if(item.type === 'select'){ %>
                        <%- include('../components/select', {global: global, data: item}) %>
                    <% } else if(item.type === 'checkbox'){ %>
                        <%- include('../components/checkbox', {global: global, data: item}) %>
                    <% } else if(item.type === 'range'){ %>
                        <%- include('../components/range', {global: global, data: item}) %>
                    <% } else if(item.type === 'text' && item.label === 'Google Font' && fonts){ %>
                        <%- include('../components/font', {global: global, data: item, fonts: fonts}) %>
                    <% } else if(item.type === 'textarea'){ %>
                        <%- include('../components/textarea', {global: global, data: item}) %>
                    <% } else if(item.type === 'richtext'){ %>
                        <%- include('../components/richtext', {global: global, data: item}) %>    
                    <% } else if(item.type === 'paragraph'){ %>
                        <%- include('../components/paragraph', {data: item}) %>
                    <% } %>
                <% if(global === "settings" && item.type === 'header' && item.content === '__________'){ %>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>