<% if(schemaSettings){ %>
    <div class="py__settings-wrapper <% if(global === "section"){ %>py__settings-section-item<% } %>" <% if(global === "section"){ %>data-section-handle="<%=active%>"<% } %> <% if(section_id){ %>data-section-id="<%=section_id%>"<% } %> data-template-name="<%=templateName%>">
        <% schemaSettings.forEach((item, index) => { %>

            <% if(global === "settings" && item.type === 'header' && index !== 0){ %>
                    </div>
                </div>
            <% } %>

            <% if(global === "settings" && item.type === 'header'){ %>
                <div class="py__settings-item-wrapper">
                    <div class="py__settings-item-name">
                        <span><%= item.content %></span>
                        <span class="py__settings-item-icon"><%- include('../icons', {type: 'arrow_bottom'}) %></span>
                    </div>
                    <div class="py__settings-item-content">
            <% } %>

            <% if(item.type === 'color'){ %>
                <%- include('../components/color', {global: global, data: item, value: settings[item.id], typeIs: false}) %>
            <% } else if(item.type === 'text' && item.label !== 'Google Font'){ %>
                <%- include('../components/text', {global: global, data: item, value: settings[item.id]}) %>
            <% } else if(item.type === 'select'){ %>
                <%- include('../components/select', {global: global, data: item, value: settings[item.id]}) %>
            <% } else if(item.type === 'checkbox'){ %>
                <%- include('../components/checkbox', {global: global, data: item, value: settings[item.id]}) %>
            <% } else if(item.type === 'range'){ %>
                <%- include('../components/range', {global: global, data: item, value: settings[item.id]}) %>
            <% } else if(item.type === 'text' && item.label === 'Google Font' && fonts){ %>
                <%- include('../components/font', {global: global, data: item, fonts: fonts, value: settings[item.id]}) %>
            <% } else if(item.type === 'textarea'){ %>
                <%- include('../components/textarea', {global: global, data: item, value: settings[item.id]}) %>
            <% } else if(item.type === 'richtext'){ %>
                <%- include('../components/richtext', {global: global, data: item, value: settings[item.id]}) %>    
            <% } else if(item.type === 'paragraph'){ %>
                <%- include('../components/paragraph', {data: item}) %>
            <% } else if(item.type !== 'header' && item.type !== 'paragraph'){ %>
                <input type="hidden" name="<%= global !== "section" ? global + "_" + item.id : item.id %>" value="<%=settings[item.id]%>">
            <% } %>

            <% if(global === "settings" && (index + 1) === schemaSettings.length){ %>
                    </div>
                </div>
            <% } %>
                
        <% }) %>
    </div>
<% } %>