<link rel="stylesheet" href="/<%=srcId%>/section-accordion-with-product.css">

<div class="bc-accordion-with-product bc-<%=settings.section_style%>-bt">
  <div class="page-width page-width-<%=settings.section_style%>">
    <div class="bc-accordion-with-product__wrapper" <% if(section.settings.bg_color){ %>style="background: <%= section.settings.bg_color %>;"<% } %>>
      <% if(section.blocks.length > 0){ %>
        <accordion-component class="bc-accordion-with-product__accordion-wrapper">
          <ul class="list-unstyled bc-accordion-with-product__accordion-list" role="list" <% if(section.settings.color){ %>style="color: <%= section.settings.color %>;"<% } %>>
            <% section.blocks.forEach((block, index)=> { %>
              <li class="bc-accordion-with-product__accordion-item">
                <div class="bc-accordion-with-product__listener">
                  <div class="bc-accordion-with-product__image">
                    <% if(block.settings?.icon){ %>
                      <img src="<%= block.settings?.icon %>" 
                            loading="lazy"
                            width="<%= block.settings?.icon.width %>"
                            height="<%= block.settings?.icon.height %>"
                            alt="<%= block.settings?.icon.alt %>"
                            />
                    <% } else { %>
                      &nbsp;
                    <% } %>
                  </div>
                  <h2 class="bc-accordion-with-product__text">
                    <%= block.settings?.text ? block.settings?.text : 'Heading' + index %>
                  </h2>
                  <span class="bc-accordion-with-product__icon">+</span>
                </div>
                <div class="bc-accordion-with-product__content">
                  <%= block.settings?.content ? block.settings?.content : 'Content' + index %>
                </div>
              </li>
            <% }) %>
          </ul>
        </accordion-component>
      <% } %>
      <div class="bc-accordion-with-product__product-wrapper">
        <% if(product){ %>
          <% var featurProduct = product %>
          <div>
            <img src="<%= product.images[0].src %>" loading="lazy"/>
          </div>
        	<h2 class="bc-accordion-with-product__product-title">
              <%= featurProduct.title %>
              <% if(section.settings.icon){ %>
                <img src="<%= section.settings.icon %>" 
                     loading="lazy" 
                     width="<%= section.settings.icon.width %>"
                     height="<%= section.settings.icon.height %>" 
                     class="bc-accordion-with-product__product-icon"/>
              <% } %>
        	</h2>
          <product-form class="product-form">
            <form id="product_form_id" class="form">
              <input type="hidden" name="id" value="<%= featurProduct.id %>">
              <% if(featurProduct?.metafields?.gift?.product_id){ %>
                <input type="hidden" name="gift_id" value="<%= featurProduct?.metafields?.gift?.product_id %>">
              <% } %>
              <div class="product-form__buttons">
                <button
                        type="submit"
                        name="add"
                        class="product-form__submit button button--full-width button--primary"
                        <% if(!featurProduct?.selected_or_first_available_variant?.available){ %>disabled<% } %>
                        >
                  <span>
                    <% if(featurProduct?.selected_or_first_available_variant?.available){ %>
                      Add to cart
                    <% } else { %>
                      Sold out
                    <% } %>
                  </span>
                  <div class="no-js-hidden bc-product-price-wrapper" id="price-1">
                    <%# include('../snippets/price', {product: featurProduct, use_variant: true, show_badges: false, price_class: 'price--large'}) %>
                  </div>
                </button>
              </div>
            </form>
          </product-form>
        <% } else { %>
          <div class="media placeholder media-placeholder">
            <%# include('../snippets/resimg', {classwrapper: '', classimg: '', image: ''}) %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
  class AccordionComponent extends HTMLElement {

      constructor(){
        super();
        this.button = this.querySelectorAll('.bc-accordion-with-product__listener');
        this.button.length && this.button.forEach((item) => {
            item.addEventListener("click", this.openOrClose.bind(this));
        });
      }

      openOrClose(e){
        let item = e.target.closest('.bc-accordion-with-product__accordion-item');
        let content = item.querySelector('.bc-accordion-with-product__content');
        if(content.classList.contains('open')){
          item.querySelector('.bc-accordion-with-product__icon').textContent = "+";
          content.classList.remove('open');
        } else {
          item.querySelector('.bc-accordion-with-product__icon').textContent = "-";
          content.classList.add('open');
        }
      }

  }

  customElements.define("accordion-component", AccordionComponent);
</script>