<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" >
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" >

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'customer.css' | asset_url | stylesheet_tag }}
<style>  
  .page-container{
    background-color:{{section.settings.page_bg_color}};
    padding:5px;    
  }
  .page-container .customer *:not(.register_btn){
    color:{{section.settings.page_color}};
  }
  .page-container .customer .field input {
    border:{{section.settings.field_border_width}}px solid {{section.settings.field_br_color}};
    border-radius:{{section.settings.field_border_radius}}px;
    background-color:{{section.settings.field_bg_color}};
    color:{{section.settings.field_color}};
    padding: 12px 15px;
    width:100%;
  }
  .page-container .customer .register_btn{
    width:100%;
  }
</style>
<div class="page-container">
  <div class="customer register">
    <svg style="display: none">
      <symbol id="icon-error" viewBox="0 0 13 13">
        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
      </symbol>
    </svg>
    <h1>
      {{ 'customer.register.title' | t }}
    </h1>
    {%- form 'create_customer', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1" autofocus>
          <svg aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-error" />
          </svg>
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        <ul> 
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#RegisterForm-{{ field }}">
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <div class="field">      
        <label for="RegisterForm-FirstName">
          {{ 'customer.register.first_name' | t }}
        </label>
        <input
          type="text"
          name="customer[first_name]"
          id="RegisterForm-FirstName"
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
          autocomplete="given-name"
          placeholder="{{ 'customer.register.first_name' | t }}"
        >
        
      </div>
      <div class="field">
        <label for="RegisterForm-LastName">
          {{ 'customer.register.last_name' | t }}
        </label>
        <input
          type="text"
          name="customer[last_name]"
          id="RegisterForm-LastName"
          {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
          autocomplete="family-name"
          placeholder="{{ 'customer.register.last_name' | t }}"
        >
        
      </div>
      <div class="field">      
        <label for="RegisterForm-email">
          {{ 'customer.register.email' | t }}
        </label>
        <input
          type="email"
          name="customer[email]"
          id="RegisterForm-email"
          {% if form.email %} value="{{ form.email }}"{% endif %}
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-email-error"
          {% endif %}
          placeholder="{{ 'customer.register.email' | t }}"
        >
        
      </div>
      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="form__message">
          <svg aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
        </span>
      {%- endif -%}
      <div class="field">     
        <label for="RegisterForm-password">
          {{ 'customer.register.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="RegisterForm-password"
          aria-required="true"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-password-error"
          {% endif %}
          placeholder="{{ 'customer.register.password' | t }}"
        >
        
      </div>
      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="form__message">
          <svg aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
        </span>
      {%- endif -%}
      <button class="register_btn button py-btn-{{section.settings.register_btn_color}} py-btn-hover-{{section.settings.register_btn_hover_color}} py-btn-{{section.settings.register_btn_size}}">
        {{ 'customer.register.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>
{% schema %}
{
  "name": "Customer-Register Page",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "page_bg_color",
      "label": "Page Background Color",
      "options": [          
         {
            "label": "Transparent",
            "value": "transparent"
         },        
         {
            "label": "Dark",
            "value": "var(--py-bg-color-dark)"
         },
         {
            "label": "Middle Dark",
            "value": "var(--py-bg-color-middle-dark)"
         },
         {
            "label": "Average",
            "value": "var(--py-bg-color-avarge)"
         },
         {
            "label": "Middle Light",
            "value": "var(--py-bg-color-middle-light)"
         },
         {
            "label": "Light",
            "value": "var(--py-bg-color-light)"
         }
       ],
     "default": "var(--py-bg-color-light)"
    },
    {
        "type": "select",
        "id": "page_color",
        "label": "Page Text Color",
        "options": [ 
            {
            "label": "Dark",
            "value": "var(--py-color-dark)"
            },
            {
            "label": "Average",
            "value": "var(--py-color-avarge)"
            },
            {
            "label": "Light",
            "value": "var(--py-color-light)"
            }
        ],
        "default": "var(--py-color-dark)"
    },
    {
      "type": "header",
      "content": "Field Style"
    },
    {
      "type": "select",
      "id": "field_bg_color",
      "label": "Field Background Color",
      "options": [          
         {
            "label": "Transparent",
            "value": "transparent"
         },        
         {
            "label": "Dark",
            "value": "var(--py-bg-color-dark)"
         },
         {
            "label": "Middle Dark",
            "value": "var(--py-bg-color-middle-dark)"
         },
         {
            "label": "Average",
            "value": "var(--py-bg-color-avarge)"
         },
         {
            "label": "Middle Light",
            "value": "var(--py-bg-color-middle-light)"
         },
         {
            "label": "Light",
            "value": "var(--py-bg-color-light)"
         }
       ],
     "default": "var(--py-bg-color-light)"
    },
    {
        "type": "select",
        "id": "field_color",
        "label": "Field Text Color",
        "options": [ 
            {
            "label": "Dark",
            "value": "var(--py-color-dark)"
            },
            {
            "label": "Average",
            "value": "var(--py-color-avarge)"
            },
            {
            "label": "Light",
            "value": "var(--py-color-light)"
            }
        ],
        "default": "var(--py-color-dark)"
    },
    {
        "type": "range",
        "id": "field_border_width",
        "min": 0,
        "max": 5,
        "step": 1,
        "default": 1,
        "label": "Field Border Width"
    },
    {
        "type": "range",
        "id": "field_border_radius",
        "min": 0,
        "max": 40,
        "step": 1,
        "default": 5,
        "label": "Field Border Radius"
    },
    {
        "type": "select",
        "id": "field_br_color",
        "label": "Field Border Color",
        "options": [ 
            {
            "label": "Dark",
            "value": "var(--py-color-dark)"
            },
            {
            "label": "Average",
            "value": "var(--py-color-avarge)"
            },
            {
            "label": "Light",
            "value": "var(--py-color-light)"
            }
        ],
        "default": "var(--py-color-dark)"
    }    ,
    {
      "type": "header",
      "content": "Register Button Style"
    },
    {
      "type": "select",
      "id": "register_btn_size",
      "label": "Register Button Size",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "register_btn_color",
      "label": "Register Button Color style",
      "options": [
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "light"
    },
    {
      "type": "select",
      "id": "register_btn_hover_color",
      "label": "Register Button Hover Color style",
      "options": [
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Average",
          "value": "average"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ],
      "default": "dark"
    }
  ]
}
{% endschema %}
