<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}

<style>
  .title--primary{
    color: {{section.settings.title_color}};
    font-size:{{section.settings.title_font_size}}px;
    font-weight:{{section.settings.title_font_weight}}
  }
  .blog-articles{
    grid-gap :{{section.settings.item_space}}px;
    margin-right:-{{section.settings.item_space}}px;
  }
  .blog-articles .article .article-card__info{
    padding:25px 15px;
  }
  .blog-articles .article *{
    text-align:{{section.settings.info_align}};
  }
      
  .blog-articles .article{
    border-radius:{{section.settings.card_radius}}px;
    overflow:hidden;
  }
 
  .blog-carousel .grid__item{
    padding-left:0;
    padding-right:{{section.settings.item_space}}px;
    padding-top:{{section.settings.item_space}}px;
  }  
  /* width */
  .blog-carousel .slider::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    display:initial;
    background:#666;
    border-radius: 10px;    
  }

  /* Track */
  .blog-carousel .slider::-webkit-scrollbar-track {    
    border-radius: 10px;
  }

  /* Handle */
  .blog-carousel .slider::-webkit-scrollbar-thumb {
    background: {{section.settings.title_color}}; 
    border-radius: 10px;
  } 
  .blog-carousel .slider{
    padding-bottom:20px;
  }
  .blog-carousel .slider-button{
    background-color:{{section.settings.title_color}};
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 5px;
  }
  .blog-carousel .slider-button path{
    fill: {{section.settings.title_color}};
    filter: invert(1);
  }
  .blog-carousel .slider-buttons{
    bottom: auto;
    top: 45%;
    left:-15px;
    width: calc(100% + 15px + {{section.settings.item_space}}px);
  }
  
</style>

  <div class="main-blog blog-carousel py-{{section.settings.bg_color}} py-{{section.settings.page_y_pd}} py-{{section.settings.page_x_pd}}">
    <div class="page-width py-{{section.settings.page_width}} py-{{section.settings.page_y_mg}} py-{{section.settings.page_y_mg}}">
      <h1 class="title--primary">{{ section.settings.title | escape }}</h1>
      <div class="blog-articles">
        <slider-component class="slider-mobile-gutter">
          <ul class="grid grid--1-col grid--2-col-tablet grid--3-col-desktop slider slider--desktop negative-margi negative-margin--small" role="list">
            {%- for article in section.settings.blog.articles -%}
              <li class="grid__item slider__slide">
                <div class="blog-articles__article article py-{{section.settings.card_bg_color}}">
                  {%- render 'article-card', article: article, show_image: section.settings.show_image -%}
                </div>
              </li>      
            {%- endfor -%}
          </ul>    
          
          <div class="slider-buttons slider-buttons-desktop no-js-hidden{% if section.settings.blog.articles_count < 4 %}large-up-hide medium-hide{% endif %}{% if section.settings.blog.articles_count < 3 %} small-hide{% endif %}">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
         
        </slider-component>  
      </div>
    </div>
  </div>
  

{% schema %}
{
  "name": "featured blog",
  "tag": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Section Background ",
      "options": [
        {
          "label": "Transparent",
          "value": "bg-c-none"
        },
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle Light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
      ],
      "default": "bg-c-average"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Blog Post Section Title",
      "label": "Section Title"
    },
    {
      "type": "select",
      "id": "title_color",
      "label": "Title Color",
      "options": [
        {
          "label": "Dark",
          "value": "var(--py-color-dark)"
        },
        {
          "label": "Average",
          "value": "var(--py-color-avarge)"
        },
        {
          "label": "Light",
          "value": "var(--py-color-light)"
        }
      ],
      "default": "var(--py-color-dark)"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 14,
      "max": 40,
      "step": 1,
      "default": 22,
      "label": "Title Font Size"
    },
    {
      "type": "range",
      "id": "title_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 500,
      "label": "Title Font Weight"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Container (Width)",
      "options": [
        {
          "label": "Unset",
          "value": "width-un"
        },
        {
          "label": "Large",
          "value": "width-l"
        },
        {
          "label": "Medium",
          "value": "width-m"
        },
        {
          "label": "Small",
          "value": "width-s"
        }
      ],
      "default": "width-un"
    },
    {
      "id": "page_x_mg",
      "type": "select",
      "label": "Container Margin Horizontal",
      "options": [
        {
          "label": "Unset",
          "value": "mg-x-un"
        },
        {
          "label": "None",
          "value": "mg-x-n"
        },
        {
          "label": "XL",
          "value": "mg-x-xl"
        },
        {
          "label": "L",
          "value": "mg-x-l"
        },
        {
          "label": "M",
          "value": "mg-x-m"
        },
        {
          "label": "S",
          "value": "mg-x-s"
        },
        {
          "label": "XS",
          "value": "mg-x-xs"
        }
      ],
      "default": "mg-x-un"
    },
    {
      "type": "select",
      "id": "page_y_mg",
      "label": "Container Margin Vertical",
      "options": [
        {
          "label": "Unset",
          "value": "mg-y-un"
        },
        {
          "label": "None",
          "value": "mg-y-n"
        },
        {
          "label": "XL",
          "value": "mg-y-xl"
        },
        {
          "label": "L",
          "value": "mg-y-l"
        },
        {
          "label": "M",
          "value": "mg-y-m"
        },
        {
          "label": "S",
          "value": "mg-y-s"
        },
        {
          "label": "XS",
          "value": "mg-y-xs"
        }
      ],
      "default": "mg-y-un"
    },
    {
      "type": "select",
      "id": "page_x_pd",
      "label": "Container Padding Horizontal",
      "options": [
        {
          "label": "Unset",
          "value": "pd-x-un"
        },
        {
          "label": "None",
          "value": "pd-x-n"
        },
        {
          "label": "XL",
          "value": "pd-x-xl"
        },
        {
          "label": "L",
          "value": "pd-x-l"
        },
        {
          "label": "M",
          "value": "pd-x-m"
        },
        {
          "label": "S",
          "value": "pd-x-s"
        },
        {
          "label": "XS",
          "value": "pd-x-xs"
        }
      ],
      "default": "pd-x-m"
    },
    {
      "type": "select",
      "id": "page_y_pd",
      "label": "Container Padding Vertical",
      "options": [
        {
          "label": "Unset",
          "value": "pd-y-un"
        },
        {
          "label": "None",
          "value": "pd-y-n"
        },
        {
          "label": "XL",
          "value": "pd-y-xl"
        },
        {
          "label": "L",
          "value": "pd-y-l"
        },
        {
          "label": "M",
          "value": "pd-y-m"
        },
        {
          "label": "S",
          "value": "pd-y-s"
        },
        {
          "label": "XS",
          "value": "pd-y-xs"
        }
      ],
      "default": "pd-y-m"
    },
    {
      "type": "header",
      "content": "Blog Card Style"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "item_space",
      "min": 0,
      "max": 40,
      "step": 1,
      "default": 10,
      "label": "Card Space"
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 7,
      "label": "Card Border Radius"
    },
    {
      "type": "select",
      "id": "card_bg_color",
      "label": "Card Background",
      "options": [
        {
          "label": "Transparent",
          "value": "bg-c-none"
        },
        {
          "label": "Dark",
          "value": "bg-c-dark"
        },
        {
          "label": "Middle Dark",
          "value": "bg-c-middle-dark"
        },
        {
          "label": "Average",
          "value": "bg-c-average"
        },
        {
          "label": "Middle Light",
          "value": "bg-c-middle-light"
        },
        {
          "label": "Light",
          "value": "bg-c-light"
        }
      ],
      "default": "bg-c-average"
    },
    {
      "type": "select",
      "id": "info_align",
      "label": "Card Info Alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "t:sections.main-blog.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "t:sections.main-blog.blocks.title.settings.show_date.label"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "t:sections.main-blog.blocks.title.settings.show_author.label"
        },
        {
          "type": "select",
          "id": "title_color",
          "label": "Title Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-dark)"
        },
        {
          "type": "range",
          "id": "title_font_size",
          "min": 14,
          "max": 40,
          "step": 1,
          "default": 22,
          "label": "Title Font Size"
        },
        {
          "type": "range",
          "id": "title_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 500,
          "label": "Title Font Weight"
        },
        {
          "type": "range",
          "id": "title_m_font_size",
          "min": 14,
          "max": 40,
          "step": 1,
          "default": 18,
          "label": "Title Mobile Font Size"
        }
      ]
    },
    {
      "type": "link",
      "name": "t:sections.main-blog.blocks.link.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "btn_bg_color",
          "label": "Button Background Color",
          "options": [
            {
              "label": "Transparent",
              "value": "transparent"
            },
            {
              "label": "Dark",
              "value": "var(--py-bg-color-dark)"
            },
            {
              "label": "Middle Dark",
              "value": "var(--py-bg-color-middle-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-bg-color-avarge)"
            },
            {
              "label": "Middle Light",
              "value": "var(--py-bg-color-middle-light)"
            },
            {
              "label": "Light",
              "value": "var(--py-bg-color-light)"
            }
          ],
          "default": "var(--py-bg-color-light)"
        },
        {
          "type": "select",
          "id": "btn_color",
          "label": "Button Text Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-dark)"
        },
        {
          "type": "select",
          "id": "btn_br_color",
          "label": "Button Border Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-dark)"
        },
        {
          "type": "select",
          "id": "btn_hover_bg_color",
          "label": "Button Hover Background Color",
          "options": [
            {
              "label": "Transparent",
              "value": "transparent"
            },
            {
              "label": "Dark",
              "value": "var(--py-bg-color-dark)"
            },
            {
              "label": "Middle Dark",
              "value": "var(--py-bg-color-middle-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-bg-color-avarge)"
            },
            {
              "label": "Middle Light",
              "value": "var(--py-bg-color-middle-light)"
            },
            {
              "label": "Light",
              "value": "var(--py-bg-color-light)"
            }
          ],
          "default": "var(--py-bg-color-light)"
        },
        {
          "type": "select",
          "id": "btn_hover_color",
          "label": "Button Hover Text Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-dark)"
        },
        {
          "type": "select",
          "id": "btn_hover_br_color",
          "label": "Button Hover Border Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-dark)"
        },
        {
          "type": "range",
          "id": "btn_font_size",
          "min": 11,
          "max": 40,
          "step": 1,
          "default": 16,
          "label": "Button Font Size"
        },
        {
          "type": "range",
          "id": "btn_font_weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 600,
          "label": "Button Font Weight"
        },
        {
          "type": "range",
          "id": "btn_border_width",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 1,
          "label": "Button Border Width"
        },
        {
          "type": "range",
          "id": "btn_border_radius",
          "min": 0,
          "max": 40,
          "step": 1,
          "default": 35,
          "label": "Button Border Radius"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      },
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}