<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width">
  <h2 class="page-title">
    {%- if section.settings.page.title != blank -%}
      {{ section.settings.page.title | escape }}
    {%- else -%}
      Page title
    {%- endif -%}
  </h2>
  <div class="rte">
    {%- if section.settings.page.content != blank -%}
      {{ section.settings.page.content }}
    {%- else -%}
      <div class='page-placeholder-wrapper placeholder'>
        {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "page",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        }
      ],
      "default": "vertical",
      "label": "Page layout"
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Page Container (Width)",
      "options": [
        {
          "label": "Unset",
          "value": "width-un"
        },
        {
          "label": "Large",
          "value": "width-l"
        },
        {
          "label": "Medium",
          "value": "width-m"
        },
        {
          "label": "Small",
          "value": "width-s"
        }
      ],
      "default": "width-un"
    },
    {
      "type": "select",
      "id": "page_bg_color",
      "label": "Page Background Color",
      "options": [
        {
          "label": "Transparent",
          "value": "transparent"
        },
        {
          "label": "Dark",
          "value": "var(--py-bg-color-dark)"
        },
        {
          "label": "Middle Dark",
          "value": "var(--py-bg-color-middle-dark)"
        },
        {
          "label": "Average",
          "value": "var(--py-bg-color-avarge)"
        },
        {
          "label": "Middle Light",
          "value": "var(--py-bg-color-middle-light)"
        },
        {
          "label": "Light",
          "value": "var(--py-bg-color-light)"
        }
      ],
      "default": "var(--py-bg-color-light)"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Page Title",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "title_font_size",
          "min": 10,
          "max": 40,
          "step": 1,
          "default": 24,
          "label": "Title Font Size"
        },
        {
          "type": "select",
          "id": "title_color",
          "label": "Title Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-dark)"
        },
        {
          "type": "select",
          "id": "title_align",
          "label": "Title Alignment",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "content",
      "name": "Page Content",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "content_font_size",
          "min": 10,
          "max": 40,
          "step": 1,
          "default": 24,
          "label": "Content Font Size"
        },
        {
          "type": "select",
          "id": "content_color",
          "label": "Content Color",
          "options": [
            {
              "label": "Dark",
              "value": "var(--py-color-dark)"
            },
            {
              "label": "Average",
              "value": "var(--py-color-avarge)"
            },
            {
              "label": "Light",
              "value": "var(--py-color-light)"
            }
          ],
          "default": "var(--py-color-dark)"
        },
        {
          "type": "select",
          "id": "content_align",
          "label": "Content Alignment",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "default": "left"
        },
        {
          "type": "textarea",
          "id": "content_custom_css",
          "label": "Content Custom CSS",
          "info": "Custom CSS for rich text field"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}