{%- if settings.prod_insurance != blank -%}
  {%- assign insuranceID = all_products[settings.prod_insurance].first_available_variant.id -%}
{%- endif -%}

{%- if settings.f_s_show and settings.f_s_price != blank -%}
{%- assign freeShipping = true -%}
{%- else -%}
{%- assign freeShipping = false -%}
{%- endif -%}

<cart-notification>
  <div class="cart-notification-wrapper {% if freeShipping %}cart-notification-wrapper__shipping{% endif %}">
    <div id="cart-notification" class="cart-notification py-{{ settings.py_cart_bg_color }}" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
      <div class="cart-notification__header">
        {%- if settings.cart_heading != blank -%}
          <h2 class="cart-notification__heading caption-large">{{ settings.cart_heading }}</h2>
        {%- endif -%}
        <button type="button" class="modal__close-button" aria-label="{{ 'accessibility.close' | t }}">
          <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-close">
          </svg>
        </button>
        {%- if freeShipping -%}
          <div class="bc-free-shipping-wrapper" data-price="{{ settings.f_s_price }}" data-currency="{{ settings.f_s_currency }}">
            {%- if settings.f_s_text != blank -%}
              <div class="bc-free-shipping-wrapper__text active">
                {{ settings.f_s_text }}
              </div>
            {%- endif -%}
            {%- if settings.f_s_succsess != blank -%}
              <div class="bc-free-shipping-wrapper__success-text">
                {{ settings.f_s_succsess }}
              </div>
            {%- endif -%}
            <div class="bc-free-shipping-bar">
              <div class="bc-free-shipping-bar__progress" {% if settings.f_s_bg_color != blank %}style="background-color:{{ settings.f_s_bg_color }}"{% endif %}></div>
            </div>
          </div>
        {%- endif -%}
        {% if checkoutbtn_position == "top" %}
        <div class="bc-cart__buttons-wrapper">
          <form action="{{ routes.cart_url }}" method="post" id="cart">
            <button id="loopcheckout" class="button button--primary button--full-width  py-btn-{{settings.cart_btn_color}} py-btn-hover-{{settings.cart_btn_hover_color}} py-btn-{{settings.cart_btn_size}}" name="checkout" form="cart">{{ 'sections.cart.checkout' | t }}</button>
          </form>
          {% if enable_dynamic_pay %}
          <button id="loopcheckoutdynamic" class="button button--primary button--full-width  py-btn-{{settings.cart_btn_color}} py-btn-hover-{{settings.cart_btn_hover_color}} py-btn-{{settings.cart_btn_size}}" ><img src="https://cdn.shopify.com/s/files/1/0584/1993/7441/files/image_11.png?v=1641840659"></button>
          {% endif %}
        </div>
        {% endif %}        
      </div>
      <div class="cart-notification-product-label">
        Your Items
      </div>
      <div id="cart-notification-product" class="cart-notification-product">
      </div>
      <div class="cart-notification__links">
        {%- if settings.show_packaging and settings.packaging != blank and settings.packaging_note != blank -%}
          <label for="less-packaging" class="bc-checkbox">
            <input type="checkbox" data-type="packaging" id="less-packaging" value="{{ settings.packaging_note | escape }}" {%- if cart.attributes.lessPackaging == 'true' -%}checked{%- endif -%}>
            <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
            </svg>
            <svg class="icon icon-checkmark" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none" width="10px" height="10px">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
            </svg>
            {{ settings.packaging }}
          </label>
        {%- endif -%}
        {%- if settings.show_insurance and settings.insurance != blank and settings.prod_insurance != blank -%}
          <label for="shipping-insurance" class="bc-checkbox">
            <input type="checkbox" id="shipping-insurance" data-type="insurance" value="{{ insuranceID }}" data-auto="{%- if settings.insurance_auto -%}true{% else %}false{%- endif -%}"/>
            <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
            </svg>
            <svg class="icon icon-checkmark" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none" width="10px" height="10px">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
            </svg>
            {{settings.insurance}}
          </label>
        {%- endif -%}
        <div class="bc-cart__subtotal-wrapper" id="cart-subtotal">          
            <div class="bc-cart__subtotal-label">Subtotal</div>
            <div class="bc-cart__subtotal-value">
              {{ cart.items_subtotal_price | money }}
            </div>          
        </div>
        <div class="bc-cart__shipping-wrapper" id="cart-shipping"> 
          <div class="bc-cart__shipping-label">Estimated Shipping</div>
          <div class="bc-cart__shipping-value">
            {% if shipping_method.price != blank %}
            {{ shipping_method.price | money }}
            {% else %}
             Free
            {% endif %}
          </div>          
        </div>
        <div class="bc-cart__total-wrapper">
          <div class="bc-cart__total-label">Estimated Total</div>
          <div class="bc-cart__total-value" id="cart-total">
            {% if cart.cart_level_discount_application.size > 0 %}
              <ul>
                {% for discount_application in cart.cart_level_discount_applications %}
                  <li>
                    {{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            <span>{{ cart.total_price | money }}</span>
          </div>
        </div>
        {% if checkoutbtn_position == "bottom" %}
        <div class="bc-cart__buttons-wrapper" style="margin-top:25px;">
          <form action="{{ routes.cart_url }}" method="post" id="cart">
            <button id="loopcheckout" class="button button--primary button--full-width  py-btn-{{settings.cart_btn_color}} py-btn-hover-{{settings.cart_btn_hover_color}} py-btn-{{settings.cart_btn_size}}" name="checkout" form="cart">{{ 'sections.cart.checkout' | t }}</button>
          </form>
          {% if enable_dynamic_pay %}
          <button id="loopcheckoutdynamic" class="button button--primary button--full-width  py-btn-{{settings.cart_btn_color}} py-btn-hover-{{settings.cart_btn_hover_color}} py-btn-{{settings.cart_btn_size}}" ><img src="https://cdn.shopify.com/s/files/1/0584/1993/7441/files/image_11.png?v=1641840659"></button>
          {% endif %}
        </div>
        {% endif %}
        <button type="button" class="link button-label">{{ 'general.continue_shopping' | t }}</button>        
      </div>
    </div>
    <div class="cart-notification-overaly"></div>
  </div>
</cart-notification>
{% style %}
  .cart-notification {
     display: none;
  }
{% endstyle %}